[2021-04-12 13:25] deepjyoti30 commented on #173
@kOchirasu Thanks for the feature request. Even tho this might seems like unnecessary, I think I can add this functionality since this will help users access the meta more easily.

I think I can add a flag for the config that will be checked when ytmdl runs and will accordingly be passed to `itunespy`.

Thanks for the useful links tho!

[2021-04-15 06:59] deepjyoti30 commented on #173
@kOchirasu I have worked on adding the feature.

The country can be set from the config file. I tried passing different countries from a python script and the results varied so it will be helpful to find local songs.

However, in order to test it with ytmdl, consider setting the `METADAT_PROVIDERS` to `itunes` so that only the results from itunes are shown.

You can report back here if you find an

[2021-04-18 08:23] kOchirasu opened #175 "Track number not populated for m4a files"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Description

Based on [docs](https://mutagen.readthedocs.io/en/latest/api/mp4.html#mutagen.mp4.MP4Tags), you need to add:
[code]

https://github.com/deepjyoti30/ytmdl/blob/master/ytmdl/song.py#L274-L280

[2021-04-18 20:34] kOchirasu commented on #173
This is one more thing missing because you are not passing country for itunes lookup by id. It should also be passed in here:
https://github.com/deepjyoti30/ytmdl/blob/unstable/ytmdl/metadata.py#L93

[2021-04-22 07:49] deepjyoti30 commented on #173
@kOchirasu Thanks for the heads up. I updated the code!

[2021-04-24 02:25] Catwaiix opened #177 "User interaction required when using --url. Even if --quiet is passed."
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.3.4.dev0`
- Youtube-dl version: `2021.04.17`

## How Ytmdl was installed?

`python3 -m pip install --upgrade https://github.com/deepjyoti30/ytmdl/archive/refs/heads/unstable.zip`

## Console Log

[code]

## Description

When using

[2021-04-24 04:44] deepjyoti30 commented on #177
@Catwaiix Thanks for raising this issue. I will add a fix for this.

Seems like I missed some checks when implementing that feature to ask the user for input.

[2021-04-24 05:12] deepjyoti30 commented on #177
@Catwaiix I have added a patch to not ask new title if the `--skip-meta` flag is passed.

However, removing that prompt if the `--quiet` is passed will be troublesome. It seems like some people will always think of it as a bug and eventually end up reporting it.

I am yet to reach on a fix regarding that.

[2021-04-27 00:29] Vresod opened #178 ""How do you want to open this file?" popup when running ytmdl on windows 10"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [X] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.03.04`
- Youtube-dl version: `2021.04.17`

## How Ytmdl was installed?

`pip install -U ytmdl`

## Console Log

Not applicable, happens before any ytmdl code runs.

## Description

When the command `ytmdl` is run, it opens a "How d

[2021-04-27 00:30] Vresod commented on #178
the `setup.py` references a file called `ytmdl.bat` which I could not find
![image](https://user-images.githubusercontent.com/40863375/116167452-42419480-a6ce-11eb-9282-68c3555c1e35.png)

[2021-04-27 06:19] deepjyoti30 commented on #178
@Vresod That's an weird error.

`ytmdl` is supposed to be actually invoked by the `bat` script which in order runs the actual script. I am not sure why you were not able to find the `.bat` file. This file is automatically installed when the OS is recognized as `Windows`.

As you said the popup happens because the file doesn't have any extension, can you perhaps try renaming the file to one with `.

[2021-04-27 23:04] Vresod commented on #178
Sorry for taking a while to respond.
When I rename it to ytmdl.py it successfully *starts* the program but errors immediately.
<pre lang=py>
Traceback (most recent call last):
  File "C:\Users\lukeb\AppData\Roaming\Python\Python39\Scripts\ytmdl.py", line 22, in <module>
    from ytmdl import (
  File "C:\Users\lukeb\AppData\Roaming\Python\Python39\Scripts\ytmdl.py", line 22, in <module>
    from y

[2021-04-28 07:13] deepjyoti30 commented on #178
@Vresod Yeah the circular import error is happening because now the `ytmdl.py` is conflicting with the `ytmdl` package.

Did you get the above error when you ran `ytmdl`? or did it happen when running `python ytmdl.py`?

[2021-04-28 14:01] Vresod commented on #178
I got it when I ran `ytmdl`.

[2021-05-05 04:05] #146 closed

[2021-05-12 11:53] #150 closed

[2021-05-26 14:43] #173 closed

[2021-05-26 14:43] #177 closed

[2021-05-26 15:06] deepjyoti30 commented on #175
Added in the latest release.

[2021-05-26 15:06] #175 closed

[2021-05-27 09:40] leventerevesz opened #181 "Consider removing links to and mentions of copyrighted music to avoid DMCA takedown of the project"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

In November 2020 youtube-dl received a DMCA takedown request and was taken down from GitHub (temporarily) because it used copyrighted songs in its tests ([see an article here](https://www.eff.org/deeplinks/2020

[2021-05-27 12:04] deepjyoti30 commented on #181
@leventerevesz Thanks for raising the issue. I am aware about what happened to `youtube-dl`. I think now would be a good time to remove all the mentions.

I will take a look at the source to see mentions. I wanted to do this way back but got caught up with other work.

[2021-05-27 12:50] deepjyoti30 commented on #181
@leventerevesz Just updated the wiki, README and some stuff in the source to use non copyright music.

If there's anywhere else you think there's a copyrighted song being used, please point that out. Also thanks for the issue!

[2021-05-27 16:50] leventerevesz commented on #181
I think we're good, no more problematic strings left in the repo.

[2021-05-28 07:06] Diridibindy opened #183 "Add an option to use youtube-dl --download-archive"
# Feature Request

## Checklist

- [•] I've searched the bugtracker for similar feature requests including closed ones.
- [•] I will add the enhancement label to the issue.

## Description

Add an option to use

`youtube-dl --download-archive
`

From the manpage

`Download only videos not listed in the archive file. Record the IDs of all downloaded videos in it.`

It will be especially useful for

[2021-05-28 11:23] #181 closed

[2021-05-28 11:28] deepjyoti30 commented on #183
@Roman-Os I am not exactly familiar with that flag but does it work like a _skip_ list?

So basically the user will pass a list with a few `videoID's` and while downloading a playlist if a `videoId` is on that list, that song is supposed to be skipped?

[2021-05-28 17:46] Roman-Os commented on #183
Exactly. It isn't the best solution for checking whether the song is already downloaded, but it is good enough.

[2021-05-29 07:33] Aneeqasif opened #184 "wrong metadata album art +1 sugession"
# Bug report

## Checklist

- [ x] I have searched for similar bugs in the issues.
- [ x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.05.26-1`
- Youtube-dl version: `2021.04.26`

## How Ytmdl was installed?

Aur git version

## Description

mostly the album art of the songs i searched for is wrong mostly covers and things done by other people. i highly suggest

[2021-05-29 12:50] deepjyoti30 commented on #184
@Aneeqasif Did you select the metadata option yourself? This seems like an issue with the provider of meta. Sometimes the providers do not have proper meta but the song name stays the same, so users select that meta and it ends up with wrong metadata.

Please consider posting a whole log of a song you downloaded. It will help understand the issue better. Just use one song as example (one that you

[2021-05-29 18:04] Aneeqasif commented on #184
[code]

i tested 2 or 3 of these options but album art was wrong always.
secondly all the metadata other than album art is good , with youtube-dl i guess your are talking about embed-thumbnails flag but it doesnt actual do it in right way and also other metadata is  missing in that scenario . i  wish there would be away to use album art of youtube thumbnails and all other metadata from ytdml apis.

[2021-05-29 18:59] Diridibindy opened #185 "Add an option to pass other options to youtube-dl"
# Feature Request

## Checklist

- [ • ] I've searched the bugtracker for similar feature requests including closed ones.
- [ • ] I will add the enhancement label to the issue.

## Description

I can see that ytmdl already exposes a lot of ytdl options but considering issue #183, it may be wise to make options passable directly to youtube-dl. That would also mean making default options that are pa

[2021-05-31 11:56] VicFic2006 commented on #158
You could look at how [spotdl](https://github.com/spotDL/spotify-downloader) implemented it.

[2021-06-05 14:52] deepjyoti30 commented on #184
@Aneeqasif Thanks for sharing the example.

I tried the song myself and it turns out the album art is different. Mind you, it's not "wrong" from `ytmdl`'s perspective. This is because the covers are provided directly by the sources and `ytmdl` merely just adds that cover. In the case of this song, all the covers are not the correct one, however technically, `ytmdl` is adding the `correct` cover.

[2021-06-05 16:26] deepjyoti30 commented on #185
@Diridibindy That does sound like a neat feaature. I would like to add it. However, can you point me to some app that already does that?

Adding all the flags that are supported by `youtube-dl` directly to `ytmdl` would not be a proper way.

I think adding support for a file that has `youtube-dl` flags would be nice. The user can just pass the path to that file and `ytmdl` will pick it up and pass

[2021-06-06 12:19] pyccino opened #186 "How to fix "Dependencies needed for trim are not installed"?"
How to install ytmdl [noise-clean] from pip?

## Checklist

- [x] I tried talking with the developer on the Telegram support group.
- [x] I've looked through the README and the WiKi for something similar.

## Question

I've originally installed ytmdl on my raspberry-pi using the command "pip3 install ytmdl" then I proceeded to install the dependencies i found  in line 35 in the file "setup.py" ("

[2021-06-06 12:49] Aneeqasif commented on #184
thanks for considering my comment. i hope i would find some way to do that. or it might be added as #185 get in. because there is a flag in youtube-dl called `--add-metadata` that **adds thumbnail as album art** , artist name and album (a lil bit of  metadata) to the song . i guess if you add feature to pass flags to youtube-dl then it might work. Anyways it would be a great feature to add yt thum

[2021-06-07 12:45] deepjyoti30 commented on #184
@Aneeqasif I think adding #185 would fix this issue. I will keep it open till that one is implemented. You can then test it and continue the conversation here.

However a thing to note is, after youtube-dl does it's processing, `ytmdl` by default, removes all the previously added meta tags from the song and then adds new ones so there might be need for a little bit of fix but we can discuss that o

[2021-06-07 12:47] deepjyoti30 commented on #186
@Kingofwizard We can continue the discussion we had on Telegram over here. You can share the link to your repository.

Regarding your issue, as I suggested it might be a pip3 issue. I will try using `trim` locally and see if this issue remains.

[2021-06-07 13:48] deepjyoti30 commented on #183
@Diridibindy You can test the feature by pulling the latest commits.

[2021-06-10 07:06] Diridibindy commented on #185
`--config-location` does indeed load a config from a file. If this method is used then a file would need to be created and taken care of after the operation has finished.

There is also an option of using bash magick with `!@` and `@!`, but that has its own drawbacks.

IMHO, the config file approach is fine, it should be seamless though.

[2021-06-10 07:46] Diridibindy commented on #183
I tested it and I can't seem to get it to work. The archive file stays empty at all times.

[2021-06-10 14:01] deepjyoti30 commented on #183
@Diridibindy I think there was a misunderstanding. I thought that the file would be just one way edited. I didn't know that the app is supposed to update it with the downloaded video ID's. I will make those changes!

[2021-06-10 14:02] deepjyoti30 commented on #185
@Diridibindy Adding something like bash magick would totally have drawbacks, moreover we need to consider cross platform support so adding something assuming the `shell` will probably not be a good idea.

I will work on adding support for the config file!

[2021-06-10 19:19] Diridibindy commented on #183
Sorry about the miscommunication on my part. That is indeed how I meant it should work. If that works on your part then you can consider the issue closed. I can't really test it myself right now

[2021-06-23 09:03] #170 closed

[2021-06-24 13:43] #156 closed

[2021-06-24 13:43] #166 closed

[2021-06-26 12:45] #183 closed

[2021-06-26 22:25] j0hax opened #188 "local variable 'stream' referenced before assignment"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `PUT VERSION HERE`
- Youtube-dl version: `PUT VERSION HERE`

## How Ytmdl was installed?

I am the package maintainer for ytmdl on NixOS. The package was built by Nix during a test for the new version bump.

## Console Log

[code]

## De

[2021-06-27 14:07] #188 closed

[2021-06-27 14:09] deepjyoti30 commented on #188
@j0hax Thanks for reporting the issue. It was actually a logical error in the code that was causing the issue. The `stream` variable was referrenced even if the `--download-archive` value was not passed. Just released a fix for the issue.

Should be working now! I did test the song you provided with the patch and it worked all right.

[2021-06-27 14:11] deepjyoti30 commented on #188
@johnnymatthews Also do consider sharing the link to the nixOS package or perhaps updating the README and making a PR. I would love to add links for the package!

[2021-07-02 11:27] #163 closed

[2021-07-05 15:23] samuelpetrosyan commented on #37
Still slow download!!?? Is there any solution?

[2021-07-05 15:35] samuelpetrosyan opened #190 "Slow Searching and downloading"
# Bug report

## Version Info

- Ytmdl version: `latest`
- Youtube-dl version: `latest`

## How Ytmdl was installed?

Write here how you installed ytmdl. If it was through pip or some other way.

pip install ytmdl

## Description

It takes about 1 minute to get the result of music searching. And then downloading also takes a long time! Is there any solution to this problem??

Thanks in advance and

[2021-07-07 10:40] deepjyoti30 commented on #190
@samuelpetrosyan The latest version of ytmdl uses youtube-dl under the hood so if downloading is slow it might be something with your connection.

Can you try downloading the same song with youtube-dl and see if it's the same.

Regarding searching, I'll take a look at that, might be that the library being used `youtube-search` is not working as expected.

[2021-07-07 10:40] deepjyoti30 commented on #37
@samuelpetrosyan This issue should be irrelevant to slow downloads if you're using the latest version because after this release, I moved the code to use `youtube-dl` all together for downloads.

[2021-07-07 12:26] samuelpetrosyan commented on #190
Yeap, I also researched and noticed that the problem is in youtube-search. And interesting that on one node it does search so fast and on another node it does it so slow! So much contrast...
Maybe it's an youtube search design issue. Anyways thanks.

[2021-07-08 10:34] deepjyoti30 commented on #190
@samuelpetrosyan Yeah, I will take a look to see if the issue is happening on a lot of songs. Can you perhaps share some name of songs that `youtube-search` took time to find?

[2021-07-12 05:09] samuelpetrosyan commented on #190
song name did not matter.

[2021-07-12 15:58] #153 closed

[2021-07-12 16:00] deepjyoti30 commented on #186
Closing due to inactivity

[2021-07-12 16:00] #186 closed

[2021-07-15 17:50] 89z opened #191 "ERROR: Sign in to confirm your age"
[code]

[2021-07-16 14:45] hemish04082005 commented on #178
This seems to be an issue with windows handling python generated binaries. I have encountered the same for many more projects on github. The solution seems to run the script in wsl (Windows Subsystem for Linux) environment. It works like a charm in that

[2021-07-16 14:50] deepjyoti30 commented on #178
@hemish04082005 Thanks for the suggestion. WSL is a nice solution because `ytmdl` runs flawlessly on Linux. However, adding support for Windows is one of the things I wanted to do so that the end user can just set it up without setting up anything else.

This error is very weird because I personally do not face it.

[2021-07-16 14:52] deepjyoti30 commented on #191
@89z This seems like an `youtube-dl` error. Ofcourse the error is indicating the video on YouTube requires the user to verify their age (basically sign in) so this means you'll have to pass some session cookies to `youtube-dl` (not sure if they have something like that).

Anyway, I can add support to pass something like session cookies to `youtube-dl` if they support it but without that I really c

[2021-07-16 18:27] hemish04082005 commented on #178
@deepjyoti30 I had the same issue, so ran it straight in WSL.

[2021-07-18 22:11] leventerevesz opened #193 "Playlist extraction forgets to unpack song title from tuple"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.06.26-1`
- Youtube-dl version: `2021.06.06`

## How Ytmdl was installed?

pip

## Console Log

[code]

## Description

Playlist extraction does not correctly unpack track titles.

The extracted song title should be `'Give Life Back

[2021-07-22 06:59] deepjyoti30 commented on #193
@leventerevesz This is very weird. I just clean installed the same ytmdl version and tried your playlist and it is extracting the title all right.

Moreover, in the latest version the user is no more prompted asking if they would like to change the title of the song to search with.

From your logs, it seems like you have two versions installed. When you're invoking the command `ytmdl` the binary i

[2021-07-22 18:56] #191 closed

[2021-07-23 13:22] deepjyoti30 commented on #185
@Diridibindy I was trying to add the `--config-location` flag, however there are issues with that.

`youtube-dl` internally, uses the `parseOpts` function which basically uses the argument parser they are using (`optparse`) to parse the flags present in the file. Once that's done, the commands are then accordingly passed.

However, there's a catch at this point, the parser reads the options direct

[2021-07-25 06:26] ThatGeekyWeeb commented on #158
figured I would add to this since I've worked directly with the spotify api multiple times, there are certain api calls which do not require a premium account iirc, additionally I still have complete access to the api despite canceling my membership over the past month(s), as well as the fact that I am still able to use them from an account that has only ever been free, I believe that only the pla

[2021-07-26 08:20] leventerevesz commented on #193
You are right, the binary somehow got stuck on an older version. After removing the (system-wide) pip package and manually deleting the binary, and reinstalling with pip, it works fine.

[2021-07-26 08:20] #193 closed

[2021-07-26 10:08] deepjyoti30 commented on #158
@ThatGeekyWeeb Thanks for the heads up. I was actually considering adding this feature in the upcoming release and was aiming to test some code with the API.

I took a look at `spotdl`'s code and turns out they are providing a client ID and secret of their own that is being used by everyone who's using the app.

I was considering going that way and creating client ID and secret of my own for `ytmd

[2021-07-26 12:23] deepjyoti30 commented on #158
@kiikoh @VicFic2006 @ThatGeekyWeeb I'm happy to announce that Spotify support will be available from the next release.

If you're interested you can pull the latest commits from the `unstable` branch, install and use it yourself.

Support was added in 5a2f58e

[2021-07-26 20:13] ThatGeekyWeeb commented on #158
thank you! I'll test it right away!

[2021-07-26 20:47] ThatGeekyWeeb commented on #158
There should be a config option to change the country selected for the `market` opt, otherwise it seems to work!

[2021-07-27 04:06] deepjyoti30 commented on #158
@ThatGeekyWeeb I'll see if the library has an option like that while searching. I understand that will beneficial and we already allow something similar for Itunes by passing the `ITUNES_COUNTRY` flag so this shouldn't be much hard if the API already supports that!

[2021-07-27 11:39] deepjyoti30 commented on #190
@samuelpetrosyan I faced the issue too.

Turns out the first search is pretty fast with `youtube-search` but the second search takes forever. That's not convenient. I made some changes to test with [youtube-search-python](https://github.com/alexmercerind/youtube-search-python) instead and it's working like a charm.

I have noticed that with the latter the search takes about a second more than the

[2021-07-27 11:41] deepjyoti30 commented on #190
In case you're interested, you can take a look at 09db5b89bc63 which migrates to `youtube-search-python`

[2021-07-27 12:24] deepjyoti30 commented on #158
@ThatGeekyWeeb I have added support for the `SPOTIFY_COUNTRY` feature. You can take a look at 62ad5b55088ead9a0edc47c115c54f64770b29d2

[2021-07-27 16:00] ThatGeekyWeeb commented on #158
That works great! It might be smart to add a command line opt that allows providing the ID of a track; as seen here

[2021-07-27 16:03] ThatGeekyWeeb commented on #158
Much like `--itunes-id`, something like `--spotify-id` would be useful because searching for songs doesn't work sometimes due to license causing various issues with who the main artist is listed as

[2021-07-30 00:17] jasondlouw opened #194 "--skip-meta doesn't current work"
# Version Info
YTMDL - Latest
YTDL - Latest

# Installation Method
Latest GitHub release (ytmdl-git from AUR)

# Issue
Running ytmdl with the --skip-meta flag still asks for a metadata selection.

This is frustrating because some of the music I am downloading cannot be found through any of the agents and thus I can't move onto the next song.

This is an amazing project, thank you for all the hard

[2021-07-30 14:09] deepjyoti30 commented on #158
@ThatGeekyWeeb Thanks for the suggestion, I'm thinking of adding that in the next iteration!

[2021-07-30 14:19] deepjyoti30 commented on #194
@jasondlouw Thanks for reporting the issue.

I just tested the latest version on my machine and the `--skip-meta` flag worked all right.

Can you tell me how exactly you ran the command? Was it with just one song or did it happen when you tried downloading a playlist?

Also, the `-git` version on `AUR` looks updated.

Can you share the version of `ytmdl` by running `ytmdl --version`?

[2021-07-30 14:46] deepjyoti30 commented on #158
@ThatGeekyWeeb Added support for `--spotify-id`. You can try it out if you want. Refer to 79f57b1fd27

I'll add an official release in a few days!

[2021-07-30 15:04] jasondlouw commented on #194
Thank you for the reply

I've only tried running the --skip-meta flag with a playlist and it prompts for a metadata selection.

# Config

I currently use the default config from `https://raw.githubusercontent.com/deepjyoti30/ytmdl/master/examples/config` the only values that have been changed are:
* DEFAULT_FORMAT = "opus"
* Added musicbrainz option as a metadata provider
* Used the suggested adva

[2021-07-30 15:07] deepjyoti30 commented on #194
@jasondlouw It's very weird, I just tried the playlist you provided and passed the `--skip-meta` option and it worked all fine!

[2021-07-30 15:08] deepjyoti30 commented on #194
Can you try passing the `--skip-meta` option after the URL

[code]

[2021-07-30 15:15] jasondlouw commented on #194
So I thought "Why not" and deleted `~/.config/ytmdl` and `~/.cache/ytmdl` and it is now working as expected. There must have been something weird happening somewhere there...

Thank you for you assistance

[2021-07-30 15:24] jasondlouw commented on #194
After some testing it seems that if I make any change to my `~/.config/ytmdl/config` it breaks the --skip-meta flag on my system but running the default config works without issue.

[2021-07-30 15:26] deepjyoti30 commented on #194
@jasondlouw Can you share your config that's causing the error?

[2021-07-30 15:31] jasondlouw commented on #194
I have only changed the SONG_DIR option

https://raw.githubusercontent.com/jasondlouw/test/main/config

[2021-07-30 20:05] ThatGeekyWeeb commented on #158
I would recommend tweaking the api to use 300x300 for the image size for the cover art, unless theres a config for that; if not one for such might be useful, otherwise works perfectly! even able to grab removed songs thanks to the ID flag now!

[2021-07-31 06:53] deepjyoti30 commented on #158
@ThatGeekyWeeb It already uses the best possible quality provided by Spotify. Also, it's not possible to switch the quality through the URL!

[2021-07-31 11:52] ThatGeekyWeeb commented on #158
well unless @kiikoh feels anything is missingm I think the spotify imp works great!

[2021-07-31 14:22] kiikoh commented on #158
I will check it out soon... Kinda new to this open-source stuff. Glad the feature was implemented

[2021-08-01 08:11] deepjyoti30 commented on #194
@jasondlouw I was able to find the issue.

When you try to use advanced path naming (like the one you have above with `SONG_DIR = "/mnt/Data/Media/Music$Artist->Album->Title"`, it is important that the file has metadata too because details like `Artist Name` etc are from metadata.

This is how `ytmdl` functions (in a nutshell):

- Check if `--skip-meta` is passed. If it is, then try to do a dry cl

[2021-08-01 08:50] deepjyoti30 commented on #194
@jasondlouw The issue is fixed from my end. If you use the latest commit from the `unstable` branch or wait 2 days for a new release, the `skip-meta` not working will stop.

However, as I said, you would still not get the song in a dynamically created directory, instead it's base will be used as a fallback!

[2021-08-01 09:18] #194 closed

[2021-08-01 09:27] deepjyoti30 commented on #194
@jasondlouw Changes should be available in the latest release!

[2021-08-01 09:28] deepjyoti30 commented on #158
@kiikoh @ThatGeekyWeeb Added in the latest release.

You can create new issues if you find any regarding Spotify. I'll close this since the feature is now added!

[2021-08-01 09:28] #158 closed

[2021-08-01 09:29] deepjyoti30 commented on #190
@samuelpetrosyan Fixed in the latest release!

[2021-08-01 09:29] #190 closed

[2021-08-01 11:00] jasondlouw commented on #194
Thank you greatly for your assistance!

The lack of dynamic directories with `--skip-meta` is actually ideal for me as I use the MusicBrainz Picard application to add metadata and sort my library in any case.

[2021-08-01 11:04] deepjyoti30 commented on #194
@jasondlouw I'm glad it's not a problem for you!

[2021-08-05 18:51] TheCatster opened #196 "Pass flags instead of using config file"
I'm not sure if this is a feature already, but it isn't one that I've seen. I'm writing a quick bash script to take care of a few playlists, and I'd like them to work without intervention in my given directory. The issue is, the directory I want (as an example) is `./music/playlists/<playlist name>`. I thought that I could pass `SONG_DIR` as an env var, but that seems to be completely ignored.

Co

[2021-08-06 12:53] deepjyoti30 commented on #196
@TheCatster That can be a good addition, however there are already various fallbacks for the `SONG_DIR` value.

Reading from the `environment` might not be a preferred way since it can cause issues if some other program sets the value. Plus, I don't think reading flags from the environment is a preferred option by CLI applications.

However, I can add a flag to specify the `song_dir` value that wi

[2021-08-06 15:13] TheCatster commented on #196
I'm honestly not sure if it's a preferred way or not, it just seemed more convenient. And absolutely I can do that, I was just trying to find a cleaner implementation.

If the name is specific enough (i.e. `YTMDL_SONG_DIR`) I don't think conflicts would occur. Another question alongside this would be, can I move that config to be in the same directory as the script, or does it have to stay in `XDG

[2021-08-06 15:17] deepjyoti30 commented on #196
@TheCatster The config will have to stay in `XDG_CONFIG_HOME`.

I think the specific name solution might work! I'll revisit this before the next release!

[2021-08-12 12:53] kajus-park opened #200 "More options for playlist metadata"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description
While downloading playlists I sometimes cannot find a song in the selection for the metadata.
Currently I think I have to choose one song to proceed even if the correct choice is not available.
I would appreciat

[2021-08-15 06:22] deepjyoti30 commented on #200
@kajus-park You can skip the metadata of a song by entering `-1` when you are asked to select the metadata for a song.

Also, there are features like `on-error` which tells ytmdl what to do if an error occurs, it accpets options like `do nothing, skip that song` etc.

[2021-08-15 06:24] deepjyoti30 commented on #200
You can check the `ON_META_ERROR` flag of the config or the `--on-meta-error` flag of the CLI, both do the same thing.

If you set it on the config file then it will be used automatically every time the app runs.

[2021-08-15 09:49] kajus-park commented on #200
Thanks a lot. For some reason I didn't find that.

[2021-08-15 09:49] #200 closed

[2021-08-20 20:40] #196 closed

[2021-08-24 01:56] Vresod commented on #178
Confirmed for 2021.08.01

[2021-08-24 05:18] rubyFeedback opened #201 "[Documentation on the main README / FAQ entry] Does it work with videos, and does it work with age-restricted content?"
Does it work with videos, and does it work with age-restricted content?

The reason why I am asking is because youtube-dl had issues when I tried to use it for
age-restricted content (on youtube). I used a proxy site to bypass the age-restricted
content (I am waaaaay above over-age and since Google keeps on sniffing after me
in the last ~20 years I wonder how they could ever possibly assume that I

[2021-08-24 05:54] deepjyoti30 commented on #201
@rubyFeedback `ytmdl` uses `youtube-dl` under the hood in order to download the songs so you'd still have the same Age restricted issues.

However, `ytmdl` allows you to pass the proxy that is passed on directly to `youtube-dl` while downloading something. You can try that flag.

[2021-08-24 09:47] hemish04082005 commented on #178
Actually, if it is run with git-bash instead of powershell or cmd, then it works correctly as it should work, maybe there is some component using *nix shells

[2021-08-24 22:26] Catwaiix commented on #178
It can run on plain cmd too. You just have to prepend `python` before calling `ytmdl`.
![](https://i.imgur.com/UBEg3UL.png)
[Winpython64-3.8.10.0dot on Windows 7 running YTMDL 2021.08.01 just fine](https://i.imgur.com/UBEg3UL.png)

[2021-08-25 01:09] Vresod commented on #178
Can't reproduce,
![image](https://user-images.githubusercontent.com/40863375/130709854-0f32a48f-87ce-4003-a261-ba179f2f0499.png)

[2021-09-04 16:43] KraXen72 opened #202 "give youtube music a try"
as described through telegram, use https://github.com/sigma67/ytmusicapi to get the correct autogenerated video for every song, and also meteadata. this would streamline the process a lot and potentially give ability to download whole albums / artists at once (this would maybe  need some external downloader idk)

[2021-09-12 00:51] pietrotavares commented on #202
Most of the time I'm downloading from music.youtube as it has less "garbage" (videos that aren't music) than youtube, by definition.
Especially when downloading entire albums, the behavior is just more stable when targetting music.youtube (compared to other source), IMO.

As a user, I think this feature would be very nice.

[2021-09-12 01:06] pietrotavares opened #203 "after "running out of metadata options" allow the user to insert metadata manually"
# Feature Request

## Checklist

- [X] I've searched the bugtracker for similar feature requests including closed ones.
- [X] I will add the enhancement label to the issue.

## Description

If you're a little bit into [somewhat] alternative music, I'm pretty sure the following also happened to you already:
You told **ytmdl** to download an album, there's a song with a very "hard-to-scrape" (aka or

[2021-09-13 11:40] block6791 opened #204 "Youtube playlist downloads - No matches found"
# How to download playlists at once?

## Checklist
Just installed this on Manjaro. Downloading single videos for music extraction works fine, including the metadata. However, when I paste a link to a YouTube playlist, I get the error "no matches found". For example, downloading this public playlist from a Linux YT channel (just an example) fails:

ytmdl https://youtube.com/playlist?list=PLqmbcbI8U

[2021-09-14 06:24] deepjyoti30 commented on #204
This is not a `ytmdl` error. As you can see it says `zsh: no matches found`. That indicates the shell wasn't able to find any matches.

This is happening because the URL you passed contains certain characters that's making zsh thing it's a command. In order to let zsh know that it's an argument to the previous command, i:e `ytmdl`, you need to pass it as a string in the following way:

[code]

[2021-09-14 06:29] deepjyoti30 commented on #203
@pietrotavares There is already an option.

We have a flag named `on_meta_error` that allows you to do what you're saying. This flag can be passed for every ytmdl instance as a flag in the following way:

[code]

You can also set the above field from the config to use it by default when adding metadata fails:

[code]

Moreover, I understand what you're saying about alternative music. Using the abo

[2021-09-14 06:51] deepjyoti30 commented on #202
@KraXen72 Thanks for raising the feature request. @pietrotavares Thanks for your input. I agree that Youtube Music will be very useful, especially for songs that are not hugely popular or are not available in metadata sources.

However, we will have to test with Youtube Music in order to check if it will be a good enough alternative. One major hurdle is the API. Since Youtube Music is quite new, t

[2021-09-15 12:16] pietrotavares commented on #203
Oh, I totally missed that!

Thank you @deepjyoti30.

[2021-09-15 12:16] #203 closed

[2021-09-17 18:32] block6791 commented on #204
Thanks for the clarification. It works now!

[2021-09-28 00:48] #184 closed

[2021-09-30 01:34] Catwaiix opened #205 "user interaction shouldn't be needed when a --list of --url is provided"
# Bug report

## Version Info

- YTMDL Version: `2021.08.01`
- YouTube-DL version: `2021.06.06`

## How YTMDL was installed?

Installed on WinPython 3.8.10.amd64 with `pip install ytmdl`

## Console Log

[code]

<img src="https://i.imgur.com/eCoJqmq.png">
<blockquote class="imgur-embed-pub" lang="en" data-id="a/IFTpRZJ"  ><a href="//imgur.com/a/IFTpRZJ">YTMDL v2021.08.01 with YouTube-DL v2021.06.0

[2021-10-03 15:02] Vresod opened #206 "Certain songs don't get metadata"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [X] I will add the bug label to this issue.

## Version Info

- Ytmdl version: 2021.08.01
- Youtube-dl version: 2021.06.06

## How Ytmdl was installed?

`pip install -U ytmdl`

## Console Log

[code]

## Description

When downloading songs that have an asterisk in their author or title name, the metadata is not app

[2021-10-15 08:37] DarQyy opened #207 "UnicodeEncodeError: 'charmap' codec can't encode"
# Bug report

## Checklist

- [ ] I have searched for similar bugs in the issues.
- [ ] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.8.1`
- Youtube-dl version: `2021.6.6`

## How Ytmdl was installed?

Manual

## Console Log

[code]

## Description
All songs download normally, except for one.

[2021-10-17 05:22] deepjyoti30 commented on #178
@MentalBlood Can you confirm this issue get's fixed with the renaming of the file?

The batch script was adapted from some other famous python apps that were doing that when I was looking for a solution and that was the one that actually seemed to work.

[2021-10-22 13:58] mariorossi77 opened #208 "disable logging"
Is it possible to disable logging to .cache/ytmdl/logs/log.cat  ?
other than ln -s /dev/null log.cat

this is needed especially for sbc that run off of sd cards

[2021-10-25 06:00] #207 closed, assigned to nobody

[2021-10-28 11:04] #208 closed, assigned to nobody

[2021-11-01 03:39] Vresod commented on #178
Confirmed for Python 3.10, more importantly it happens on a "new" python install, not sure if that changes anything

[2021-11-01 03:51] Vresod commented on #178
As an added note, another workaround is copying the plain `ytmdl` file to `site-packages\ytmdl\__main__.py` works to make it run with `python -m ytmdl`

[2021-11-01 13:14] deepjyoti30 commented on #206
@Vresod Can you take a look at this commit: a8803d34e62dc964c3ccf

I have added the fix and tested with the song you shared. It's working fine with the fix above. Do reply back here if the issue persists!

[2021-11-01 13:17] #204 closed

[2021-11-01 13:41] deepjyoti30 commented on #205
@Catwaiix The above reference commit fixes the issue. When URL's are passed through list, they are passed as URL's to `ytmdl` and accordingly everything happens. There is no prompt asking the user to select an option.

You can report back here if the issue still exists!

[2021-11-01 13:55] deepjyoti30 commented on #178
@Vresod Does the `ytmdl` command work by itself when you rename the `ytmdl` file to `__main__.py` and put it in the package directory?

If it **does** work that way, I can make changes to the way ytmdl is packaged for Windows systems and get rid of this error altogether.

[2021-11-01 20:17] Vresod commented on #206
Same error, top of my head guess is that `*` needs to be escaped with regexes? ```
 ==> Searching to see if already present in C:\Users\lukeb\Music
 ==> Searching Youtube for its gonna be me
 ==> Choose One (One with [M] is verified music)
 [1] *NSYNC - It's Gonna Be Me (It's Gonna Be May - Official Video) by *NSYNC with dur 3:25
 [2] *NSYNC - It's Gonna Be Me (Audio) by *NSYNC with dur 3:13
 [3]

[2021-11-01 20:23] Vresod commented on #178
Somehow the issue gets solved when installing from source? Not a clue why.

[2021-11-02 04:39] deepjyoti30 commented on #206
@Vresod Did you fetch the latest commit from the unstable branch?

The * is being escaped by using regex and I tested with the same song and it worked fine.

Please do a clean build of ytmdl by fetching the latest commits from the unstable branch.

- Uninstall ytmdl using pip and any package managers (if you have any)
- Fetch latest commits from *unstable* branch
- Install using manual install ins

[2021-11-06 19:41] quentincaffeino opened #209 "Quite flag should disable all the output, otherwise dismissing output produces `Inappropriate ioctl for device`"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.08.01`
- Youtube-dl version: `2021.06.06`

## How Ytmdl was installed?

`python3 -m pip install ytmdl`

## Console Log

[code]

## Description

So if I use ytmdl as a child process of my node program and it fails because of dynamic

[2021-11-07 06:07] deepjyoti30 commented on #209
@quentincaffeino Thanks for raising the issue.

The issue is not exactly from `ytmdl` but instead from a dependent package `downloader-cli` that ytmdl uses in order to show the progress of the downloads.

Working on a fix as we speak. This issue should be resolved in the next release!

[2021-11-07 06:22] deepjyoti30 commented on #209
@quentincaffeino The above mentioned commit fixes the issue you were facing.

I have tested with the logs you provided and the patch fixes the issue. The song downloads properly. I am planning to add a release today itself so I will add these changes.

If you want you can test the commits or wait for the release!

[2021-11-07 06:26] #205 closed

[2021-11-07 06:26] #209 closed

[2021-11-07 06:38] deepjyoti30 commented on #206
@Vresod Should be fixed in the latest release!

[2021-11-07 06:38] #206 closed

[2021-11-18 03:14] SisyphusIsntHappy opened #210 "Please implement fix to n-parameter challenge by youtube."
# Feature Request

## Checklist

- [ X] I've searched the bugtracker for similar feature requests including closed ones.
- [ X] I will add the enhancement label to the issue.

## Description
I believe yt-mdl use youtube-dl under the hood, and downloads as I observe are very slow, about 40-75KBps on a 10MBps connection.
I don't know if you are aware of this, but youtube has throttled download speed

[2021-11-18 14:51] deepjyoti30 commented on #210
@SisyphusIsntHappy Thanks for raising this request. I will take a look. I have indeed noticed the slower download speeds and I kind of thought it was an youtube-dl issue. I will see what can be done regarding that!

[2021-11-19 05:24] deepjyoti30 commented on #210
@SisyphusIsntHappy I took a look at the issue. I can see that YouTube is now randomly trying to slow down simultaneous downloads by using that n-parameter challenge.

The issue is that `ytmdl` uses `youtube-dl` under the hood to download the songs. It itself doesn't handle any part of the download. The download is merely passed on to youtube-dl and it in return downloads the song.

This means that

[2021-11-19 13:46] deepjyoti30 commented on #210
@SisyphusIsntHappy Yes I am aware of spotify-dl. I actually did take a look at their source few months back and I think they do use pytube.

Also, as it turns out the issue for the n-param challenge is already fixed in pytube.

[2021-12-14 17:28] #201 closed

[2021-12-18 05:44] deepjyoti30 commented on #210
Hi @SisyphusIsntHappy Seems like `youtube-dl` has added a fix for this and added a new release. This issue should be fixed with the released of youtube-dl 2021.12.17.

Do check and report back here if it's not fixed. On my end, it's fixed!

[2021-12-18 05:44] #210 closed

[2021-12-24 15:29] 89z opened #211 "Windows"
Windows support seems to be very poor. Currently a `pip install ytmdl` creates this file:

[code]

which appears to be a Python script. I think this is a poor solution, as other tools offer a different experience. For example, running `pip install youtube-dl`, you get this file:

[code]

which is an executable file, that calls Python as needed. I dont think its a good idea to assume that Windows u

[2021-12-27 04:16] deepjyoti30 commented on #211
@89z I understand your concern. I myself have felt like Windows support is poor. However, as I have always said, I cannot really add support without some users to test on since I do not have access to an Windows machine.

Moreover, the python file `ytmdl` is added to scripts, that's correct. But you missed the `.bat` script that is also added to make sure that when an user types `ytmdl` on the CLI

[2021-12-27 04:23] 89z commented on #211
If I do `pip install ytmdl`, I dont get any `.bat` file, only the Python file `ytmdl`. This includes search in the `C:\python\Scripts` folder.

[2022-01-20 00:42] Rockpods commented on #202
Innertube gives a lot of extra data but can search on youtube music and youtube. Innertube also has limited documentation, but it should get the job done if youtubemusicapi does not have enough data.

[2022-01-20 05:43] deepjyoti30 commented on #202
@Rockpods Thanks for the suggestion. `inntertube` looks like a good option based on it's repo. One thing that is concerning is if `innertube` will be maintained in the long run. I can see the last commit being on Nov 21 (though that's cool, if there's nothing to fix, nothing to commit in a library like this).

[2022-01-23 15:45] jr1221 opened #212 "Use yt-dlp instead of youtube-dl"
# Feature Request

## Description

Since youtube-dl is [without a maintainer ](https://github.com/ytdl-org/youtube-dl/commit/21b759057502c6e70d51011cfb3fb86d8405518) and updates, the seemingly random throttling youtube employs   #210 is no longer fixed in that package.  Switching to yt-dlp fixes these issues, and maintains near 100% compatibility with youtube-dl python bindings and command line op

[2022-01-24 16:38] deepjyoti30 commented on #212
@jr1221 I thought the throttle issue was fixed with the last release of `youtube-dl`. Not sure if it started happening again?

I guess moving to `youtube-dlp` is the logical step at this point now.

[2022-01-24 17:02] jr1221 commented on #212
@deepjyoti30 It seems so.  Nevertheless, nobody will be making releases to fix an issue if it arises.

[2022-01-30 10:39] deepjyoti30 commented on #212
@jr1221 I have added init support to move to `yt-dlp`. You can test the unstable branch and let me know here if you face any issues.

Reference commit: 0eb0cb8

[2022-01-30 10:40] deepjyoti30 commented on #210
@SisyphusIsntHappy I have made change in the source to make the move to `yt-dlp` since `youtube-dl` is not maintained anymore and `yt-dlp` has good support.

You can test it out by checking the `unstable` branch.

This commit adds the changes: 0eb0cb8

[2022-01-30 16:11] jr1221 commented on #212
Yesterday [youtube-dl got a new maintainer](https://github.com/ytdl-org/youtube-dl/issues/30568), so eventually they will take the backport to fix throttling from yt-dlp.  However, I believe yt-dlp will remain the standard.

I tested out the new change, I bisected an issue to [this commit ](https://github.com/deepjyoti30/ytmdl/commit/1ab220a4bd2972572cdcfa855d2f3ed7fa152642) in which I recieved:
[

[2022-01-30 16:38] pukkandan commented on #212
Why not look for either package. Something as simple as this could work:

[code]

Even better if a commandline argument can be given for the user can choose. Since yt-dlp API is mostly compatible with youtube-dl and the project is not making use of any yt-dlp specific features, this shouldn't add any additional maintenance cost.

[2022-01-30 16:42] deepjyoti30 commented on #212
@jr1221 The issue you pointed out is not from `ytmdl` but from `simber` instead. Consider installing the latest `unstable` commit from [simber](https://github.com/deepjyoti30/simber) locally and this issue should go away.

[2022-01-30 16:47] deepjyoti30 commented on #212
@pukkandan That is a nice idea actually, however, at the top of my mind, I had to make two changes while adding support for `yt-dlp`, one being a significant one. As it turns out when playlists are extracted, in case of `ytdlp` the `url` field contains the whole URL and in `youtube-dl`, that field just contained the `href`.

I am not saying that these are major changes and these can be handled if

[2022-01-30 18:13] pukkandan commented on #212
See my comment on https://github.com/deepjyoti30/ytmdl/commit/0eb0cb848f71e83a62087e65fdffaf949870d13c#r65250114

[2022-01-30 18:26] pukkandan commented on #211
The issue is the use of the old `scripts` params (from distutils spec) in setup.py instead of the newer `entry_points` (from setuptools spec) which should handle the OS differences automatically. Docs: https://packaging.python.org/en/latest/specifications/entry-points/

If you'd like, I can make a PR. Let me know

[2022-01-30 18:39] pukkandan commented on #185
`parseOpts` does accept `overrideArguments` to override `sys.argv`. But the parsed options returned by this function does not map one to one to the `YoutubeDL` params. It should not be too difficult for me to expose the entire code responsible for argument parsing as a function (in yt-dlp).

Depending on whether you want to keep support for youtube-dl or not, this may not be directly useful to you

[2022-01-30 18:42] pukkandan commented on #211
Also, duplicate of https://github.com/deepjyoti30/ytmdl/issues/178

[2022-01-30 18:48] 89z commented on #211
Not sure how I missed it so far, but @pukkandan has now been blocked. Fuck them.

[2022-01-31 22:13] ysahith opened #214 "Error when trying to update ytmdl using "pip install ytmdl --upgrade""
# Question

## Checklist

- [x] I've looked through the README and the WiKi for something similar.
- [x] I tried talking with the developer on the Telegram support group.

## Question

![ytmdl_error](https://user-images.githubusercontent.com/47392327/151881699-65c33268-a543-4074-ad07-a2a2d0e44b87.png)

Write question here
Do you know what may be causing this issue?

P.S - Current version of ytmdl

[2022-02-01 09:43] DocMAX opened #215 "Skip "Do you still want to continue[y/n]" ?"
Is it possible to avoid Do you still want to continue[y/n] message?

I dont get response in Telegram.

[2022-02-01 20:54] pukkandan commented on #202
With https://github.com/yt-dlp/yt-dlp/commit/16aa9ea41dd0a575c6c2d6945d3f8fe3bb42b327, yt-dlp can now search youtube music
[code]

[2022-02-02 05:04] deepjyoti30 commented on #215
@DocMAX Where exactly are you getting this message? I think there's more than one place where this prompt is asked.

I would need to see the logs to know if this can be skipped.

[2022-02-02 05:08] deepjyoti30 commented on #214
@ysahith The error is probably not occurring while installation but while uninstalling.

I would like to know the following things:

1. How did you install the current installed version of `ytmdl`? Was it through a package manager or `pip`?
2. Could you try uninstalling `ytmdl` using `sudo pip uninstall ytmdl`. If it fails, try some other package and check if the same error is showing up for that

[2022-02-02 05:10] deepjyoti30 commented on #202
@pukkandan This seems like a nice feature. I'll test this out. It's not released yet, as I can see, perhaps after release we can integrate this into `ytmdl`.

Thanks for pointing this out!

[2022-02-02 05:11] deepjyoti30 commented on #212
@pukkandan Thanks, looked into that!

[2022-02-02 05:18] deepjyoti30 commented on #185
@pukkandan I think exposing would be helpful to add this support to `ytmdl`. I am considering moving to `ytdlp` altogether instead of `youtube-dl` if the changes start showing up a lot (like the one above where it's better to go with `ytdlp`).

I'll keep a lookout for that PR you mentioned! Thanks for considering this feature though!

[2022-02-02 05:19] deepjyoti30 commented on #211
@pukkandan Thanks for the heads up. I'll take a look at the `entry_points` thing. I'll let you know about the PR!

[2022-02-02 09:30] pukkandan commented on #185
It's something I've been meaning to do eventually, but been on the backburner since nobody ever requested it. Seeing this issue finally gave me the motivation to start working on it.

[2022-02-02 20:24] ysahith commented on #214
1. It has been awhile since I have installed it so I do not recall exactly.

2. I have tried uninstalling with pip using that command and it gives the following error:
![ytmdl_uninstallError](https://user-images.githubusercontent.com/47392327/152231175-5b5241b8-e820-4e7d-badb-87e5d5f439fe.png)

So, how can I uninstall ytmdl manually (so that I can attempt to reinstall with pip)?

[2022-02-03 14:33] DocMAX commented on #125
I have similar issue:
[code]

[2022-02-03 14:35] DocMAX commented on #138
I have similar(?) issue:
[code]

[2022-02-11 00:36] OmeGak opened #216 "Completion produces strange output on TAB with no arguments in zsh"
# Bug report

## Version Info

- Ytmdl version: `2021.11.07`
- Youtube-dl version: `2021.12.17`
- zsh version: `5.8 (x86_64-apple-darwin20.1.0)`

## How Ytmdl was installed?

[code]

## Description

Pressing TAB for completion with no arguments produces the following output, instead of triggering completion

[code]

Pressing TAB after typing `--` triggers completion as expected.

## Completion fil

[2022-02-11 01:26] OmeGak opened #217 "Add formula to install ytmdl via homebrew"
It would be nice not having to install `ytmdl` globally using `sudo` with `pip` (or having to create a virtualenv manually). Also, the completion files installed by `pip` end up in non-standard locations and it requires manual setup. A Homebrew formula can take care of isolating the `ytmdl` in a [dedicated virtualenv](https://docs.brew.sh/Python-for-Formula-Authors#python-declarations) and putting

[2022-02-13 16:44] Cwavs opened #218 "ytmdl cannot download music with non-English characters."
# Bug report

## Checklist

- [X] I have searched for similar bugs in the issues.
- [X] I will add the bug label to this issue.

## Version Info

- Ytmdl version: 2021.11.07
- Youtube-dl version: 2021.12.17

## How Ytmdl was installed?

I installed ytmdl through pip, I did rename the file in the scripts folder because of #178

## Console Log

[code]

## Description
It seems that the program cannot

[2022-02-15 17:17] deepjyoti30 commented on #214
Very weird error. I have never seen this error with `ytmdl` before.

At the top of my head, do you have multiple Python versions installed that are somehow conflicting with each other?

Manually removing `ytmdl` would be removing the package files from wherever they are installed to and removing the files from the `bin` directory (wherever it was installed to depdending on your system).

Btw, by a

[2022-02-18 10:02] emmjam opened #219 "URL parsing issue"
Youtube has changed the url format, and now urls are in this format: https://www.youtube.com/watch?app=desktop&v=Y2_CNGOx2A8
Currently the app reformats this as https://www.youtube.com/watch?app=desktop, which is wrong.
It should drop the "app=desktop&", so that the URL is interpreted as https://www.youtube.com/watch?v=Y2_CNGOx2A8

Thanks

[2022-02-27 01:11] #178 closed

[2022-03-07 14:06] markusgod opened #220 "AttributeError: 'Logger' object has no attribute 'level_map'"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `unstable`

## How Ytmdl was installed?

Write here how you installed ytmdl. If it was through pip or some other way.
sudo pip install git+https://github.com/deepjyoti30/ytmdl.git@unstable

## Console Log

[code]

## Description

ytmdl f

[2022-03-08 16:39] deepjyoti30 commented on #220
@markusgod The issue is from the `simber` package.

You need to install the `unstable` commits from `simber` as well: https://github.com/deepjyoti30/simber

Since you're using the `unstable` branch, it depends on some not released code from the `simber` source.

Installing latest commits from `simber` will fix this issue.

[2022-03-08 16:41] #220 closed

[2022-03-08 16:47] deepjyoti30 commented on #218
@Cwavs Thanks for raising this issue. Seems like this is an issue from the `simber` library that `ytmdl` uses for logging.

[2022-03-08 16:51] deepjyoti30 commented on #219
@emmjam Thanks for pointing this out.

Could you tell me where you are getting the URL from? Is it from the share menu? Or is it directly from the website URL bar?

I can see that in the website, their URL's are still the old format.

Anyhow, I would like to consider this edge case.

[2022-03-09 14:39] deepjyoti30 commented on #218
@Cwavs Can you let me know which OS you are using?

The error seems like it is not exactly a `simber` issue but instead a font issue? I am not sure but it seems like the non english characters are not being mapped properly due to an invalid font in the system?

Also, I just reproduce the command above and the download was completed without any issues at all.

[2022-03-09 14:40] deepjyoti30 commented on #218
Okay, seems like it is Windows based on the file paths being referenced. Can you try to reproduce this issue on a Linux system?

It is possible this issue is specific to Windows.

[2022-03-09 14:52] deepjyoti30 commented on #216
@OmeGak The issue should be fixed in the referenced commit. I will add this in the next release.

[2022-03-09 14:53] #216 closed

[2022-03-09 14:57] deepjyoti30 commented on #219
@emmjam Can you provide a way to reproduce this issue? It's not clear if you're referring to passing the url with `--url` or just passing the URL in the song name?

If this is a`ytmdl-web` issue, I will transfer this to that repo.

[2022-03-09 15:08] deepjyoti30 commented on #219
@emmjam Closing for now since I cannot reproduce the issue.

As I said, if the issue is in the web, you should open an issue at [ytmdl-web](https://github.com/deepjyoti30/ytmdl-web-v2)

If you still see this issue in the CLI, you can reopen this issue with steps to reproduce.

Moreover the referenced commit fixes the only possible location I saw this issue possibly occurring in.

[2022-03-09 15:08] #219 closed

[2022-03-09 15:31] deepjyoti30 commented on #202
@pukkandan Seems like the above mentioned commit adds support for searching Youtube Music.

However, our requirement is not to just search YouTube Music but to get metadata out of yt music (possibly for playlists).

As of the latest release, we already support extracting a proper song title (from metadata of ytmusic) for playlists.

The only use of searching on YTMusic is possibly to search the so

[2022-03-09 15:43] Cwavs commented on #218
Yeah I'm using windows 10, CMD doesn't show the Japanese text in the log, so that may be the case.

[2022-03-09 15:51] deepjyoti30 commented on #212
Seems like `youtube-dl` still doesn't have any new releases so I will skip keeping `youtube-dl` support for now. Perhaps in the future, both `yt-dlp` and `youtube-dl` can be supported.

[2022-03-09 15:54] deepjyoti30 commented on #218
Okay, I see. At any case this is not an `ytmdl` issue.

I have already opened a new issue on `simber` for this but looking at the OS, I am not sure how breaking the issue is. Perhaps we can skip this for now.

If you can reproduce this on any other OS or if this is a breaking issue for you, you can report back on the simber issue that I referenced above.

[2022-03-09 15:54] #218 closed

[2022-03-09 16:06] #212 closed

[2022-03-09 20:22] pukkandan commented on #202
I understood the OP's issue as wanting to search `music.youtube` instead of `youtube.com` to get the music file "as it has less garbage". Maybe I misunderstood?

For single videos, yt-dlp does extract arist, track, album if youtube shows the same.
[code]

![image](https://user-images.githubusercontent.com/6623388/157528228-95fdd01f-ea5a-462e-a621-792fc8880a54.png)

I believe the only other useful

[2022-03-10 14:40] deepjyoti30 commented on #202
@pukkandan You did not quite misunderstood. OP wanted to download albums with automatic metadata extraction as well as playlists (as far as I remember from the chat we had on Telegram).

At this point, extracting metadata for playlists is pretty mature. Earlier, we were not able to extract a proper title for the playlists item songs. However, this was changed in the last release where I added supp

[2022-03-10 16:54] deepjyoti30 commented on #185
@Diridibindy This is finally added. This feature will be added in the next release.

@pukkandan Thanks for your efforts, wouldn't have been possible otherwise!

[2022-03-15 22:33] Ryhon0 opened #221 "Spotify metadata using OEmbed"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

The current spotify implementation uses the developer's key to use the Spotify API, this is probably a bad idea as it could be rate limited or blocked for whatever reason.
A safer way of doing this would be to

[2022-03-16 01:28] Ap0them opened #222 "Gentoo Ebuild support for `ytmdl` is outdated."
This isn't really a bug so I didn't submit a bug report but it should be brought to your attention that the Ebuild for gentoo is completely shot, making installation impossible, I'm not sure exactly who maintains it but it will not work until the ebuild is re-written

[2022-03-16 03:16] ZXY-CC-3ag13 opened #223 "Downloading Lyrics"
# Feature Request

## Checklist

- [ ] Add support for downloading synced lyrics

## Description

I want to be able to have the lyrics downloaded alongside the song or manually.

[2022-03-16 03:32] ZXY-CC-3ag13 opened #224 "Add support for quitting metadata fetch"
# Feature Request

## Checklist

- [ ] Add support for quitting metadata fetch

## Description

When choosing niche songs, there is a point when they don't have metadata, but you can't opt out of choosing it from selection area and are forced to choose one metadata which is inaccurate or are forced to quit (Ctrl+C)

[2022-03-17 13:44] loulou310 commented on #218
Did some testing, on the Windows terminal, the characters show up correctly. The issue is also on powershell, no characters and decode problem. On a debian based distro, it works, but it looks like it have some struggle to find the meta

(also sorry for reoppening this)

[2022-03-19 11:07] mdotgru opened #225 "TypeError: cannot unpack non-iterable NoneType object"
# Bug report

## Checklist

- [X] I have searched for similar bugs in the issues.
- [X] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.03.16`
- Youtube-dl version: I don't seem to have it installed, but it seems to work without for most of the clips

## How Ytmdl was installed?

pip

## Console Log

==> https://www.youtube.com/watch?v=dcxsheROd3E: is unauthorized

[2022-03-19 18:02] mdotgru opened #226 "Parameter to automatically skip file overwrite when downloading lists"
# Feature Request

## Checklist

- [X] I've searched the bugtracker for similar feature requests including closed ones.
- [X] I will add the enhancement label to the issue.

## Description

It occurred to me that in the process of downloading a complete youtube playlist, the download stops for various reasons. Then, after the restart it always asks for overwrite confirmation for each file that was

[2022-03-20 19:44] elizaaverywilson opened #227 ""ffmpeg is not installed" even though it is."
# Bug report

## Checklist

- [X ] I have searched for similar bugs in the issues.
- [X ] I will add the bug label to this issue.

## Version Info

- Ytmdl version: 2022.3.16

## How Ytmdl was installed?

It was installed through pip

## Console Log

(ytmdlbugreplication) elizaaverywilson@Elizas-MBP ~ % pip show ffmpeg
Name: ffmpeg
Version: 1.4
Summary: ffmpeg python package url [https://github.co

[2022-03-20 19:50] elizaaverywilson commented on #227
Related: [https://github.com/deepjyoti30/ytmdl/issues/78](https://github.com/deepjyoti30/ytmdl/issues/78)
It does not appear to be the same problem or have a fix, though.

[2022-03-21 18:19] deepjyoti30 commented on #227
@elizaaverywilson `ffmpeg` is a binary, I don't think what you're installing using `pip` is actually `ffmpeg`.

You need to check if you have the actual binary installed by checking:

[code]

If the above command doesn't return proper details, it means `ffmpeg` is not installed.

As far as I am aware, `ffmpeg` installed using `pip` is just a Python package that works as a wrapper for the `ffmpeg`

[2022-03-21 21:43] teackot commented on #215
Same issue. I am getting the message when, well, downloading the songs. I already downloaded them with yt-dlp, but they are in a different directory (~/Music_old/). Where do I find logs to show you?

[2022-03-21 21:45] teackot commented on #215
PS: I moved those yt-dlp songs from ~/Music/ to ~/Music_old/

[2022-03-21 22:04] teackot commented on #215
Ok, if I rename ~/Music_old/ folder (e. g. ~/Msc_old/), message doesn't show up. I think it searches for songs not in ~/Music, but in ~/Music*

[2022-04-02 00:25] Vyexk opened #228 "Add support for other language characters."
UnicodeEncodeError: 'charmap' codec can't encode characters in position 32-38: character maps to <undefined>

When I try to download a song with Japanese characters

[2022-04-02 04:01] #228 closed

[2022-04-02 05:05] deepjyoti30 commented on #228
@Vyexk Did you get the issue fixed?

[2022-04-02 05:07] Vyexk commented on #228
I used --skip-meta and the error no longer came out, for now I add the metadata with another app

[2022-04-02 05:07] Vyexk commented on #228
I used --skip-meta and the error no longer came out, for now I add the metadata with another app

[2022-04-02 05:11] Vyexk commented on #228
The error appears when trying to download this list:

https://music.youtube.com/playlist?list=PLn9jEDhOKnnAFuVcLAJI_TlarmgYs6rH6&feature=share

[2022-04-03 11:18] deepjyoti30 commented on #224
You can do that by entering the choice as `-1` when the metadata is shown.

I guess there should be a print indicating that, will add that in the next release!

Moreover, in order to get rid of unseen metadata errors you can use the `--on-meta-error` flag with `skip` value.

[2022-04-03 11:26] deepjyoti30 commented on #226
The thing is before the metadata step is completed, it is hard to determine whether the file that is being downloaded is already in the directory. Add to that the complexity of users wanting to download music in their own way (creating directory with album name, artist and then the song) etc.

A quick fix for this is to use the `--download-archive` file. This file should include the youtube-id's o

[2022-04-03 11:27] deepjyoti30 commented on #225
@mdotgru Thanks for reporting the issue, seems like `ignore-errors` is not working as expected. I will take a look into that.

The unauthorized errors shows up when either the video is deleted or is not accessible in the region.

[2022-04-03 11:30] deepjyoti30 commented on #222
@xgqt had added support for Gentoo. I can see that the support was added way back and it seems like it has not been updated in a while.

@xgqt if you can, please consider letting us know if you'd be able to update it? We might have to drop support for Gentoo builds unless some other maintainer wants to pick it up?

[2022-04-03 11:31] deepjyoti30 commented on #222
I am adding the `help-wanted` flag in case any gentoo maintainer would like to pick the native repo and update it!

[2022-04-03 11:34] deepjyoti30 commented on #215
@teackot It searches for the songs in `XDG` directories. I am not sure what it is in your case. I am sure the algorithm uses recursion to find if a song with the same song name is present.

You can use the `--nolocal` flag to get rid of this issue.

This flag is pointed out in the README and also accessible through the `--help` flag of `ytmdl`.

[2022-04-03 11:34] #215 closed

[2022-04-03 11:37] deepjyoti30 commented on #218
@loulou310 Just to clarify, struggle finding metadata is probably because of the metadata provider and not because of `ytmdl`. It's probably because of the language.

[2022-04-03 11:39] deepjyoti30 commented on #221
The `oembed` approach looks real nice in terms of getting the metadata but I am a bit skeptical about the search engine part.

Can you elaborate what you mean by using a search engine API? Something like using Google's API to search google with the `site` flag enabled with the song name?

[2022-04-03 12:01] Ryhon0 commented on #221
The `site:` filter will only return results with the specified domain and path, It is supported by all of the major search engines. Following this filter should be the author's name and the song name, this should return only Spotify pages containing the author's name and song name. Putting them in quotes would make sure the words are in the correct order.
An example query would look something like

[2022-04-03 12:09] deepjyoti30 commented on #221
@Ryhon0 You see using the search engine API with a key or scraping it becomes a concern. All this just for one metadata provider seems like overkill considering the only downside to the current implementation is a rate limit which might show up again while using a search engines API with an API key.

[2022-04-03 12:17] Ryhon0 commented on #221
Just implementing the oembed reader would probably reduce the stress on the API. No idea what is the ratio of searches to direct downloads, I assume most people use direct download, leaving plenty of API calls for the search.
If the API becomes limited, packagers probably could provide their own keys, splitting the load.

[2022-04-03 13:33] xgqt commented on #222
Hi!

Yes, I stopped maintaining YTMDL in `src_prepare-overlay` long time ago, BUT I am willing to come back to it now.
Nevertheless it would be good to have some help from other Gentoo devs and proxy maintainers who are interested in YTMDL as it requires a lot of dependencies that are not yet packaged in the official Gentoo repository.

[2022-04-03 22:43] xgqt commented on #222
The ytmdl branch holds current efforts to add ytmdl to ::gentoo

https://gitlab.com/xgqt/gentoo-private/-/commits/ytmdl

[2022-04-04 04:44] Ap0them commented on #222
I'm sorry, I don't have the know-how for maintaining an ebuild now, I could learn it potentially.

It's up to you and @xgqt but I think the help wanted tag and mentioning it's deprecated is the best decision right now

[2022-04-04 04:54] deepjyoti30 commented on #222
@xgqt Thanks for the update. Will keep this issue open with the `help-wanted` flag. Meanwhile, if you are successful in fixing the issues and updating `ytmdl` let me know!

[2022-04-05 14:10] xgqt commented on #222
Yes, if you mean `yt-dlp`, in Gentoo this is called `net-misc/yt-dlp`.

Any bugs supposed to be with Gentoo should be then reported on the Gentoo bugzilla: https://bugs.gentoo.org/

[2022-04-05 14:18] deepjyoti30 commented on #222
Cool @xgqt thanks for confirming. Closing the issue as its fixed.

[2022-04-05 14:18] #222 closed

[2022-04-06 22:15] mckeed commented on #220
For others who got this after updating via pip, this can be done with `python -m pip install https://github.com/deepjyoti30/simber/archive/refs/tags/0.2.4.tar.gz`

[2022-04-08 01:49] mountainrangeshadow commented on #227
https://superuser.com/questions/624561/install-ffmpeg-on-os-x

This worked for me. I had the same issue.

[2022-04-08 04:05] deepjyoti30 commented on #227
It's clearly mentioned in the README that `ffmpeg` is a dependency so it will have to be isntalled separately unless `ytmdl` is being installed with a package manager.

`ytmdl` will probably be available on `brew` soon so this kind of issues would not arise anymore on MacOS.

[2022-05-01 23:52] #214 closed

[2022-05-18 06:14] amrit073 opened #233 "Using youtube url as search keywords, hence not finding result"
# Bug report

## Checklist

- [+] I have searched for similar bugs in the issues.
- [+] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.03.16`
- Youtube-dl version: not installed

## How Ytmdl was installed?
pip

## Console Log

[code]

## Description
No results found with the keyword https://www.youtube.com/watch?v=Xutz8QkN1NQ
Shouldn't it search with song name as

[2022-05-22 06:41] sinchxn opened #234 "Youtube thumbnail as album cover by default"
# Feature Request

## Checklist

- [ ] I've searched the bugtracker for similar feature requests including closed ones.
- [ ] I will add the enhancement label to the issue.

## Description
Giving the option to add the youtube videos thumbnail as the default album cover, as some music videos juust have a static image that could be used as the album cover.
it could be implemented using something lik

[2022-06-02 07:30] Rexadev opened #235 "Make a music metadata retriever no downloader."
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

I want musicbrainz picard but with  iTunes, Spotify, LastFM, Deezer. No downloader just the metadata viewer

[2022-06-05 13:55] deepjyoti30 commented on #234
@sinchxn This is a nice option but I can hardly see a scenario where users would want to download a song from Youtube without metadata and use `ytmdl` for that.

That is basically just using `youtube-dl` through ytmdl.

Also the aim of `ytmdl` is to **provide** metadata for every song downloaded from YouTube so this also is kind of anti what ytmdl is doing.

I am aware that there are cases where t

[2022-06-05 13:57] deepjyoti30 commented on #233
@amrit073 Thanks for reporting this issue. This is indeed a bug. The ideal behaviour is that the extracted name would be used to search for the metadata.

[2022-06-05 14:23] deepjyoti30 commented on #233
@amrit073 Correction:

Not a bug actually. This was never considered. We do support automatic title extraction for songs in a playlist or songs that have chapters but when URL is passed, the song name is not extracted.

This, however, should be a feature. I will mark it as an enhancement and get it added in the next release.

[2022-06-05 14:56] deepjyoti30 commented on #233
@amrit073 This feature is added as of f6fcb2a

I am closing this for now. You can test the above commit. If you find any issues, you can reopen this issue or comment here.

[2022-06-05 14:56] #233 closed

[2022-06-05 14:57] deepjyoti30 commented on #235
@Rexadev I don't understand the request. Could you explain a bit more? I am not sure what you mean by metadata retriever?

Do you mean something like a tool that shows you metadata from various sites and just that, nothing else?

[2022-06-05 18:15] Rexadev commented on #235
Yes, [ytmdl](https://github.com/deepjyoti30/ytmdl) without downloader. The program asks for a song name shows metadata from different services
Something like https://picard.musicbrainz.org/

[2022-06-05 18:32] deepjyoti30 commented on #235
@Rexadev There have been similar requests in the past. Mostly to create a tagger that would automatically scan songs, apply tags.

However, creating a tool just to get metadata would not be under the scope of `ytmdl`. `ytmdl` already does have code that does exactly what you're asking for but altering the behaviour of a tool that is supposed to be able to extract and then add meta is not a good id

[2022-07-06 08:53] wh0th3h3llam1 opened #236 "Pipe Symbol "|" in a Song Name causes it to crash"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.03.16`
- Youtube-dl version: `Not Installed`

## How Ytmdl was installed?

Installed on `Windows 10` using `pip`
Python Version: `3.10.2`
Pip Version: `pip 22.0.3`

## Console Log

[code]

## Description

If there's a pipe symbol `

[2022-07-09 04:57] deepjyoti30 commented on #236
@wh0th3h3llam1 Seems like an Windows specific issue. I just tried the song you shared and it downloaded fine without any issues and was moved properly as well.

Could you share the details of the OS you are using? Looking at the pictures, I am assuming it is Windows?!

Will have to reproduce the issue on Windows to debug it better.

[2022-07-09 05:23] #234 closed

[2022-07-09 05:24] #235 closed

[2022-07-09 05:30] deepjyoti30 commented on #223
@ZXY-CC-3ag13 Most metadata providers do not provide lyrics and adding a whole different layer of provider just to fetch lyrics seems like an overkill considering most music players won't even recognize the lyrics stored as metadata.

I will keep the issue open in case more people seem to need this feature, they can discuss in this issue itself.

[2022-07-09 06:17] wh0th3h3llam1 commented on #236
@deepjyoti30 Yes, you are correct, I'm on Windows 10

### OS Specifications
[code]

[2022-07-09 06:20] wh0th3h3llam1 commented on #236
I found a similar issue when Quote `"` is in the song name. I tried a [song](https://www.youtube.com/watch?v=iKopExw_3Zg) with only parenthesis `()` and its working fine.

![image](https://user-images.githubusercontent.com/48444630/178094217-95ed86ad-2ef4-468e-abb7-fbc4a7ca39b5.png)

[2022-07-10 04:14] deepjyoti30 commented on #236
@wh0th3h3llam1 Thanks for confirming. Seems like these characters are not properly blacklisted for Windows. For Linux, this was an issue reported way back and was taken care of way back.

[2022-07-10 20:34] Marcioghiraldelli opened #237 "deezer fail download"
I'm trying to download a song on deezer and I can't, it always gives the error below.

Traceback (most recent call last):
  File "/usr/local/bin/ytmdl", line 8, in <module>
    sys.exit(entry())
  File "/usr/local/lib/python3.6/site-packages/ytmdl/main.py", line 582, in entry
    extract_data()
  File "/usr/local/lib/python3.6/site-packages/ytmdl/main.py", line 577, in extract_data
    main(args)

[2022-08-04 18:08] Marcioghiraldelli commented on #237
https://www.deezer.com/br/track/1805677867

[2022-08-04 18:08] Marcioghiraldelli commented on #237
I'm using centos 7

[2022-08-09 18:05] deepjyoti30 commented on #237
@Marcioghiraldelli Could you provide the exact command that you run? I understand you tried to download a track but the above information you provided is not much helpful.

I need to know what **exactly** you tried to do and failed.

[2022-08-17 00:58] AqilCont opened #240 "Unicode Error on download."
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.03.16`
- Youtube-dl version: `2021.12.17`

## How Ytmdl was installed?

[code]

## Console Log

[code]

## Description

This was my first time using the downloader, I'm on Windows 10 21H2 and IDK this was the first thing that happe

[2022-08-19 06:20] deepjyoti30 commented on #240
@AqilCont Can you share the version of simber installed in your system? You can find that by doing a `pip freeze` and checking the `simber` line in there.

[2022-08-20 17:54] sgon00 opened #241 "One music breaks to many music files"
# Bug report

## OS

debian 11.4

## How Ytmdl was installed?

[code]

## Description

[code]

It downloads many small music mp3 files instead of one. But it's only one music.

[2022-08-23 12:09] deepjyoti30 commented on #241
@sgon00 If you take a look at the above songs Youtube page [here](https://www.youtube.com/watch?v=gd4aqZxa1Fc) you'll see that the song actually has chapters and `ytmdl` supports parsing chapters separately. That behavior is taking place in your case and is leading to multiple files where each file is one chapter.

You can use the `--ignore-chapters` flag with the above command to stop this behavi

[2022-08-30 09:30] sgon00 commented on #241
@deepjyoti30 thank you very much for the answer. It works.

[2022-08-30 09:30] #241 closed

[2022-09-06 18:38] orkeilius commented on #240
i have a similar issue and my simber version is 0.2.4

[2022-09-06 19:02] orkeilius commented on #240
After investigation, it seems that title/metadata with special characters like this character "【" [in this video](https://www.youtube.com/watch?v=K3dboEyQrK8) make this bug.

If you use the "--disable-file" argument that "fix" the bug but make another error when creating the file (no such file or directory)

[2022-09-06 19:08] orkeilius commented on #240
error from the second error :
[code]

[2022-09-08 07:22] cowpod commented on #223
spotDL manages to do this, and they download from youtube too.
https://github.com/spotDL/spotify-downloader

[2022-09-10 14:48] deepjyoti30 commented on #240
@orkeilius Thanks for investigating. This issue **is** related to simber. However, the video you shared and the issue you are getting is probably because of the charcter `~` in the video.

I think we are not removing it before creating the song file right now.

[2022-09-10 14:52] deepjyoti30 commented on #223
@cowpod Thanks for letting us know. Seems like `spotdl` gets the data from Spotify **only** and since Spotify recently rolled out lyrics support for all countries (afaik), that is probably the reason why spotdl is able to do it.

However, in case of `ytmdl`, we let users select the metadata provider and we do support a lot of providers other than spotify and I am aware that as of now only Spotify

[2022-09-16 10:45] pakosaan opened #242 "Instead of adding false music tags. Add option to not add any if not found the right tag"
# Feature Request

## Checklist

- [ ] I've searched the bugtracker for similar feature requests including closed ones.
- [ ] I will add the enhancement label to the issue.

## Description

Describe the feature

[2022-09-16 10:56] deepjyoti30 commented on #242
@pakosaan Have you considered passing the option as `-1` when the prompt is shown to select the metadata? Entering `-1` will skip the selection and save the song without any meta.

[2022-09-18 11:05] foglar opened #245 "Problem with encoding charmap"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.03.16`
- Youtube-dl version: `2022.09.01`

## How Ytmdl was installed?

`py -m pip install ytmdl`

## Console Log

[code]

## Description

After downloading some songs with Czech characters in the name(of the song), there is this e

[2022-09-19 06:00] deepjyoti30 commented on #245
@foglar Yes, related to encoding. Could you let me know which platform you ran this on? Looking at the logs, seems like Windows?

[2022-09-19 14:20] foglar commented on #245
yes at windows 7

[2022-09-21 19:02] KraXen72 commented on #202
anyway i made this myself it's called tiger, you can find it here
https://github.com/KraXen72/tiger

[2022-09-26 07:21] deepjyoti30 commented on #245
@foglar This is similar to #240 which is already and acknowledged bug. I'll close this issue.

[2022-09-26 07:21] #245 closed

[2022-10-01 02:58] KalpanaChetan opened #246 "Video downloader app"
Please create video playlist downloader app with schedule feature

[2022-10-12 20:14] ignition-ctrl opened #247 "ytmdl not working on Arch Linux with AUR; Dependency error"
It gives me an error running just `ytmdl`, output below.
[code]
It seems it's caused by the `httpx` dependency requiring an outdated `rfc3986` version.
See this issue on the httpx repo: https://github.com/encode/httpx/issues/2169

## Version Info

- Ytmdl version: 2021.01.13.3.g8c29e79-1
- yt-dlp version: 2022.09.01

## How Ytmdl was installed?
Installed through aur with `yay -S ytmdl-git`

[2022-10-18 21:59] jyrg02 opened #248 "sig extraction failed: You may experience throttling for some formats"
# Bug report

## Checklist

- [ ] I have searched for similar bugs in the issues.
- [ ] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.05.18`

## How Ytmdl was installed?

Via Pip
## Console Log

[code]

## Description

I'm not sure but it states to report it so that's what I'm doing.
The only issue is that I don't know how to update it since I downloaded it via p

[2022-10-26 17:40] ZayTa0 opened #249 "Dependency issue (AUR)"
![Screenshot_2022-10-27_00-08-40](https://user-images.githubusercontent.com/112255820/198097564-0faecece-4488-4b8f-96e6-be4dd14ef182.png)

Tried for a few time, and even used patched build of python-ffmpeg but still failed to build ytmdl

[2022-10-26 20:16] ZayTa0 commented on #249
installing ytmdl via pip seems like the only viable way for now, closing the issue

[2022-10-26 20:16] #249 closed

[2022-10-27 11:38] deepjyoti30 commented on #248
@jyrg02 It's not an error thrown by `ytmdl` but instead it's from `yt-dlp`. Since you want to update it, you can do that by using `pip`.

[code]

[2022-11-03 09:46] berinaniesh commented on #242
Well, its good to have metadata. Only after the search finishes, you search for 5 more options 5 times ( 25 tags total), you find that none of them match and then you will have to press some number or else the file is discarded (I guess). It would be nice to have an option after the tag options are presented to us, to skip writing tags.

[2022-11-03 09:54] berinaniesh opened #250 "Save audio files without transcoding."
# Feature Request

## Checklist

- [x] I will add the enhancement label to the issue.
- [x] I've searched the bugtracker for similar feature requests including closed ones.

## Description
Some of us don't mind keeping the  audio as it is, without re-encoding with ffmpeg to prevent [Generation Loss](https://en.wikipedia.org/wiki/Generation_loss#Digital_generation_loss). In youtube-dl or yt-dlp, we

[2022-11-05 08:56] Olgoetz opened #251 "Custom SONG_DIR in config file not working"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.3.16`
- Youtube-dl version: `2022.10.4`

## How Ytmdl was installed?

Write here how you installed ytmdl. If it was through pip or some other way.

pip install ytmdl

## Console Log

[code]

## Description

I have defined his path

[2022-11-05 09:00] Olgoetz commented on #251
solved it by upgrading my macOS Monterey

[2022-11-05 09:00] #251 closed

[2022-11-06 03:15] deepjyoti30 commented on #242
Yes, that's how it's intended to work. After you look through all the tags, you can still press `-1` and writing meta will be skipped.

[2022-11-06 03:17] deepjyoti30 commented on #250
@berinaniesh I think this is a valid enhancement and since `youtube-dl` supports it, `ytmdl` should as well. I will look into this request to see if this will be possible with the current architecture of `ytmdl`.

Thanks for raising the issue!

[2022-11-06 12:39] PolarWinter opened #252 "ImportError: cannot import name 'NoReturn'"
# Bug report

## Checklist

- [Y] I have searched for similar bugs in the issues.
- [Y] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2022.3.16.`
- Youtube-dl version: `2022.7.18.`

## How Ytmdl was installed?

Through PIP

## Console Log

[code]

## Description

No matter what I type in after ytmdl it always comes up with "ImportError: cannot import name 'NoReturn'"

[2022-11-12 06:38] #236 closed

[2022-11-23 13:14] drmdarsh09 opened #253 "Unable to download playlists"
I have been trying to input and download a playlist but I'm getting the following result. I have tried multiple playists
` ==> Youtube playlist passed...extracting!
Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\DARSH\AppData\Local\Programs\Python\Python311\Scripts\ytmdl.exe\__main__.py",

[2022-11-26 15:57] deepjyoti30 commented on #253
@drmdarsh09 Thanks for the bug. This issue looks like it is the same as #240 which is already a known bug that is being worked on.

I will close this issue and you can track the status on the other issue.

[2022-11-26 15:57] #253 closed

[2022-11-27 13:55] deepjyoti30 commented on #224
@ZXY-CC-3ag13 I just cross checked, the message is already shown there indicating that `-1` will be considered as option to quit metadata. I am closing this issue!

[2022-11-27 13:55] #224 closed

[2022-11-27 14:04] deepjyoti30 commented on #225
@mdotgru I am unable to reproduce this issue. As I can see, the `--ignore-errors` flag is working fine for me, could you provide some more inputs on this?

Perhaps the playlist that you are using? I tried with some videos that are not available in my region but they don't make the server crash in my case.

Another weird thing, the errors are indicating a line number but those lines are just debug

[2022-11-27 14:17] deepjyoti30 commented on #240
A new release of `simber` is now published that should fix the above issue. I am closing this issue for now. In case this happens again, I can reopen this issue.

[2022-11-27 14:17] #240 closed

[2022-11-27 15:47] deepjyoti30 commented on #250
@berinaniesh This is now possible with a new flag added named `--dont-transcode`. Added in this commit: 3cf1a36

[2022-11-27 16:16] #250 closed

[2022-11-27 16:20] deepjyoti30 commented on #252
Hey @PolarWinter this is not exactly a `ytmdl` issue. Looking through the web indicates that the version of `python` you are using is not enough.

This should have been enforced by the library that is actually using the `NoReturn` keyword which is the `youtubesearchpython` library.

Anyhow, you can upgrade your python to `3.6.2` or later in order for this error to go away.  As a safe bet, I will u

[2022-11-27 16:24] deepjyoti30 commented on #246
Hey @KalpanaChetan Thanks for the request, however this cannot be considered an enhancement at this point since it strides too away from the main purpose of `ytmdl` which is to let users extract audio from youtube along with metadata from other sources.

You can perhaps take a look at `yt-dlp` which might suit your needs though I am not sure if they have a schedule feature.

[2022-11-27 16:24] #246 closed

[2022-11-27 16:26] deepjyoti30 commented on #242
Since this feature is already added and is similar to #224 I am closing the issue.

[2022-11-27 16:26] #242 closed

[2022-11-27 16:31] deepjyoti30 commented on #221
@Ryhon0 Thanks for the suggestion and the explanation, however, it seems like a lot of work just to support one metadata provider. I don't see any issue with the current approach. In case the scenario actually happens to a few users where their key gets rate limited and they are unable to use `ytmdl` productively, I can reconsider this addition.

Though as of now, it just feels like a lot of work

[2022-11-27 16:31] #221 closed

[2022-11-27 16:34] deepjyoti30 commented on #172
@DevParapalli @jja88 Just a confirmation that youtube music URL's actually do work with `ytmdl`. I think a lot of users are actually using the functionality and it works neatly.

This comes down to the fact that the actual extractor of data is the underlying `youtube-dl` (now `yt-dlp`) package.

Since this is now confirmed as supported, I will close the issue.

[2022-11-27 16:34] #172 closed

[2022-11-27 16:38] deepjyoti30 commented on #247
Hey @ignition-ctrl I tried to reproduce the issue, however I was not able to. I was able to succesfully install both `ytmdl` and `ytmdl-git` with `yay`.

Moreover, I officially maintain the `ytmdl` package on AUR so I would suggest you to get that and see if that works. I am not the maintainer of the `ytmdl-git` package so it would be better if you just add a comment in that package so that the ma