[2018-07-10 13:48] mehalter opened #1 "Organize Files"
Add the ability to automatically organize downloaded files as well into the directory structure Artist -> Album -> Title.mp3

[2018-07-10 13:50] mehalter opened #2 "Specify a YouTube URL"
In the picture included in the README, it shows the YouTube URL being inputted. Add a flag to allow for this kind of interaction, like maybe `-u URL`.

[2018-07-10 14:37] deepjyoti30 commented on #2
Sorry. Had that in the intial version. Later i changed it to just the song name. I thought its easier to simply put the song name. Anyways, will try to add a flag.

[2018-07-10 18:41] deepjyoti30 commented on #2
Option added.

[2018-07-10 18:41] #2 closed

[2018-07-10 21:19] deepjyoti30 commented on #1
Feature added.

[2018-07-10 21:19] #1 closed

[2018-07-11 17:12] mehalter opened #3 "SONG_DIR with spaces"
If I have a SONG_DIR with spaces in any of the names it doesn't work and reverts back to the default. Whether or not I do an escaped space or not

Ex:
`SONG_DIR = "/home/user/Music/My Music$Artist->Album"`
and
`SONG_DIR = "/home/user/Music/My\ Music$Artist->Album"`

[2018-07-12 07:00] NaiCity opened #4 "Error when running python setupConfig.py"
Hello there !

I have managed to clone the ytmdl from GitHub and run the subsequent commands successfully, However, when running python setupConfig.py I'm getting this error

Traceback (most recent call last):
  File "setupConfig.py", line 4, in <module>
    from pathlib import Path
ImportError: No module named pathlib

[2018-07-12 09:30] deepjyoti30 commented on #4
Do you have python 3.4+ ? pathlib is supposed to be in your python setup.
Please upgrade your python version to the latest one or at least one that is v3.4 or more.

[2018-07-12 09:33] deepjyoti30 commented on #3
Are you sure the path is correct, i mean its already present? In case its not present the folder is changed to default.
I am away from my computer right now but will check that ASAP 😊

[2018-07-12 10:14] NaiCity commented on #4
I have 2 versions of Python as seen below. I'm running Ubuntu 16.04 hosted
on AWS.

root@ip-172-31-26-168:/home/ubuntu# python --version
Python 2.7.12
root@ip-172-31-26-168:/home/ubuntu# python3 -V
Python 3.5.2

On Thu, Jul 12, 2018 at 12:30 PM Deepjyoti Barman <notifications@github.com>
wrote:

[2018-07-12 10:42] deepjyoti30 commented on #4
Did you run setupConfig with python3?

[2018-07-12 10:46] NaiCity commented on #4
Yes I did, but still I got the same result. I even tried it with CentOS 7 .

On Thu, Jul 12, 2018 at 1:42 PM Deepjyoti Barman <notifications@github.com>
wrote:

[2018-07-12 11:49] deepjyoti30 commented on #4
That's a weird issue man.
Try ```sh sudo pip install pathlib```

[2018-07-12 14:06] NaiCity commented on #4
That runs well but then when I run python,setupConfig.py I get

Traceback (most recent call last):
  File "setupConfig.py", line 8, in <module>
    class DEFAULTS:
  File "setupConfig.py", line 12, in DEFAULTS
    HOME_DIR = str(Path.home())
AttributeError: type object 'Path' has no attribute 'home'

On Thu, Jul 12, 2018 at 2:49 PM Deepjyoti Barman <notifications@github.com>
wrote:

[2018-07-12 14:13] deepjyoti30 commented on #4
I really think this is probably because of two setups. Other users are not facing any issues. If possible can you try anywhere with just python 3 installed?

[2018-07-12 15:32] deepjyoti30 commented on #3
Should be fixed now.

[2018-07-12 15:32] #3 closed

[2018-07-12 17:01] mehalter commented on #4
I cannot get anything to run either. Both the setupConfig.py and the ytmdl.py return this error

[code]

[2018-07-12 17:33] deepjyoti30 commented on #4
Its weird coz i am able to use it all right.
Can you post the pathlib version?
Just run the following command and post the output
```sudo pip install pathlib```
Also which linux distro are you using?

[2018-07-12 17:35] deepjyoti30 commented on #4
@mehalter Do you have a .config folder?

[2018-07-12 17:44] mehalter commented on #4
I do. That is a type error for join, not a problem with my folder. Also I have all the dependencies.

[2018-07-12 17:47] deepjyoti30 commented on #4
@mehalter Type following and show me the output
[code]
Then the following
[code]
Please post the output

[2018-07-15 13:13] mehalter commented on #4
So I have done the pip install and it installed great. If I run `ytmdl -s` without the config folder already created I get the error `AttributeError: module 'os' has no attribute 'mkdirs'`.

[2018-07-15 13:17] mehalter opened #7 "ytmdl not doing anything"
I am getting some strange functionality. I have done the pip install, have v0.1-r8, and have run `ytmdl -s`. It doesn't actually do anything.

If I run `ytmdl "Fractures"` for example, it completes in 1 second with no output and not files written or anything. I also get no errors, it just returns. Same if I try to pass in a URL like `ytmdl --url "https://www.youtube.com/watch?v=ZCu2gwLj9ok" "Fract

[2018-07-15 20:39] NaiCity commented on #4
@mehalter  Exactly. I'm getting this error
Traceback (most recent call last):
  File "/usr/local/bin/ytmdl", line 168, in <module>
    main()
  File "/usr/local/bin/ytmdl", line 60, in main
    setupConfig.make_config()
  File "/usr/local/lib/python3.5/dist-packages/ytmdl/setupConfig.py",n make_config
    os.mkdirs(DEFAULTS.CONFIG_PATH)
AttributeError: module 'os' has no attribute 'mkdirs'

[2018-07-19 13:40] deepjyoti30 commented on #7
Are you sure no errors were shown? I tried the exact same command and its working all right. I also have v0.1-r8. Did you try with other songs.??

[2018-07-19 13:45] mehalter commented on #7
Yup, I have also tried across distributions and multiple computers. Both Arch and Ubuntu, between 3 different computers. No error, not even an error code being sent back to the terminal. Exit status 0. Also I have tried multiple songs, with url, without, the only thing I can get it to do is setup, help, and version.

[2018-07-19 13:50] deepjyoti30 commented on #4
Sorry about that issue. I made a silly mistake. I have fixed it and it should be working all right now. Please try it.

[2018-07-19 13:51] deepjyoti30 commented on #7
Can you please try the latest version?
First uninstall ytmdl by following
```sudo pip uninstall ytmdl```
Then install it again with the following
```sudo pip install --no-cache-dir ytmdl --upgrade```
And then setup config by -s flag and try.

[2018-07-19 13:54] mehalter commented on #7
Just did that, still nothing on all machines, its still v0.1-r8.

[2018-07-19 14:02] deepjyoti30 commented on #7
Please do the above steps again. Pypi takes a bit time. Please run the exact commands i gave you.

[2018-07-19 14:05] mehalter commented on #7
What is the version number I am looking for so I know I have gotten the correct version?

[2018-07-19 14:07] deepjyoti30 commented on #7
Can you check the version of installed by checking the output returned by
```sudo pip install --no-cache-dir ytmdl --upgrade```
If it shows version is post9 than its r9. Also, did you try ```ytmdl -s```?

[2018-07-19 14:10] mehalter commented on #7
Ah it does say post9 on the install but `ytmdl- -version` returns `v0.1-r8` still. Just wanted to make sure. Also Yes, I have run the commands exactly as you sent them to uninstall and reinstall, ran `ytmdl -s`, verified the config file was created, still absolutely no output or errors with and without specifying a url, on 2 laptops and a desktop, Ubuntu and Arch.

[2018-07-19 14:22] deepjyoti30 commented on #7
Clone the repo.
Then move to the dir and run following
```python ytmdl.py "Fractures"```
Please tell me if that works

[2018-07-19 14:23] mehalter commented on #7
It does not, same behavior

[2018-07-19 14:32] mehalter commented on #7
Ok nice, it gets to `==> Searching Youtube for Fractures`, now i get

[code]

[2018-07-19 14:46] NaiCity commented on #4
Can you please give me the steps again please ?

On Thu, Jul 19, 2018, 16:50 Deepjyoti Barman <notifications@github.com>
wrote:

[2018-07-20 17:59] deepjyoti30 commented on #7
Sorry about that. I am currently looking into that. Did you try with other song names?

[2018-07-20 17:59] mehalter commented on #7
Yeah, I have tried multiple songs, haven't gotten anything to work.

[2018-07-20 18:10] deepjyoti30 commented on #7
Can you please try the following.
Clone the beta branch to a directory
Then run following
```python ytmdl.py "Fractures"```

[2018-07-20 18:11] deepjyoti30 commented on #7
If it prints error, please gimme the log

[2018-07-20 18:14] mehalter commented on #7
That one seems to work

[2018-07-20 18:15] deepjyoti30 commented on #7
Everything is working??

[2018-07-20 18:20] deepjyoti30 commented on #7
Can you please try the steps again an try?? I mean clone the beta again and try. ??

[2018-07-20 18:59] deepjyoti30 commented on #7
That error should be fixed now.
Uninstall ytmdl and install it by the following commands
```sudo pip uninstall ytmdl```
```sudo pip install --no-cache-dir ytmdl --upgrade```

[2018-07-24 13:37] mehalter commented on #7
I am getting a hang on `Downloading ....` It doesn't matter if I pass in a URL or I select one from the list, it never downloads.

[2018-07-24 13:42] deepjyoti30 commented on #7
Weird. I made some changes in downloading, that might be the issue. Anyways move to the previous version vy uninstalling and then installing post2 by following
```sudo pip install ytmdl==0.2.post2```

[2018-07-28 04:06] NISH1001 opened #9 "Improve local search"
Hi,
Thanks for mentioning me on the README.

I just went through the source code of ytmdl, especially the logic where the search is.
I saw the search module and it seems the search you are using is buggy search I had written before the improvement.
Can you look into this commit on how I have improved the local search:
https://github.com/NISH1001/playx/commit/9fd464b6849a0a4ea960d36168c861f069cfa37

[2018-07-28 11:13] deepjyoti30 commented on #9
Thanks for reminding me. I was aware of the changes but was feeling lazy. Thanks, once again!

[2018-07-28 11:13] #9 closed

[2018-08-02 02:23] wsc96 opened #10 "Something went wrong while downloading"
I get the below message whenever attempting to run ytmdl regardless of whether I supply the URL or just the song name.

 ==> Something went wrong while downloading!

The version I have is v0.2-r4.

Is there a log kept anywhere or a way to get more verbose output to see what might be failing?

[2018-08-02 05:17] rwoodpecker commented on #10
Same issue for me.

[2018-08-08 20:39] wsc96 commented on #10
Any updates on this issue?

[2018-09-13 11:46] deepjyoti30 commented on #10
@wsc96 @rwoodpecker Sorry guys. I was not aware of the issue. It was due to some issues in youtube-dl. Its fixed now. Please update to v0.2-r5.

[2018-09-13 11:46] #10 closed

[2018-09-13 11:54] deepjyoti30 commented on #4
@NaiCity Sorrry for such a late reply. Most issues are fixed now. Please try installing the latest  version by
```sudo pip install --no-cache-dir ytmdl --upgrade```
If you have any version already installed then consider uninstalling it by the followingf command
```sudo pip uninstall ytmdl```

[2018-09-13 11:54] #4 closed

[2019-08-10 06:28] melonhusk opened #13 "Error while converting file to mp3"
Tried downloading a song,
Download was complete, then it stopped and displayed the following error

Problems :
1. No AlbumArt
2. #The#Name#Is#Like#This
3. The song doesn't play in my phone, but does on my laptop

Bruno#Mars#-#Grenade#[Official#Video].mp3                                                                                                3.64 MB's |36 kbps| ETA: 0 s |--------------------

[2019-08-10 12:03] deepjyoti30 commented on #13
Fixed in [#810593](https://github.com/deepjyoti30/ytmdl/commit/8105932fc55698222eab1e6457e00ef01b43093d)

[2019-08-10 12:03] #13 closed

[2019-09-09 11:42] pyup-bot opened #14 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-09-09 12:02] #14 closed

[2019-11-09 10:38] #7 closed

[2019-11-15 13:20] chri87d9 opened #15 "config file"
I'm having trouble when changing the config file. I have changed the SONG_DIR, but it is still using the default. I removed the # in the beginning of the line, so it says:

SONG_DIR = "home/chris"

[2019-11-15 13:44] deepjyoti30 commented on #15
I think you should change it to ```SONG_DIR="/home/chris"```, the ```/``` before is important.

It takes the dir from the config but when it also checks to see if it is present, else the dedault dir is used.

[2019-11-15 18:14] lincoln7711 opened #17 "Syntax Error"
Mac OSX Mojave, iterm2 w/ ZSH

Installed via pip, get the attached syntax error.  My python is up to date (both 2 and 3).

Also had an issue with it installing on my Ubuntu box (19.10) this morning - wouldn't recognize it as a command after installing via pip.  Haven't really had a chance to look further, but advice welcome.
<img width="890" alt="Screen Shot 2019-11-15 at 09 28 20" src="https://us

[2019-11-15 18:30] mhoekveen opened #18 "Fails when ~/Music does not exist."
The script currently errors with a FileNotFoundError when the Music directory does not exist in the home directory.

To reproduce on default configuration:

1.  (re)move the Music directory from your home directory (if exists)
2. run `ytmdl any song`
3. observe the error

I think it would probably be best to not assume the existance of any folders in the home directory and by default just download

[2019-11-15 18:37] ucalyptus opened #19 "List Index Out of Range"
ytmdl new divide
/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)
 ==> Searching Youtube for new divide
 ==> Choose One
 [1] New Divide (Official Video) - Linkin Park by Linkin Park
 [2] New Divide [Live in Red Square 2011] - Linkin Park by Linkin Park
 [3]

[2019-11-15 19:06] qubidt opened #20 "Consider requiring python3 in setup.py"
It might be a good idea to add [`python-requires`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) to the `setup.py` to prevent people from [accidentally installing the script on non-supported python versions](https://www.reddit.com/r/commandline/comments/dwlvl4/ytmdl_download_songs_with_metadata_directly_from/f7l4b15/)

[2019-11-15 19:20] esturniolo opened #21 "Missing first word when search full album"
Hi!
When you search for an album, the first word is missing, so I think that can affect the search.
I'm not able to find albums with more than two words in the title.
I tried with simple quotes, double even with backticks, but didn't works.

![screenshot-20191115-16:12:29](https://user-images.githubusercontent.com/5169045/68969124-027d3a80-07c3-11ea-87dc-0ebcc53938a3.png)

![screenshot-20191115-16

[2019-11-15 19:38] esturniolo opened #22 "Where is the config file?"
Hi again.
I can't find the config file.
When I run it with `-s`, ytdml asks for the song name.

![screenshot-20191115-16:36:53](https://user-images.githubusercontent.com/5169045/68970552-4e7dae80-07c6-11ea-9fca-fc8da4b987de.png)

[2019-11-16 03:41] deepjyoti30 commented on #22
Hey @esturniolo , the -s option will create the config, just that I made some last moment changes due to which we need to pass something as the song name.

You can do ```ytmdl -s ""``` in order to setup the config file.

[2019-11-16 03:43] deepjyoti30 commented on #17
I think you used pip2 instead of pip3. Try uninstalling and reinstalling using ```pip3```.

That would probably fix the issue.

[2019-11-16 03:45] deepjyoti30 commented on #18
Hey @mhoekveen I'll rollout a fix for that ASAP. I'll try to patch all the issues soon and roll out a new release. Sorry for the issue.

[2019-11-16 03:46] deepjyoti30 commented on #19
I think it's probably caused due to that warning you're getting. I'll try to fix it soon.

[2019-11-16 03:47] deepjyoti30 commented on #20
I'll add this in the next release.

[2019-11-16 03:51] deepjyoti30 commented on #21
Hey @esturniolo . The app is intended to download songs only at the moment and that means when you pass the ```--album```, all it tries to do is find a song from the passed albumname.

So in your case, ytmdl is recognizing ```you gonna go my way``` as the song name and ```Are``` as the album where it will find the song from.

[2019-11-16 04:17] TheNetJedi opened #23 "Error after installing from AUR - itunespy and bs4 not installed"
Installing from AUR doesn't automatically install itunespy and bs4, had to install them manually

[2019-11-16 04:19] deepjyoti30 commented on #23
Hey @TheNetJedi ```itunespy``` is not available in AUR so I updated the README to let people manually install it but I think ```bs4``` should be installed by ```python-beautifulsoup4``` which is a dependency.

[2019-11-16 04:39] TheNetJedi commented on #23
@deepjyoti30 I installed `bs4`  using `pip install bs4`

Is it possible for you to add the same stuff from README to the installation script, so that after installing `ytmdl` it says that the user will have to install `itunespy` manually?

[2019-11-16 05:02] deepjyoti30 commented on #23
@TheNetJedi Yes, I will updated the PKGBUILD of AUR for that but I really think you need not have installed bs4 again. Are you sure you didn't get some mirror error or something?

[2019-11-16 05:07] TheNetJedi commented on #23
I guess I got that "error" while installing `itunespy`, and I don't think it actually effected `ytmdl`.

My bad.

![image](https://user-images.githubusercontent.com/35243383/68988407-e29a5500-085c-11ea-857d-6dcad55015c9.png)

[2019-11-16 05:08] deepjyoti30 commented on #23
Okay, I'll update the AUR pkg with the instructions to install itunespy, thanks for the heads up.

[2019-11-16 05:39] deepjyoti30 commented on #23
@TheNetJedi Updated the PKGBUILD, after installation from AUR you will be asked to install itunespy. I'll close the issue now.

[2019-11-16 05:39] #23 closed

[2019-11-16 06:58] nyc commented on #18
Two other options for this issue:

1. Download the files to `$SONG_DIR/ytmdl` since users have already configured a folder for where to store the music.
2. Not sure how common this is, but I have a `~/.config/user-dirs.dirs` file defining a `XDG_MUSIC_DIR` for where my music should go, since I don't like the default `~/Music`, so you could try to parse that file. Firefox also uses this file for fi

[2019-11-16 07:11] deepjyoti30 commented on #18
Yup. The next update will download the temp song to the ```.cache``` dir and after everything is done it will be moved to:

The process will follow as below in order

- Get the dir in config, if not present or invalid, try to get fallback dir's
- Here, the first preference is ```XDG_MUSIC_DIR```
- Else try to fallback to ```~/Music```
- Else move to the current directory

[2019-11-16 07:43] deepjyoti30 opened #24 "Want a new feature added? Comment on this issue to make a request."
## Hey guys, tell me what you'd like me to add in the next release.

I'd love to do my best and add features for everyone.

[2019-11-16 13:05] #18 closed

[2019-11-16 13:06] rdrew commented on #19
I'm getting the same error but I dont have the "RequestsDependencyWarning"

[2019-11-16 13:08] deepjyoti30 commented on #19
@rdrew Can you tell me what song you're searching for. It might be song specific.

[2019-11-16 19:09] stoneytony opened #26 "I get this error when running ytmdl"
Traceback (most recent call last):
  File "/usr/local/bin/ytmdl", line 4, in <module>
    __import__('pkg_resources').run_script('ytmdl==2019.11.15.post2', 'ytmdl')
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 3089, in <module>
    def _initialize_master_working_set():
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 3072, in _call_aside
    f(*arg

[2019-11-17 02:25] deepjyoti30 commented on #26
How did you install it? Seems like you cloned the repo.

Give me some steps to reproduce.

[2019-11-17 15:54] undevdecatos opened #28 "python-itunespy is in the AUR"

[2019-11-17 16:06] deepjyoti30 commented on #28
Seems like you pushed it today? I'll update the pkg soon with the changes, thanks!

[2019-11-17 16:10] deepjyoti30 commented on #28
@undevdecatos Should be fixed now.

[2019-11-17 16:10] #28 closed

[2019-11-17 16:56] amirulmenjeni opened #29 "Using `ytmdl --list LIST` requires positional argument."
Forgive me if this is a trivial issue, but from reading the help message it seems that `--list` option takes a list of song names separated by newline, which means whatever songs I want to download is already included in that list. Therefore, the positional argument `SONG_NAME` isn't required since it's already included in `LIST`.

[2019-11-17 17:20] rdrew commented on #19
Same result for all song searchs

On Sat, Nov 16, 2019, 9:08 AM Deepjyoti Barman, <notifications@github.com>
wrote:

[2019-11-18 03:08] deepjyoti30 commented on #29
@amirulmenjeni Yes, it is a known issue. It will sure be fixed in the next release. You can try installing the latest commits by cloning the repo and installing till then.

[2019-11-18 03:10] deepjyoti30 commented on #19
@rdrew Can you try installing the latest commits from the repo and check. I seriously can't debug because I can't reproduce the issue.

[2019-11-18 13:32] chri87d9 commented on #15
I have tried, but it doesn't seem to be reading. I deleted the default created dir, I just get the output:

Traceback (most recent call last):
  File "/usr/bin/ytmdl", line 217, in <module>
    extract_data()
  File "/usr/bin/ytmdl", line 212, in extract_data
    main(args)
  File "/usr/bin/ytmdl", line 91, in main
    if not cache.main(song_name):
  File "/usr/lib/python3.7/site-packages/ytmdl/ca

[2019-11-18 14:08] fabiocaccamo commented on #19
I have this issue for all song searchs.

[2019-11-18 16:35] esturniolo commented on #21
Ok, I understand now. May be you can add that in the --help.

Thanks

[2019-11-18 16:37] esturniolo commented on #22
But where the config file is stored?
Because if I execute `ytmdl -s ""` nothing happens.

[2019-11-18 20:15] paperbenni opened #30 "Download get gets slower over time."
I'm on arch, python 3.8, ryzen 7, gtx 1060
The issue occurs with the git version, the aur version and the pip version.
Whenever I download a song, it starts out with my normal internet speed and once it hits around 15-20%, it gets unbearably slow (going from estimated 10s to 5m and taking even longer).
Normal youtube-dl works fine, both from the shell and with the python bindings.
There's no unusu

[2019-11-19 13:31] jgierer12 opened #31 "Error when video title contains `/` (slash)"
I'm getting the following error:

[code]

I suspect it might have to do with the `/` in the video title, as other videos can be downloaded fine.

[2019-11-20 09:49] deepjyoti30 commented on #30
I've faced the issue too and I think it's rather the youtube URL that we use to download.

I'm pretty sure the downloader is all right, though I'll consider using a different module to download to see if it works differently.

[2019-11-20 09:51] deepjyoti30 commented on #22
The config file should be stored in ```~/. config```.

If ```-s``` works, then you'll see no output but the file will be created.

[2019-11-20 10:42] deepjyoti30 commented on #19
Let me see if it is a Python 3.8 specific issue. I'm using 3.7

[2019-11-20 12:47] deepjyoti30 commented on #31
@jgierer12 Yes I think it's because of that, I'll fix that in the next release

[2019-11-20 14:00] esturniolo commented on #22
Great! the file was created successfully.

Thanks!

[2019-11-20 15:48] deepjyoti30 commented on #22
Glad it worked. I'll close it now.

[2019-11-20 15:48] #22 closed

[2019-11-21 16:52] rpesche opened #33 "ffmpeg is need by ytmdl"
Hello !

At some point, `ytmdl` launch `ffmpeg`.

If it's not installed we get an error : `ERROR: [Errno 2] No such file or directory: 'ffmpeg': 'ffmpeg'`

I think we need to add a check at the very beginning of the executions, because this error apear after searching and selecting a song.

[2019-11-22 04:24] deepjyoti30 commented on #33
Thanks for the update, I've been meaning to add that.

[2019-11-22 08:14] rpesche commented on #33
There is `youtube-dl` to :)

[2019-11-23 05:10] rerenoob commented on #19
I got a similar error. Here is the stack trace:

`  File "/Users/computer/virtualenv/ytmdl/bin/ytmdl", line 4, in <module>
    __import__('pkg_resources').run_script('ytmdl==2019.11.15.post2', 'ytmdl')
  File "/Users/computer/virtualenv/ytmdl/lib/python3.7/site-packages/pkg_resources/__init__.py", line 666, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/Users/comp

[2019-11-23 05:43] deepjyoti30 commented on #19
@rerenoob Hey, did you get the ```list index out of range``` issue? This stack trace is because of the traceback module which I was using to traceback but it doesn't point to what's causing the ```list index``` bug.

Can you please follow the following steps and give me the stack trace after that?

**I'm assuming you're using the clones version because the version is ```post-2``` one.**

- Replace

[2019-11-23 05:57] rerenoob commented on #19
@deepjyoti30 I've done what you suggested and this is the traceback:
`Traceback (most recent call last):
  File "/Users/computer/virtualenv/ytmdl/lib/python3.7/site-packages/ytmdl-2019.11.15.post2-py3.7.egg/ytmdl/yt.py", line 61, in dw
    url = get_youtube_streams(value)
  File "/Users/computer/virtualenv/ytmdl/lib/python3.7/site-packages/ytmdl-2019.11.15.post2-py3.7.egg/ytmdl/yt.py", line 27, in

[2019-11-23 06:00] deepjyoti30 commented on #19
@rerenoob Can you tell me what song you were searching for?

[2019-11-23 06:08] rerenoob commented on #19
@deepjyoti30 the same exception on any song I searched for. Here is an example:

[code]

[2019-11-23 06:12] deepjyoti30 commented on #19
@rerenoob The bug is actually caused by ```youtube-dl```. When ytmdl is trying to extract the song's download url using ```youtube-dl -g <youtube URL>```, it is returning just one URL. I'm working on it currently.

[2019-11-23 06:17] rerenoob commented on #19
@deepjyoti30 when I changed `url = stream_urls[1]` to `url = stream_urls[0]`, it kinda worked, but I got another error:

[code]

[2019-11-23 06:22] deepjyoti30 commented on #19
@rerenoob Usually when we run ```youtube-dl -g ``` we get two URL's. One is the video URL and the other is audio. So when you changed to ```stream_url[0]```, it should've been changed to the video URL, however in your case ```youtube-dl``` is returning nothing when we are trying to extract using ```-g``` flag and that's why the error ```unknown url type: ' '```.

Are you sure ```youtube-dl``` work

[2019-11-23 06:25] rerenoob commented on #19
@deepjyoti30 Thanks for the explanation. I didn't know how `youtube-dl` worked. Never played with it, only through ytmdl. So no, I'm not sure if `youtube-dl` worked for me. I only assumed it worked from the output `==> Downloaded!`

[2019-11-23 06:27] deepjyoti30 commented on #19
@rerenoob No, I mean can you try downloading some video using youtube-dl from the commandline?

```youtube-dl <URL>```. Pass the youtube video URL in place of the URL and tell me if it works.

[2019-11-23 06:32] rerenoob commented on #19
@deepjyoti30 I got some cert issue

[code]

[2019-11-23 06:38] deepjyoti30 commented on #19
@rerenoob Can you try upgrading to the latest youtube-dl using ```sudo pip install --upgrade youtube-dl```

And then run the ```youtube-dl --no-check-certificate <URL>```

[2019-11-23 06:44] rerenoob commented on #19
@deepjyoti30 I could download with the `--no-check-certificate` flag. Here's the output:

[code]

[2019-11-23 06:49] deepjyoti30 commented on #19
@rerenoob That's exactly what we are looking for. The error was being caused by ```youtube-dl``` because of checking the certificate.

I've pushed the changes. Please clone the repo, install and see if it's working now. It
should be.

[2019-11-23 13:56] deepjyoti30 commented on #31
I've already pushed the changes to master, will be pushed with the next release.

[2019-11-23 13:56] #31 closed

[2019-11-23 13:56] deepjyoti30 commented on #20
I've pushed it to master, will surely be added in the next release.

[2019-11-23 13:56] #20 closed

[2019-11-23 13:58] deepjyoti30 commented on #33
```youtube-dl``` is already a dependency so the ```setup.py``` installs it on installation.

[2019-11-23 14:00] #33 closed

[2019-11-23 14:02] deepjyoti30 commented on #26
@stoneytony Can you try the latest commits and tell me if it still exists. It's kind of an weird error.

[2019-11-23 14:06] deepjyoti30 commented on #15
@chri87d9 I'm sorry about the error. It is actually caused because before downloading the song, ```ytmdl``` tries to check if the song is present locally and it checks that in the current ```~/Music``` dir.

I think you won't face the same issue with the latest release.

You can try cloning the repo and get it fixed, else you can try passing the flag ```--nolocal``` to ytmdl.

This sure would be f

[2019-11-23 14:11] deepjyoti30 commented on #21
Made the help better in 67618bd

[2019-11-23 14:11] #21 closed

[2019-11-23 17:51] rerenoob commented on #19
@deepjyoti30 I recloned, reinstalled, and reran ytmdl for the same song. Here is the error I got:

[code]

[2019-11-23 17:56] deepjyoti30 commented on #19
@rerenoob The error you are facing is still because of the certificate thing.

This time it is downlaoder-cli that's not able to verify the certificate, I'll have to add a fix for that. I'll do that soon.

Thanks for the erros. I'll try to fix and get back to you soon.

[2019-11-23 23:54] jgierer12 commented on #31
Thanks!

[2019-11-24 10:27] ELChris414 commented on #24
It's a common phenomenon with greek songs that on youtube they're added with greek characters but on iTunes/Spotify/etc. they're added with english characters. Please give us the option to give a different input for metadata (like a -1 in the option or maybe a new flag)

[2019-11-24 13:01] zronghui opened #35 "how to use a proxy like youtube-dl --proxy "socks5://127.0.0.1:1086""

[2019-11-24 23:31] fedya opened #36 "too many values to unpack (expected 2)"
[code]

[2019-11-27 11:47] chri87d9 commented on #15
the '--nolocal' stopped the error, but it still ingnores my config, and just downloads to the default directory. Maybe its an issue on my end?

[2019-11-27 16:30] lincoln7711 commented on #17
Yep, that was on me.  I didn't specify the version of pip and it used pip2.  Thanks!

[2019-11-27 16:30] #17 closed

[2019-11-29 02:15] pjhalsli opened #37 "very slow downloading"
I really love the idea of his program  - not being forced to leave the terminal to look for songs in a browser  - now you can just stay in the terminal and search from there. Genius. But why is it so slow compared to youtube-dl.

ytmdl was at 80% I then downloaded the same song with youtube-dl and converted it to an audio file. When it was finished ytdml was still at 96% so there's something there

[2019-12-03 15:14] deepjyoti30 commented on #15
Hey @chri87d9 the issue will be fixed in the next release.

[2019-12-03 15:15] deepjyoti30 commented on #24
@ELChris414 I'll try to do something about that.

[2019-12-03 15:15] deepjyoti30 commented on #35
@zronghui Currently there's no such option. I will surely add that option soon.

[2019-12-03 15:49] deepjyoti30 commented on #37
@pjhalsli Hey, I am aware of the issue. I have even tried downloading using chrome and it turns out it's the URL that makes the download slower towards the end.

I will have to look into ```youtube-dl``` source code to check how they implement the downloading.

[2019-12-03 15:53] deepjyoti30 commented on #36
@fedya The fffmpeg issue should be fixed in the last commit. Sorry about that. Thanks for raising the issue.

[2019-12-03 21:53] fedya commented on #36
i make git pull
and run it again

[code]

looks same

[2019-12-04 03:43] deepjyoti30 commented on #36
Hey @fedya Did you install again after cloning the latest commits? Seems like the logger is running in DEBUG mode, that shouldn't happen.

[2019-12-04 08:23] #15 closed

[2019-12-04 11:09] deepjyoti30 commented on #35
Hey @zronghui I added the option. Can you please try and confirm it's working on your end?

[2019-12-04 11:28] zronghui commented on #35
➜  ytmdl git:(master) ytmdl --proxy "socks5://127.0.0.1:1086/" dangerously
 ==> Searching to see if already present in /Users/zhangronghui/Music
 ==> Searching Youtube for dangerously

It just got stuck.

[2019-12-04 11:30] deepjyoti30 commented on #35
@zronghui Weird, it's working all right for me. Is it working with ```youtube-dl``` currently?

[2019-12-04 11:33] zronghui commented on #35
@deepjyoti30  youtube-dl works

[2019-12-04 11:35] deepjyoti30 commented on #35
@zronghui Are you sure it's not a network issue? How long was it stuck for?

[2019-12-04 11:39] zronghui commented on #35
@deepjyoti30  for 4 minutes，then I stopped it

[2019-12-04 11:40] deepjyoti30 commented on #35
@zronghui Did you try with other song names??

[2019-12-04 11:45] zronghui commented on #35
@deepjyoti30  "money in the grave" is the same

[2019-12-04 11:46] deepjyoti30 commented on #35
Is ```ytmdl``` working without proxy?? I mean without using the proxy can you get the search results from YouTube??

[2019-12-04 11:47] zronghui commented on #35
no, I am in china

[2019-12-04 11:48] deepjyoti30 commented on #35
Okay, I think I got the issue. I'll make some changes and tell you to test. Thanks for all the info.

[2019-12-04 11:54] deepjyoti30 commented on #35
@zronghui Hey, can you check the latest commit. It should not be stuck at least.

[2019-12-04 11:56] zronghui commented on #35
@deepjyoti30
➜  ytmdl git:(master) ytmdl --proxy "socks5://127.0.0.1:1086/" money in the grave
 ==> Searching to see if already present in /Users/zhangronghui/Music
 ==> Searching Youtube for money in the grave
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/ytmdl/yt.py", line 119, in search
    response = requests.get(url, proxies=proxies)
  File "/usr/local/lib/

[2019-12-04 11:59] deepjyoti30 commented on #35
Hey @zronghui Sorry about that, should be fixed now.

[2019-12-04 12:05] zronghui commented on #35
@deepjyoti30 Well, It stuck again.Maybe you should put this aside for the moment.And I will go to the shower.

[2019-12-05 13:57] deepjyoti30 commented on #24
Hey @ELChris414 can you install the latest commits and try passing the songname to search metadata seperately using the ```--song``` option? Tell me if that works for you.

[2019-12-05 14:01] deepjyoti30 commented on #35
@zronghui Just made a small change, can you check if it works?

[2019-12-05 14:05] zronghui commented on #35
@deepjyoti30
`➜  ytmdl git:(master) ytmdl --proxy "socks5://127.0.0.1:1086/" money in the grave
 ==> Searching to see if already present in /Users/zhangronghui/Music
 ==> Searching Youtube for money in the grave
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/ytmdl/yt.py", line 122, in search
    response = requests.get(url, proxies=proxies)
  File "/usr/local/lib

[2019-12-05 14:06] deepjyoti30 commented on #35
This thing is really irritating me. Thanks for helping, I'll reply back to you ASAP

[2019-12-05 16:59] ELChris414 commented on #24
Hello! Sure, I'll try it. Thanks for the quick response!

On Thu, 5 Dec 2019 at 3:57 PM, Deepjyoti Barman <notifications@github.com>
wrote:

[2019-12-05 17:09] ELChris414 commented on #24
I may be doing something wrong but I get an *irrelevant with this* issue:

[2019-12-05 17:17] deepjyoti30 commented on #24
@ELChris414 Seems like there's some issue with your installation, can you please try uninstalling and then installing the latest commits.

[2019-12-05 17:32] ELChris414 commented on #24
Had to also change where I get youtube-dl from as my current installation didn't provide the latest update, but, after all, it worked great! Thank you so much man! You're awesome. Here's the exact example that made me send this suggestion:
![E6ACFDD8-A473-42F4-BC46-E282D4AE673E](https://user-images.githubusercontent.com/8685248/70258976-e6ebcb00-1795-11ea-97c0-69ace38c03e4.png)

[2019-12-05 18:29] ELChris414 commented on #24
When naming the file one time it used the metadata name and the other it didn't rename it I've just noticed

[2019-12-05 23:28] ELChris414 opened #38 "Using a list adds spaces between title's characters"
Very odd bug, but it is able to be seen from the search at youtube. It causes big issues in iTunes search.

Ex.
The Game of Love is being searched as T h e G a m e  o f  L o v e

[2019-12-05 23:30] ELChris414 opened #39 "Renaming / Moving fails"
Many times the renamed file remains in ~/.cache and you get a weird, unplayable with no metadata and youtube-dl's naming .mp3 file in ~/Music instead. Can't find what causes this but it happens really often.

[2019-12-06 05:46] deepjyoti30 commented on #38
@ELChris414 Thanks for the heads up, fixed it. Try the latest commit and close the issue as you like.

[2019-12-06 05:54] deepjyoti30 commented on #39
@ELChris414 Seems like a weird issue. I haven't faced that, I would need some more details in order to fix it.

[2019-12-06 06:31] deepjyoti30 commented on #39
@ELChris414 Okay, got the issue.

I recently moved to using the ```ffmpeg-python``` module instead of using the cli one using ```os```. So I forgot to add the part where we remove the temporary file. Fixed it in the latest commit.

Test it and close the issue if it's fixed.

[2019-12-06 12:02] ELChris414 commented on #39
File gets renamed correctly but now stays in ~/.cache/ytmdl, it isn't moved.

[2019-12-06 12:40] ELChris414 opened #40 "Running ytmdl with no arguments fails"
Title describes it, running `ytmdl` gives this error:

EDIT: I'm sorry if this is something once again caused by leftovers of my previous installation, I've done my best to clean it up and be in sync only with github.
[code]

[2019-12-06 12:55] deepjyoti30 commented on #39
@ELChris414 Are you sure those files are not from before you installed the latest commits?

Try removing everything in the dir and then try downloading a song.

[2019-12-06 12:59] deepjyoti30 commented on #40
@ELChris414 No need to be sorry. It was due to the recent changes. I fixed it in the latest commit.

[2019-12-06 13:21] ELChris414 commented on #39
I'm testing many songs, seems like only that time something went wrong. Will close issue in some minutes

[2019-12-06 13:23] deepjyoti30 commented on #39
Cool, glad it's working for you!

[2019-12-06 14:06] #39 closed

[2019-12-06 14:06] ELChris414 commented on #38
Working!

[2019-12-06 14:06] #38 closed

[2019-12-06 14:07] ELChris414 commented on #24
Album downloading would be an interesting feature. Won't work with all albums, but for the ones it does, it will be perfect

[2019-12-06 16:19] deepjyoti30 commented on #24
Yeah but that will be a lot of work, you know. For any album we would've to extract all the songs from either Itunes or Gaana and then download the songs then.

I might add it sometime later though. But the reason behind adding the ```--list``` option was to let users download a whole album.

If you want it that bad, raise a different issue and I'll sure give it a try.

[2019-12-06 16:29] ELChris414 commented on #24
Was just an idea I had, not that important or anything. Lists do work fine!

[2019-12-06 16:31] ELChris414 opened #41 "Some songs don't have data"
They exist in iTunes, but when searched for they either don't appear in any of the 70 options or give the message "No data found". How are songs searched? Maybe different data methods would be better?

Examples:
That's what I like (Bruno Mars 24K Magic)
Giorgio by Moroder (Daft Punk Random Access Memories)

[2019-12-10 06:21] deepjyoti30 commented on #41
@ELChris414  I think the ```Georgio``` song is showing up all right. Though, I did find That's what I like cause an issue. I'll try to do something about that.

[2019-12-30 18:09] allexks opened #42 "Script fails when video has '/' in its name"
## Bug description
It appears that the download fails when converting a video that has the character `/` in its name.

### Solution proposals
Possible solutions include replacing the `/` with another symbol (such as `\` ) or to just removing it from the filename.

### Link used to reproduce the bug:
`https://www.youtube.com/watch?v=hIRiwsk5o0o`

### Terminal output:
[code]

[2019-12-30 21:15] allexks commented on #42
Closing, apparently I have an older version locally and this was fixed in #16 . Sorry.

[2019-12-30 21:15] #42 closed

[2020-01-05 17:21] thekabal opened #43 "Fedora 31 can't launch / use ytmdl"
**pip3 install style:**
Requirement already satisfied: ytmdl in /usr/local/lib/python3.7/site-packages (2019.11.15)
Requirement already satisfied: youtube_dl in /usr/lib/python3.7/site-packages (from ytmdl) (2019.11.28)
Requirement already satisfied: mutagen in /usr/local/lib/python3.7/site-packages (from ytmdl) (1.43.0)
Requirement already satisfied: itunespy in /usr/local/lib/python3.7/site-pack

[2020-01-05 17:24] thekabal commented on #43
Sorry for the inconsistent bold/formatting. It seems markdown is triggering on some of the code snippets.

The summary is that on my Fedora 31 system, I can't seem to get ytmdl working correctly. Any suggestions are appreciated.

[2020-01-13 20:57] AyushRawal commented on #24
It would have been great if we can just play songs directly instead of downloading them.....
Mpv works well with youtube-dl and has --no-video option
I wrote a small script that does the same.....
Hope u consider it

[2020-01-14 17:19] deepjyoti30 commented on #24
@AyushRawal I might consider adding an option to stream directly after selecting the app rather than downloading.

[2020-01-19 16:01] Samyocord commented on #24
Maybe add an option for the user to select wheter to download from YouTube Music or YouTube.

[2020-02-02 17:00] LegendL3n opened #44 "Is it possible to use this as a library?"
Hi there,

I wish to use this for song downloading as a replacement to YoutubeDL, due to its tagging capabilities.
Can I integrate it in my script? (via import)

[2020-02-02 17:06] #44 closed

[2020-02-02 17:06] LegendL3n commented on #44
I closed as I've skimmed through the code and found out it's not that difficult to chain the APIs used :P

[2020-02-03 05:06] deepjyoti30 commented on #44
If you end up making an app with ytmdl as dependency, do tell me, I'll add the app to my README for people to get an example that it can be used as an API ;-)

[2020-02-07 13:58] deepjyoti30 commented on #43
Hey @thekabal , apologies for the later reply.

Seems like something got screwed up while installation.

Can you please uninstall ytmdl by ```sudo pip uninstall ytmdl```

After that, remove all the folder/files related to ```ytmdl``` from the ```/usr/local/lib/python3.7/site-packages/```.

Make sure it's not installed anywhere, try running the above uninstall command once more and cross check the

[2020-02-07 13:59] deepjyoti30 commented on #26
Closing issue since user is not replying.

[2020-02-07 13:59] #26 closed

[2020-02-07 14:04] deepjyoti30 commented on #24
@AyushRawal Why don't you try [playx](https://github.com/NISH1001/playx)? Adding a stream option to ```ytmdl``` would be making it work like ```playx``` so I'll skip that for a while.

[2020-02-07 14:06] deepjyoti30 commented on #19
Should be fixed in upcoming release.

[2020-02-07 14:06] #19 closed

[2020-02-07 14:24] AyushRawal commented on #24
@deepjyoti30 It looks so great ... I am quite interested to try this out ...  Thanks a lot

[2020-02-07 14:24] deepjyoti30 commented on #40
Should be fixed in the next release

[2020-02-07 14:24] #40 closed

[2020-02-07 14:26] deepjyoti30 commented on #24
@AyushRawal I've been contributing to it for a long time now. Do raise issues in case you face any. [Nishan](https://github.com/NISH1001) and I are always glad to fix them.

[2020-02-07 15:38] deepjyoti30 commented on #35
@zronghui Hey, can you still help in testing?? I just want to add this feature but it's hard for me to detect the bugs because I don't have a restricted network.

It'd be really helpful if you can help with that.

[2020-02-28 05:06] orhitg opened #45 "Not relevant song data search result."
I was trying to download song of which I only remembered the channel name not the song name, luckily I found the song but while fetching the data about song I couldn't find the data as search results were based on the channel name that I had given for the search, instead of the song name.

P.S: I love the tool you have developed. Specially the song data fetching.

[2020-02-28 16:37] d4g0n1993 opened #46 "Can't find anything"
ytmdl can't seem to find songs anymore. I even tried making it search taylor swift music, but it keeps returning the same error "No song found. Please try again with a different keyword.".

[2020-03-07 08:53] deepjyoti30 commented on #46
@d4g0n1993 I can't see any issues. I just tried using it with different search terms.

Can you tell me a bit more about reproducing it with the exact search terms??

[2020-03-07 11:38] deepjyoti30 commented on #45
Hey @orhitg Sorry for the late reply. I think you can use the ```--song``` flag to pass a song name to search for metadata.

One user faced something similar and had raised an issue and so I had added the above mentioned flag. It should probably fix your issue.

P.S: Glad you love the tool! Means a lot to me.

[2020-03-18 08:58] AllMight420 commented on #24
64-bit Support

[2020-03-18 09:16] deepjyoti30 commented on #24
@AllMight420 What exactly do you mean by 64 bit support??

[2020-03-18 14:44] AllMight420 commented on #24
Well i have a win 10 64-bit. When i installed ytmdl, the ytmdl file in the
bin folder had no extension. So i added .exe and when i tried to run it.
this is what happens.

On Wed, Mar 18, 2020, 2:47 PM Deepjyoti Barman <notifications@github.com>
wrote:

[2020-03-18 15:50] deepjyoti30 commented on #24
@AllMight420 Oh, I see you want support for Windows. I did thought that I will keep support for Windows but as I added support it became more harder.

Also, I don't use Windows myself so it's hard for me to keep support, I'd really need some testers for that. Anyway I'll look into it if possible.

[2020-03-18 16:26] AllMight420 commented on #24
appreciate it

[2020-03-18 16:41] AllMight420 commented on #24
i tried it on kali linux and this error popped up
Traceback (most recent call last):
  File "/usr/local/bin/ytmdl", line 19, in <module>
    from ytmdl import (
  File "/usr/local/lib/python2.7/dist-packages/ytmdl/song.py", line 51
    print(Fore.LIGHTMAGENTA_EX, end='')

[2020-03-18 16:45] deepjyoti30 commented on #24
@AllMight420  Can you please open a new issue for the Kali linux error and also give me a proper traceback?!

[2020-03-18 18:25] AllMight420 commented on #24
sry my bad. it wasnt installed properly

[2020-03-21 04:53] deepjyoti30 commented on #30
@paperbenni Hey there, after researching a bit, it turns out the slow download issue was because Google puts a rate limit in their download links. However youtubeDL's downloader checks for that and accordingly is able to download without this issue.

I have implemented the download using the YoutubeDL's download algo and should be fixed in the next release.

[2020-03-21 04:53] #30 closed

[2020-03-21 05:06] deepjyoti30 commented on #37
@pjhalsli After a doing a bit of research, it turns out the download was slow because puts a ratelimit on their download links.

I was using ```downloader-cli``` to download which didn't check for ratelimits. However ```Youtube-dl``` downloader does check that and is able to download faster, so I decided to move to their downloader.

The progressbar and other stuff will still be same with the addi

[2020-03-21 05:08] deepjyoti30 commented on #35
Hey @zronghui I think the previous issues we were facing regarding the proxy were probably at the download stage and since I am making the move to ```youtube-dl``` downloader, it'll be fixed now.

If you are free, I'll really appreciate if you could test the latest commits and tell me if the proxy option works and if you face bugs, if any.

[2020-03-21 06:03] deepjyoti30 commented on #41
@ELChris414 Seems like found the bug that was causing the issue, it will be fixed in the next release.
I have already committed the changes.

[2020-03-21 06:03] #41 closed

[2020-03-21 06:55] deepjyoti30 commented on #37
Should be fixed in the latest release.

[2020-03-21 06:55] #37 closed

[2020-03-21 06:56] deepjyoti30 commented on #29
Should be fixed in the last release.

[2020-03-21 06:56] #29 closed

[2020-03-22 00:11] xgqt opened #47 "Gentoo packaging"
I have create a ebuild for ytmdl, available here:
https://gitlab.com/src_prepare/src_prepare-overlay/-/commit/4bba72c3b0b315b91fb59d814b6e8494595ab253
Would be amazing if you include this in the README.
Thanks for great software!

[2020-03-22 07:59] deepjyoti30 commented on #47
Hey @xgqt Thanks for doing that. I want to add it to the README, but since I'm not familiar with using gentoo, can you please tell me, how a user who uses gentoo is supposed to install ```ytmdl``` using the package manager?

[2020-03-22 09:52] xgqt commented on #47
Thanks for the reply!
First the user will have to add the overlay which can be done in few ways (described in the overlay readme.md). The most common way of doing that is to use layman: `layman -a src_prepare-overlay`.
Then the user emerges ytmdl with `emerge -av --autounmask ytmdl`. `--autounmask` will make the process smoother by prompting the user to add unstable packages needed for the softwar

[2020-03-22 10:04] deepjyoti30 commented on #47
@xgqt So the user will have to add your specified overlay right.

If I'm to add instructions for a gentoo user to install ytmdl it will be something like this.

1. Get the overlay from the repo you mentioned
2. Follow the instructions you just mentioned.

Is the process like above or is there a simpler way??

Also, if you want you can make a PR by updating the necessary steps required to install i

[2020-03-22 14:08] xgqt commented on #47
I will do a PR

[2020-03-23 03:30] deepjyoti30 commented on #47
Thanks for #48

[2020-03-23 03:30] #47 closed

[2020-03-23 19:57] xgqt commented on #47
Thanks for cooperation :
)

[2020-03-26 01:03] DetonDev opened #49 "Gives ERROR: list index out of range whenever I try to download anything"
I used this nice little program a few months ago and recently came back to it. Before using it, I updated it to it's latest PyPi version. I then tried to download with it, but every time after I searched something and selected one of the Youtube videos on the list, the download failed and the program gave me ERROR: list index out of range. This happens with every search. Is there something I shoul

[2020-03-26 09:50] pjhalsli commented on #37
You are THE man

[2020-03-26 10:01] deepjyoti30 commented on #37
@pjhalsli Thanks!!

[2020-03-27 01:02] DetonDev commented on #49
I solved the problem. I fiddled around with pip for a bit and figured out that it hadn't updated correctly. The version I was using was still outdated. Whoops!

[2020-03-27 01:02] #49 closed

[2020-04-04 16:31] EvilSpark commented on #24
Can you add an option to download a playlist by giving URL? Since adding metadata through youtube-dl still leaves lots of stuff out of place

[2020-04-05 06:27] deepjyoti30 commented on #24
@EvilSpark Sounds good. I think that would be a neat addition, I'll try to add it in the next release.

[2020-04-05 09:26] deepjyoti30 commented on #24
@EvilSpark I have added the functionality to download from playlists, you can try out the latest commits and raise an issue if you find any bugs.

[2020-04-06 19:17] EvilSpark commented on #24
@deepjyoti30 You should also add `--ignore-errors` to playlist section since it usually stops midway if some video is unavailable.

Thanks for this feature tho. :+1:

[2020-04-07 05:51] deepjyoti30 opened #50 "[Feature] Ignore if some song is unavailable from the passed playlist"
@EvilSpark Can you please gimme the proper logs where the playlist extraction is failing.

It's hard to recreate the issue and fix it, I haven't faced it yet. It'd be easier for me to add the option you mentioned.

[2020-04-07 08:43] EvilSpark commented on #50
`ytmdl https://youtube.com/playlist\?list\=RDCLAK5uy_lnc8KRduWMg4K23TYAOcjTmInGyveebVs`
Let's take an example of this playlist. After it gives an option to select the video, it starts downloading it-

[code]
And if we do -
`ytmdl Massive Pop Remixes`

it gives this error -

[code]

Sort of this is not your CLI error but that of youtube-dl. So in order to mitigate it, you can add `--ignore-errors`

[2020-04-07 11:07] deepjyoti30 commented on #50
@EvilSpark Thanks for the explanation.

It's actually not as simple as passing a flag to youtube-dl since I'm not actually downloading the playlist as a whole using youtube-dl, insteas I am passing each song so that youtube-dl can download. It is necessary because after the download, the metadata of the song is also being added . However I think I can handle the error when I'm calling youtube-dl t

[2020-04-07 12:00] deepjyoti30 commented on #50
@EvilSpark Made some changes, it should be working now.

[2020-04-07 12:10] EvilSpark commented on #50
[code]

It is giving this error now.

[2020-04-07 12:13] deepjyoti30 commented on #50
Yeah, the thing is currently you can search and download playlists, only way to do that for now is passing the youtube playlist URL to ytmdl and each song will be downloaded from that playlist.

Try passing the playlist URL to ytmdl

[2020-04-07 12:18] EvilSpark commented on #50
[code]

[2020-04-07 12:35] deepjyoti30 commented on #50
@EvilSpark I've made the changes, check the latest commit.

[2020-04-07 12:39] EvilSpark commented on #50
Another Error -

If it's unable to find data, it stops the searching.

[code]

[2020-04-07 13:05] deepjyoti30 commented on #50
This one is probably because the title is filled with lots of unnecessary info and that's stopping the itunes and gaana searches from being able to return a result.

This is a known problem and I'm yet to find a fix for it. I did added some measures to remove words like ```official video``` etc but it still needs some work.

[2020-04-11 12:14] deepjyoti30 opened #51 "[Feature] Add support for Windows"
Hey guys, thanks for all the love and support.

A few days ago an user asked me to add support for Windows if possible. I would love to add support but currently I'm using Linux full time and honestly I don't wanna go back to those horror days of using Windows, (yep, my machine specs aren't that good).

So if any user who's using Windows and would like to help adding support for it, please comment

[2020-04-16 09:13] Tindome commented on #24
# Create config file on first launch

# Add the ability to set a param for cache location : i prefer not to use ./home

# Rework on check for youtube-dl

[2020-04-16 09:13] lebanni commented on #24
Can you add support for aac/m4a format ?

[2020-04-16 11:11] ramuskay opened #52 "Not relevant tag for songs"
Hi,

I have an issue to tag correctly music I downloaded, below there is example :

[root@pc-root ytmdl]$ ytmdl --song single ladies
 ==> Searching to see if already present in /home/adeschamps/Musique
 ==> Searching Youtube for ladies
 ==> Choose One
 [1] Beyoncé - Single Ladies (Put a Ring on It)
 (Video Version) by Beyoncé with dur Durée 3:19
 [2] Lee Fields & The Expressions - Ladies by franqu

[2020-04-16 16:39] deepjyoti30 commented on #52
Currently the song name is searched as is in Itunes and other sources for metadata. I just tried with the song you passed and it seems like the song does come up but around 23 place in the metadata.

```[23] Single Ladies (Put a Ring on It) by Beyoncé```

For the time being you can click on more results and go to the part where you'd get the result.

About the bug, it does seem like something is c

[2020-04-16 16:43] deepjyoti30 commented on #24
@lebanni I will probably have to look for that.

@Tindome Those seem like good additions but I would consider the second one as a bug. Please gimme some logs on the error part.

Regarding the config file, I can work on that but I would really appreciate if you could explain a bit more about it.

I will open a new issue regarding the above.

[2020-04-16 16:44] deepjyoti30 opened #53 "Create config file on first run, fix issue with youtube-dl check."
@Tindome Please gimme some more details about the issue you faced and explain a bit about the config thing as well.

Cheers.

[2020-04-16 16:46] deepjyoti30 opened #54 "[Feature Request] Add support for aac/m4a format"
@lebanni Please consider sharing your thoughts about the request, I will look into these formats and see if it's possible to add support for those.

[2020-04-16 16:47] deepjyoti30 commented on #24
Seems like it's better to let users create a new issue tagged as a feature request. This issue seems to be overwhelmed with new requests. Closing it for the same reason.

## Please create a new issue with [Feature] in the title

[2020-04-16 16:47] #24 closed

[2020-04-17 02:24] arnauldb opened #55 "errors"
Hello,

Installed with pip on a Linux Mint Sylvia machine.
I have this error:

Thank you.

[2020-04-17 02:36] arnauldb commented on #55
Solved by updating to the latest youtube-dl, sorry...

[2020-04-17 07:05] deepjyoti30 commented on #55
Issue fixed

[2020-04-17 07:05] #55 closed

[2020-04-17 10:25] vince2010091 opened #56 "[Feature] tag without download"
Hello,
Is it possible to tag massively a MP3 folder (without download from youtube)
Regards

[2020-04-17 10:43] deepjyoti30 commented on #53
@Tindome the config setting up part is implemented and its working all right.

It would still be helpful if you could give me logs about youtube-dl check.

[2020-04-17 10:45] deepjyoti30 commented on #56
@vince2010091 Currently it doesn't support anything like that and I think adding something like that would really take the development in another direction.

However, you can still use the methods in ```ytmdl``` and write a simple Python script to do what you want, it won't be that hard since most of the work would be done by the methods already present in ytmdl.

[2020-04-17 11:47] deepjyoti30 commented on #56
@vince2010091 I wrote a simple script to the what you're asking for, it uses ytmdl methods so make sure ytmdl is installed.

## What it does
1. Takes a directory as input and scans it for mp3 songs
2. The songs are then moved to ```~/.cache/ytmdl/``` (ytmdl restriction).
3. Then it converts the song to mp3 and adds the tags to the converted song in the ```~/.cache``` directory.
4. Once the tags ar

[2020-04-17 11:50] vince2010091 commented on #56
@deepjyoti30 Thanks for your feedback, I will look in this direction.

[2020-04-17 16:41] amadouderza opened #58 "Can't edit default folder"
Hi,

I have no ytmdl folder in my /home/pi/.config folder.

Sorry if this is basic, I'm discovering linux.

[2020-04-18 06:15] deepjyoti30 commented on #58
For the current release you need to run ```ytmdl --setup``` to make the setup.

From the next release, it will be setup automatically.

[2020-04-18 15:32] amadouderza commented on #58
Thanks!

[2020-04-18 15:32] #58 closed

[2020-04-18 15:43] amadouderza opened #59 "&feature=youtu.be stops the program"
Hi,
Copy pasting URL with an ampersand after the video ID stops the program.
Removing it, it works.
(ytmdl https://www.youtube.com/watch?v=8fSpEYQUNpQ is alright)
Is it possible to trim it automatically?
Regards

[code]

[2020-04-19 14:33] deepjyoti30 commented on #59
Sure, I'll add a fix in the next release to automatically fix that.

[2020-04-22 06:08] deepjyoti30 commented on #59
Should be fixed in 3850612

[2020-04-22 09:31] deepjyoti30 commented on #54
Hey @lebanni , I added support for m4a, do check the latest commit and report back in case you face any issues.

[2020-04-24 12:58] Nasjoe opened #60 "ERROR: 'total_bytes'"
Sometimes this append :

 ==> Searching to see if already present in /mnt/raidz/slaan/KonectRadio/Playlist/Jazz
 ==> Searching Youtube for https://www.youtube.com/watch?v=W_UfkT2BGlE
 ==> Choose One
 [1] Adrian Younge and Ali Shaheed Muhammad feat. Roy Ayers - "Synchronize Vibration" by Jazz Is Dead Official with dur 3:32
 ==> Enter Choice [a valid choice] 1
 ==> Downloading Adrian Younge and Ali

[2020-04-24 14:30] deepjyoti30 commented on #60
@Nasjoe Let me look into it, it's thrown by youtube-dl that ytmdl uses to download the files, I'll have to reproduce and check what the issue is.

Thanks for reporting.

[2020-04-24 14:44] deepjyoti30 commented on #60
@Nasjoe The issue was due to a dict value that was being tried to access while it wasn't present, should be fixed in 71d7b43

Closing now. You can test the latest commit and report back if you face it again.

[2020-04-24 14:44] #60 closed

[2020-04-24 15:43] #36 closed

[2020-04-24 17:13] johfst opened #61 "More information on config file"
There isn't really any information in the github readme about what the config file should be named or how it's formatted, which is making ytmdl nearly impossible to configure properly. Specifically, I'm trying to get it to download a playlist and send separate videos to separate mp3 files, rather than just dumping everything in a single mp3, and it's not working properly. But I don't know if I'm j

[2020-04-25 06:47] deepjyoti30 commented on #61
Hey @johfst  Sorry for all the trouble

You can currently setup the default config by running ```ytmdl -s```.

From the next release, the config would be created automatically on the first run.

If you open the config file, you will see there are instructions on how to change the values and what values are possible.

Also you can check [this](https://github.com/deepjyoti30/ytmdl#change-defaults) s

[2020-04-25 08:05] bassail opened #62 "WSL - Invalid cross-device link"
Hello,

I'm using Ubuntu terminal on Windows with WSL, and I am getting the following error when downloading a song :

[code]

I guess it is because of WSL and Windows.

I didn't any log file so here is what I get by enabling the DEBUG log level :

[ytmdl debug log.txt](https://github.com/deepjyoti30/ytmdl/files/4532602/ytmdl.debug.log.txt)

Hope it helps you improve ytmdl.

[2020-04-25 08:25] deepjyoti30 commented on #62
Hey @bassail Thanks for reporting the issue.

Are you able to access the ```~/.cache/ytmdl/``` directory from your terminal?? It seems like the issues is in moving the completed file from the ```.cache``` dir to the home directory.

Can you also tell me if you have put some specific directory on your config file or ytmdl is automatically moving to the default directory?

[2020-04-25 08:59] bassail commented on #62
Found the log file under ~/.cache/ytmdl/

The mp3 files do exist under ~/.cache/ directory.

I have put a specific directory on my config file. I just `ytmdl --setup` again to get the default config file, and it works.
I tried again with my own directory, and it works. I don't know what I did wrong.

Thanks !

[2020-04-25 09:13] bassail opened #63 "Cache mechanism ignoring part of the SONG_DIR path"
Hello,

When I download the same song several times, it downloads again and again.

If that matters, I'm running Ubuntu with WSL.

I've seen in the log file that ytmdl is checking if the song already exists under the SONG_DIR folder.

Here is what is configured on my config file (it is the only line that does not start with a `#` :
[code]

What I tried is to download a song multiple times :
[code]

[2020-04-25 09:14] deepjyoti30 commented on #62
I think the issue was probably because you've set a Windows directory as the final directory and that's why Python wasn't able to move it.

[2020-04-25 09:16] deepjyoti30 commented on #63
Yeah, seems like ytmdl is not checking all the directories inside the ```SONG_DIR``` and that's what's causing the error, I'll probably release a fix for that as soon as possible.

Thanks for bringing that to my attention.

[2020-04-25 09:21] bassail commented on #62
Just found out what was not working.

On my second attempt, I have set the following SONG_DIR path, which works fine :
[code]

On my first attempt, the path was this one, which doesn't work :
[code]
and i get the error previously mentioned :
[code]

[2020-04-25 09:25] deepjyoti30 commented on #62
I think the issue was with putting those square braces around the title, probably something went wrong with that.

[2020-04-25 12:59] bassail opened #64 "ERROR: Stream #0:0 -> #0:0 (copy) when downloading a playlist"
Hello,

When I try to download a playlist, i have this message :
[code]

This happened with several playlist links. I have not been able to download any playlist.

`ytmdl https://www.youtube.com/playlist\?list\=PLpRjkOHBe_TgmznCle__jWDhoV4aFgCjw --level DEBUG`
-> gives the following logs :
[ytmdl playlist.txt](https://github.com/deepjyoti30/ytmdl/files/4532978/ytmdl.playlist.txt)

Hope it helps yo

[2020-04-25 13:04] deepjyoti30 commented on #63
Should be fixed in 480acc5

I'll add with the next release.

You can test the commit and report back if you still face the issue.

[2020-04-25 13:07] deepjyoti30 commented on #64
@bassail Looking at the logs it seems like the playlist is not getting recognized as a playlist and it's been tried to download as a whole which is why the issue is ocurring.

I'm currently trying to reproduce the issue.

[2020-04-25 13:10] deepjyoti30 commented on #64
It seems all right to me, it is recognized as a playlist and the songs are being extracted one by one which is the expected behaviour, can you please try with some other playlists??

[2020-04-25 13:26] bassail commented on #64
I don't have the same error message when I chose the first metadata choice, or the second.

With the first one:
[code]

With the second one :
[code]

With another playlist :
[code]

[2020-04-25 18:19] bassail commented on #63
This commit fixes the issue.
Nice work, thanks

[2020-04-25 18:19] #63 closed

[2020-04-26 17:31] satyamisme opened #65 "unable to use in wsl"
ImportError: No module named pathlib
root@Genesis:/mnt/c/Users/Genesis/Desktop/ytmdl# sudo ytmdl samajavaragamana-female
Traceback (most recent call last):
  File "/usr/local/bin/ytmdl", line 4, in <module>
    __import__('pkg_resources').run_script('ytmdl==2020.3.21', 'ytmdl')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 658, in run_script
    self.require(requires)[0

[2020-05-01 07:43] Tindome commented on #53
sorry internet problems + full reinstall what i means is that on first try i must create the directory of config file,
i will retry as soon as possible and give you a complete log

[2020-05-01 18:38] deepjyoti30 commented on #65
Hey @satyamisme did you try installing pathlib manually. It's not added as a dependency at the moment because I assumed it was pre installed Python is installed.

Anyway, try installing pathlib using ```pip install pathlib```.

Try to run after doing above and report back if you face some other issue. Another user was able to use ```ytmdl``` succesfully on their WSL running machine so your issue s

[2020-05-01 18:39] deepjyoti30 commented on #64
Hey @bassail the issue probably arising due to ```youtube-dl```, lemme look into it.

[2020-05-02 10:57] satyamisme commented on #65
thank you ymtdl gui vesion is working perfectly

[2020-05-02 14:46] Tindome commented on #53
it works now, with --setup

[2020-05-02 14:53] Tindome opened #66 "Problem with youtube-dl"
i have to disable those lines (i use virtual env) else it says youtube-dl was not detected (but i install it on the virtual env)

[2020-05-02 14:57] Tindome opened #67 "feature : Add the ability to set a param for MP3 cache location"
i prefer never use ./home (because of nomad configuration)

[2020-05-03 06:39] deepjyoti30 commented on #53
Hey @Tindome the ```--setup``` option will be removed from the next release and a config will be created automatically. Did you try the latest commits, you would not have a ```--setup``` option.

[2020-05-03 06:41] deepjyoti30 commented on #66
@Tindome  You mean the lines that check if youtube-dl is present, you removed those lines in order to make youtube-dl work?

[2020-05-03 06:42] deepjyoti30 commented on #67
You mean you don't use ```~/.cache``` for cache? And you want an option to specify where the  cache should be located?

[2020-05-05 12:53] phmassa opened #68 "Add MetaData off"
can you add an option to disable metadata retrieving

[2020-05-05 12:54] phmassa opened #69 "Add MetaData edition"
can you add the possibility to enter manually the tags ?

[2020-05-05 14:20] phmassa opened #70 "Why MetaData search is lost ? :)"
this is a sample, all fine, but metadata search don't find the song :

[code]

[2020-05-07 12:57] deepjyoti30 commented on #68
@phmassa I think disabling that would make it just function like ```youtube-dl``` because even they do all the postprocessing of converting the song to an mp3 and all.

Just one thing that ```youtube-dl``` don't do is searching by the passed song name and then downloading, I'll look into what you requested and if possible and feasible, will add it.

[2020-05-07 12:58] deepjyoti30 commented on #65
@satyamisme I'm sorry but what do you mean by "gui version"? As far as I know there is no GUI version of ```ytmdl```.

[2020-05-07 12:59] deepjyoti30 commented on #69
@phmassa That sounds like a neat feature, I have had my thoughts about this feature but never thought people would want something like that. I'll see if it would be possible to add that.

[2020-05-07 13:01] deepjyoti30 commented on #70
@phmassa Seems like the song is not present in the sources where it;s searched, i:e Itunes or Gaana and that is why you don't have it as an option.

But you can try checking the other results to see if the song is present lower down in the list.

[2020-05-08 09:08] Tindome commented on #53
ouch my bad i'll try it

[2020-05-08 09:08] Tindome commented on #66
yes

[2020-05-08 09:12] Tindome commented on #67
yes i wanna use any mounted drive

[2020-05-08 20:07] Nasjoe opened #71 "Out of memory: Kill Process"
Big crash and Out of memory.
result of a cat /var/log/kern.log.1
Ubuntu server 18.04

[code]

Enjoy ! :)

[2020-05-12 18:20] JerryBels opened #72 "Something went wrong while writing data!"
Hi!

I'm using this for a few days and it's awesome. I'm using it from a windows computer. A question though. Sometimes, seemingly for no reason whatsoever, it answers "Something went wrong while writing data!" after choosing the tagging source. Choosing another of the youtube videos and tagging it will then work.

I wondered if there is a more detailed error log somewhere I could inspect? Curious

[2020-05-13 07:54] deepjyoti30 commented on #72
@JerryBels Thanks for reporting, can you try running on debug mode and gimme the logs.

```ytmdl <Name of song> --level DEBUG```

Also the log will be located in ```~/.cache/ytmdl/logs/log.cat```, however since you're using Windows, I'm not sure if you'll be able to locate it so just copy paste the output when running the above command.

Also, do you mind sharing how you are using it on Windows? I

[2020-05-13 17:53] JerryBels commented on #72
Sure, I will, as soon as I have an error again. Using it daily so it won't take long.

But now that I think of it... I used this fork https://github.com/biswaroop1547/ytmdl since you thanked the user for testing on Windows. But I see it has lots of commits missing. Not sure if it's related though. Probably would be interesting to merge.

And if there are bugs, I didn't have any - after installing

[2020-05-14 05:41] deepjyoti30 commented on #72
@JerryBels That is a really old version, I suppose you wouldn't even have things like ```--level```.

I'm afraid I won't be able to help you with the issue if you're using such an old version, however if you want you can help bring support for the latest version since you're an windows user.

If you want, comment on #51 .

[2020-05-14 06:48] JerryBels commented on #72
I understand :) I think I will try to install the last version on windows. The problem is, I'm not a python dev (yet, anyway). So I probably won't be able to code anything for a PR :(

[2020-05-14 06:51] deepjyoti30 commented on #72
@JerryBels Hey, I'm not asking you to code anything, all you need to do is give me the error logs and I'll make changes and you need to install and try, that's it.

I will fix the bugs, I just want you to test and report.

[2020-05-14 07:21] JerryBels commented on #72
You're not asking, but I would have loved to! That's what I meant. But of course, I will help. I'm on ubuntu most of the time but have a Windows 7 computer at home yet, which I'm using for some musical games and such. I will use it to test and report.

[2020-05-14 07:24] deepjyoti30 commented on #72
@JerryBels Let's continue this conversation in the other issue then.

Just try running the latest version and gimme the logs there.

[2020-05-14 15:09] deepjyoti30 commented on #66
Hey @Tindome Can you run ytmdl on DEBUG and gimme the logs? I tried the code on a venv and it was working all right, I need some logs to fix the bug.

[2020-05-14 15:18] #59 closed

[2020-05-14 15:19] #54 closed

[2020-05-14 15:19] #50 closed

[2020-05-18 18:24] Ferryistaken commented on #68
I think that it's a very good idea, youtube-dl doesn't allow you to search for a song, you need to provide the whole link, which limits the functionality of that tool. Sometimes the song that I'm searching for isn't very well known so there is no metadata on other sites, which means that after downloading I have to strip metadata from that file if I want it to have the "real" title. You could do s

[2020-05-19 05:32] deepjyoti30 commented on #68
@Ferryistaken That's a good suggestion.

I'm thnking if I'm gonna add an option to skip the metadata then I will also add an option to manually set the metadata since the only reason people would choose to skip meta would be, as you mentioned, lack of availability.

Let's see, I will add it for the next release.

[2020-05-19 06:21] ArcaneFuror opened #73 "Pypi 3 Version Config Issues"
My linux distro doesn't naturally have python 2 pip for some reason, but I noticed it was available on the python 3 pip, aka pip3.

However, the documented way of generating/accessing/location of the config file is not ringing true. As both using 'ytmdl --setup' is being thrown as an unrecognized argument error by the script, and trying to navigate to ~/.config/ytmdl/config or ~/.config/ytmdl is n

[2020-05-19 06:28] deepjyoti30 commented on #73
@ArcaneFuror Since the May release, i:e 2020.05.14, the ```--setup``` option is not available anymore. A config will be created automatically on the first run.

Just run ytmdl once and you'll have the config file in ```~/.config/ytmdl```.

I'll update the README in case it has outdated documentation.

[2020-05-19 06:30] ArcaneFuror commented on #73
@deepjyoti30 alrighty, thank you for the clarification, the documentation I was referring to was the github page specifically.

[2020-05-19 06:40] deepjyoti30 commented on #73
@ArcaneFuror Yep, I updated the README, added instructions on how to create the config manually.

[2020-05-19 06:40] #73 closed

[2020-05-19 07:18] ArcaneFuror opened #74 "Suggestion: Meta-Data Skip"
I've been playing around with the script, and I like what it can do. I especially love the --list feature

However, selecting the meta-data each time is a bit annoying, especially since a lot of the cases are not showing the correct artists despite passing the tags via the various arguments and checking on itunes and the like for availability. Most results are only slightly relevant in title on th

[2020-05-19 21:43] wpgrant commented on #74
+1 for this suggestion. This might be a separate situation but even if you use it in non-quiet mode you can't request skipping the metadata part. (You can still find the download in the .cache directory.

A counter-argument is that the main point of this is to add the metadata, but I'd still like to be able to use the same script for both use cases.

[2020-05-24 02:20] Ferryistaken commented on #68
I think that it would be a very good idea only if you keep it simple, something like `ytmdl <songname> --no-metadata(or --manual-metadata) --artist <artistName> --name <songName> --album <albumName>`

[2020-05-24 05:38] deepjyoti30 commented on #68
@Ferryistaken Yep, that's exactly how I'm working on it, it's almost ready.

[2020-05-26 08:46] Tindome commented on #66
yes i will try as soon as i could (sorry really busy at work)

[2020-05-29 15:39] #43 closed

[2020-05-31 08:53] mprosperi opened #75 "stty not recognized on win"
Setup: win10, python 3.7, ytmdl installed with pip install ytmdl, ffmpeg

C:\Users\myuser\Envs\ytmdl\Scripts>python ytmdl hotline bling --format mp3 --nolocal
 ==> Searching Youtube for hotline bling
 ==> Choose One
 [1] Drake - Hotline Bling by Drake with dur Durata4:56
 [2] Drake- Hotline Bling (Lyric Video) by LYRICPUR with dur Durata3:53
 [3] Billie Eilish - Hotline Bling [HD] lyrics by LYRICS

[2020-06-01 05:56] deepjyoti30 commented on #75
Hey @mprosperi thank's for reporting that. Can you please gimme the logs by running  the above with the ```--level DEBUG```?! That would be much appreciated since I can't reproduce to no access to a Windows machine ATM.

[2020-06-01 20:04] mprosperi commented on #75
(ytmdl) C:\Users\myuser\Envs\ytmdl\Scripts>python ytmdl hotline bling --format mp3 --nolocal --level DEBUG
Logger running in DEBUG mode
2
hotline bling
Screen hold! Press any key to continue
proxy passed: None
Passed format: mp3
 ==> Searching Youtube for hotline bling
 ==> Choose One
 [1] Drake - Hotline Bling by Drake with dur Durata4:56
 [2] Drake- Hotline Bling (Lyric Video) by LYRICPUR with d

[2020-06-03 14:03] deepjyoti30 commented on #74
Hey guys, added support for skipping the meta, check #adc705537422ca3e1438004fc92f8bd001afbbae

In case you face any  bugs, report back here.

[2020-06-03 14:08] deepjyoti30 commented on #68
@phmassa  @Ferryistaken
Added support in https://github.com/deepjyoti30/ytmdl/commit/adc705537422ca3e1438004fc92f8bd001afbbae

You can try it by installing the latest commits following the manual way.

Report back here in case of issues.

[2020-06-10 13:20] binalbhavsar1 opened #76 "How to run on windows 10 ?"
'ytmdl' is not recognized as an internal or external command, operable program or batch file.

[2020-06-13 17:52] phmassa commented on #76
try with WSL

[2020-06-14 08:22] phmassa commented on #74
On Windows10 with Debian 10 WSL, edition work fine for me

[2020-06-17 21:43] DavidUzielGH opened #77 "Only get options for indian songs and artists when adding metadata"
Using ytmdl to search for the songs:
- Lights by Interpol
- Are we ready by Two Door Cinema Club
- Ready to start by Arcade fire

The only options ytmdl provided for metadata where Indian artists / songs that resembled in some way either the song name or the artist name.

The arguments used for these searches where:
[code]
Below some screenshots of the types of results I got.
![2020-06-17-163735_1

[2020-06-18 05:09] Syndrome1986 opened #78 "ffmpeg is installed but ytmdl can't find it."
Windows 10
Python 3.8
ytmdl will start and attempt to search for a song then drops
==> ffmpeg is not installed. Please install it!
It is likely something simple that I am just not seeing.

`PS C:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\Scripts> pip show ffmpeg
Name: ffmpeg
Version: 1.4
Summary: ffmpeg python package url

[2020-06-18 05:20] deepjyoti30 commented on #77
Hey @DavidUzielGH thanks for reporting that. It's kind of an weird issue because YTMDL itself doesn't do any filtering based on the region so it might be the sources itself that are returning this data.

Anyways, I'll take a look into it.

[2020-06-18 05:21] deepjyoti30 commented on #78
Hey @Syndrome1986 Can you please tell me if you're using in on Windows WSL or just Windows. I'm aware that it has issues on pure Windows but some users have it running on Windows WSL.

[2020-06-18 07:02] Syndrome1986 commented on #78
I am attempting to run it in Windows without wsl. I can try it again with wsl. I was hoping to get it working in just windows for a less technical friend.

[2020-06-18 07:55] deepjyoti30 commented on #78
If you want a temporary fix, you can comment out the lines checking for ffmpeg.

Those lines would be in the ```ytmdl``` file in the ```bin/``` directory.

If you are able to fix the bugs and make it support Windows, I'd be glad to merge the PR's, so feel free to do that. Also, you can share your logs here (if you want to) and I can make the fixes.

[2020-06-18 15:55] Syndrome1986 commented on #78
A bit more info. I think it is an issue with how sys.path is being handled. When I start python and import os and import sys I get two different locations for site-packages. It looks like my python is trying to run from C:\\Program Files\\WindowsApps\\ but pip is working from C:\\Users\\User\\AppData\\Local\\Packages\\. After checking sys.prefix it looks like python only knows about the WindowsApp

[2020-06-18 16:16] Syndrome1986 commented on #78
I did try this just now and am getting the same error as in issue #75

[2020-06-19 05:55] deepjyoti30 commented on #78
@Syndrome1986 Thanks for reporting that. As the logs in #75 suggest the error is probably thrown by ```youtube-dl```. I'll have to do some tests myself to fix the bug. Some changes in the source perhaps.

[2020-06-19 17:23] Syndrome1986 commented on #78
If you need testing done let me know. I am happy to try it.

[2020-06-20 06:11] deepjyoti30 commented on #78
@Syndrome1986 I figured out the issue you were facing. The ```stty``` error is because when the download is about to start, it does some checks in order to get the terminal length and in Windows, that fallbacks to ```stty``` to get the length and that's where the issue is.

I'll make some changes to fix that and report back here.

[2020-06-20 11:56] deepjyoti30 commented on #78
@Syndrome1986 Can you please try with the latest commit from the windows branch?

I have made some changes that should fix the ```stty``` issue.

[2020-06-21 00:05] Syndrome1986 commented on #78
I removed Python fully from the machine and purged all python related folders. I reinstalled 3.8 via installer rather than windows store version. I have attached my console output from where I updated pip to where I was able to install and test the newest version. Still getting the issue where it says ffmpeg is not installed. I will test again after commenting out the part of ytmdl that checks for

[2020-06-21 00:09] Syndrome1986 commented on #78
Commenting out the check for ffmpeg now leaves me with an error stating youtube-dl is not installed. Commenting out the check for youtube-dl brings me back to the stty error.

[2020-06-21 07:29] deepjyoti30 commented on #78
@Syndrome1986 Hey there. Did you try the windows branch??

I had commented out the ffmpeg part in that one and it should probabaly not throw any issues. Also you will have to install the windows branch manually by cloning the repo and then running ```python setup.py install``` in the root directory.

[2020-06-22 03:19] gokuljs opened #79 "error while installing in windows"
![Screenshot (42)](https://user-images.githubusercontent.com/51263906/85245460-41fcbb00-b465-11ea-88eb-b16c15140fcd.png)

[2020-06-22 14:46] deepjyoti30 commented on #79
Hey @gokuljs thanks for reporting that. I am aware that the app has issues on Windows currently.

Did you install from the windows branch or the master branch??

Also can you please tell me the output of ```pip install tensorflow```. The image you shared points out that tensorflow is not available according to Python (which is kind of odd).

This might be a possible solution to manually install ``

[2020-06-22 16:08] gokuljs commented on #79
@deepjyoti30  now i tried running the windows branch and this is the output
![Screenshot (49)](https://user-images.githubusercontent.com/51263906/85309475-48744c80-b4d0-11ea-9bf6-bd740778fb60.png)

pip install tensorflow is not working  output is shown in below pic
![Screenshot (54)](https://user-images.githubusercontent.com/51263906/85309552-6477ee00-b4d0-11ea-9a88-7200f183fc65.png)

i think this

[2020-06-23 07:19] deepjyoti30 commented on #79
@gokuljs I think for the time, if it doesn't bother you, you can try moving to python3.6 and then installing it. Seems this is 3.7 issue and no ETA is available, I might have to add ```Python 3.6``` as required dependency for ```ytmdl``` for ```Windows```.

Any way, if you can test it by downgrading to Python 3.6, I would really appreciate it since I need testers for Windows ATM.

[2020-06-23 07:45] gokuljs commented on #79
@deepjyoti30  i tried installing tensorflow using conda  **conda install tensorflow**  and it got installed
then again i tried running the program this is the output i got
![Screenshot (64)](https://user-images.githubusercontent.com/51263906/85375110-73ec4b00-b553-11ea-91cf-51f09abe7eee.png)

[2020-06-23 07:52] deepjyoti30 commented on #79
@gokuljs Seems like it's the same issue with ```inaSpeechSegmenter```.

Can you check if it is available in pip by doing ```pip install inaSpeechSegmenter```?

[This](https://github.com/ina-foss/inaSpeechSegmenter) is their repo. Just make sure the spelling is correct. I checked your photo as well as the source code multiple times, it seems like the spelling is correct which means it's the same er

[2020-06-23 21:50] gokuljs commented on #79
@deepjyoti30  while installing this  package  **pip install inaSpeechSegmenter** should i even install pytorch ?

[2020-06-24 07:18] deepjyoti30 commented on #79
@gokuljs I don't think ```pytorch``` is a dependency. However if you get some error showing it's not installed you can go ahead and install it.

[2020-06-25 19:26] pixelomer opened #80 "After getting to the end of the song data results, attempting to get more results twice will result in an error"
![Screenshot](https://user-images.githubusercontent.com/37103802/85786016-87094180-b732-11ea-9a93-1bb37136b63f.png)

[2020-06-25 19:28] pixelomer commented on #80
Well, it does say "enter a valid choice", but that doesn't mean this is not an issue.

[2020-06-27 06:06] deepjyoti30 commented on #80
Should be fixed in cb1b799

[2020-06-27 09:57] #46 closed

[2020-06-27 12:40] #45 closed

[2020-06-27 16:42] FranPhobia opened #81 "ytmdl crashes when opting not to overwrite song"
Fresh install through pip3 on ubuntu 20.04

Seems to throw an error when told not to overwrite an already existing song.

==> Searching to see if already present in /home/sarah/music
==> Searching Youtube for never going to
==> Choose One
[1] Rick Astley - Never Gonna Give You Up (Video) by Official Rick Astley with dur 3:33
[2] Streamers React To *NEW* "NEVER GONNA" Emote In The Shop! | [NEVER GO

[2020-06-29 15:37] deepjyoti30 commented on #81
Hey @FranPhobia Thaks for reporting the issue.

I was able to reproduce it and as it turns out it was being thrown by ```ffmpeg-python``` which kind of unusual behavious since ffmpeg would just terminate peacefully when choosen to not overwrite the song.

Anyway, I fixed it in fde1b18

[2020-07-02 16:47] manthanabc commented on #78
Ahh sorry I know this sounds a bit dumb but I think I need to verify before trying does root directory means the... Scripts\ directry

[2020-07-02 16:56] deepjyoti30 commented on #78
@manthanabc There probably won't be any scripts directory. Just extract the zip file and go to the extracted folders you'll see a folder named ```ytmdl```.

Move inside this folder and open a cmd prompt as administrator.

Type the following command and run in the cmd

```py3 setup.py install```

Once that's done, ytmdl will be installed. Try running ytmdl and add the ```--level DEBUG``` and then y

[2020-07-02 20:10] JerryBels commented on #79
Okay, I was able to get there. Installed tensorFlow with pip, it worked for me. Then :

[code]

[2020-07-02 20:17] JerryBels commented on #79
Also, what I reported before was while installing with `git clone https://github.com/deepjyoti30/ytmdl && cd ytmdl && python setup.py install`

If I install using pip, it works, but I absolutely don't know how to use ytmdl then! Pip installed it in a specific location, `pip show ytmdl` gave it. But in there there are :

![1](https://user-images.githubusercontent.com/4408419/86405499-2477ee80-bcba-

[2020-07-03 05:50] manthanabc commented on #78
![error](https://user-images.githubusercontent.com/48511543/86436088-2c1dae80-bd1f-11ea-9afd-dd17338e1c6a.PNG)
this is what shous if tried manuall install pip works but ffmpeg error

[2020-07-03 05:52] manthanabc commented on #51
i tryed with windows it gives ffmpeg error

[2020-07-03 06:10] deepjyoti30 commented on #78
@manthanabc Do you have ```ffmpeg``` installed in your system??

If ```ytmdl``` is installed, you can try running ytmdl by running the script present in the ```bin/``` directory.

You can do ```py3 bin\ytmdl```

[2020-07-03 06:13] deepjyoti30 commented on #79
@JerryBels If you have installed ```ytmdl```, probably all the dependencies were installed. You can run the script alternately.

Just go to the cloned repo and run the ```ytmdl``` script inside the ```bin``` directory using Python. You can do something like

[code]

I would also suggest you try running the ```Windows``` Branch rather than the master one. I have made some changes to the source rega

[2020-07-03 06:54] JerryBels commented on #79
[code]

[2020-07-03 07:15] manthanabc commented on #78
![error2](https://user-images.githubusercontent.com/48511543/86442144-f252a500-bd2a-11ea-977b-2db5bc7b63ee.PNG)
i really dont know what to do

[2020-07-03 08:31] manthanabc opened #82 "choose one not appering"
i finally got it running but now when ever i enter any song it says not found

[2020-07-03 09:55] deepjyoti30 commented on #79
@JerryBels Did you get just this much log or did anything else appear. Seems like there should have been additional info for the error.

Since ```ytmdl``` is installed the error you got is occuring at the runtime and Python would have surely showed you a reason for it.

[2020-07-03 09:57] deepjyoti30 commented on #78
@manthanabc Seems like this is the issue itself. Since another user reported the same issue.

[2020-07-03 09:58] deepjyoti30 commented on #82
@manthanabc That happens sometimes, can you try running with a different song name. Sometimes ```ytmdl``` just out of the blue throws that error of ```not found``` but usually that happens every now and then.

Also can you share the steps, how you got it running.

[2020-07-03 10:09] JerryBels commented on #79
Nope, that's all. Is there a command I could use for an error log or something?

[2020-07-03 10:18] deepjyoti30 commented on #79
@JerryBels It's just weird. It should work. Because other people were at least able to get it running but they later faced issues.

Can you try uninstalling the version you installed from pip??

Once that's done, installed the windows branch and you should be able to run it at least.

Also in order to get more logs you can always pass the ```--level DEBUG``` flag, but this current issues seems lik

[2020-07-03 12:55] JerryBels commented on #79
Okay, removed pip install, removed all repos, started fresh. Same issue as I first had :

[code]

[2020-07-03 13:45] manthanabc commented on #82
No its happening literally everyone but I found that my YouTube dl is also giving the video not found error evrytime so I will need to reinstall it

Oh ha a would love to do that I had installed ffmpeg installed with pip so I also manually installed that and added to path and then reinstalled this api and it works

[2020-07-03 13:46] manthanabc commented on #82
Oh ha a would love to do that I had installed ffmpeg installed with pip so I also manually installed that and added to path and then reinstalled this api and it works

[2020-07-03 15:21] deepjyoti30 commented on #79
@JerryBels Seems like the errors are caused by some of the dependencies and not ```ytmdl``` itself.

Also, are you sure ```python``` calls ```Python3``` or is it ```python2```. You can check that by using ```python --version```.

[2020-07-03 15:22] deepjyoti30 commented on #82
@manthanabc Can you updated ```youtube-dl``` to the latest version by doing ```pip install youtube-dl --upgrade --no-cache-dir```?

Try running it after that.

[2020-07-03 15:40] JerryBels commented on #79
Nah it's Python 3.8.2. I would gladly provide you with debug log or something if you want.

[2020-07-03 16:01] deepjyoti30 commented on #79
@JerryBels I pushed some changes to the ```windows``` branch. Please fetch the latest source.

Once that's done, open```setup.py``` and remove ```tensorflow``` and ```inaSpeechSegmenter```.

After that, install by running ```python setup.py install```.

[2020-07-04 19:36] JerryBels commented on #79
Followed your instructions :)

[code]

[2020-07-05 21:29] JavaCafe01 commented on #82
@deepjyoti30 I'm also getting this issue, even after updating `youtube-dl`.

[2020-07-06 20:22] JerryBels commented on #79
I don't know if it can help you but using [Biswaroop's fork](https://github.com/biswaroop1547/ytmdl) I'm able to download songs when providing an url - ytmdl works perfectly there. When not providing an url I have an error though - but the program runs without issue. Not sure if it can help you troobleshoot it.

[2020-07-07 10:46] deepjyoti30 commented on #79
@JerryBels I don't think that would be of much help. His fork is way outdated and since then I have done a lot of changes in the source so probably that is why this issues are occuring now.

[2020-07-08 01:35] spikecodes commented on #82
Same exact issue for any song name:
![image](https://user-images.githubusercontent.com/19519553/86863752-a97b5300-c080-11ea-8c66-79b5530541a9.png)

[2020-07-08 12:03] mementomori74 commented on #82
im running in to the same issue

[2020-07-08 12:08] deepjyoti30 commented on #82
I just checked guys. The issue was occuring because ```ytmdl``` scraps YouTube's page in order to get the search results but recently YouTube made changes due to which most pages after scrapped, are returning nothing.

I redefined the search logic and made the move to use [youtube-scrape](https://github.com/HermanFassett/youtube-scrape)

Should be fixed in 72b51d4

You guys can test it and report

[2020-07-08 12:14] deepjyoti30 commented on #79
@JerryBels It was my mistake. I had cherry picked a commit from the master branch and I did not checked the code but git had added some conflicts in the code itself and that is why you are getting that error.

I fixed that in the latest commit in the windows branch. If you wish, you can check and report back.

[2020-07-08 12:18] mementomori74 commented on #82
tnx for your work!

[2020-07-08 13:02] deepjyoti30 commented on #82
@mementomori74 Really?? What is the issue? I thought it was working.

[2020-07-08 19:18] Mikser100 opened #83 "Cant find song on youtube"
==> No song found. Please try again with a different keyword.
Doesn't matter what i enter as a keyword

[2020-07-08 19:22] spikecodes commented on #82
Thanks! `sudo python setup.py install` gives an error about Python 2 being unsupported so instead I ran
[code]

and then tested it with
[code]
(`ytmdl "Roxanne by Arizona Zervas" -q --nolocal` had the wrong metadata originally) and it worked!

![image](https://user-images.githubusercontent.com/19519553/86961139-96669280-c115-11ea-9d35-e4bafe4b0a94.png)

Thanks for your help and quick response! Loo

[2020-07-08 21:44] JerryBels commented on #79
Okay, we got progress :)

[code]

It exited when I `ctrl+C`'d it after more than 5 minutes.

[2020-07-09 03:57] deepjyoti30 commented on #83
Same as #82

[2020-07-09 03:57] #83 closed

[2020-07-09 03:58] deepjyoti30 commented on #79
@JerryBels Pass ```--nolocal```.

I need to rework thr logic of searching for the song but till then the above will fix the issue.

[2020-07-09 15:06] deepjyoti30 commented on #82
Fixed in latest release.

[2020-07-09 15:06] #82 closed

[2020-07-09 15:07] deepjyoti30 commented on #81
Fixed in latest release.

[2020-07-09 15:07] #81 closed

[2020-07-09 15:07] deepjyoti30 commented on #80
Fixed in latest release.

[2020-07-09 15:07] #80 closed

[2020-07-09 15:07] deepjyoti30 commented on #74
Added in latest release.

[2020-07-09 15:07] #74 closed

[2020-07-09 15:07] deepjyoti30 commented on #68
Added in latest release.

[2020-07-09 15:07] #68 closed

[2020-07-10 08:15] JerryBels commented on #79
Okay, I tried it now.

[code]

[2020-07-10 11:58] danimateo opened #84 "itunespy can't set attribute"
[code]

The code above tries to set the track_time, but that setter isn't defined in the itunespy library, so it doesn't work and doesn't even throw an error.  This is related to #77 as it only get songs from gaana. The solution would be to remove setting track_time, since something else is already implemented in the source library.

I made a pull request for this, also adding a print for exceptio

[2020-07-10 14:27] ArcherN9 opened #86 "File naming issues"
ytmdl downloads the file and renames it to the search query. Neither does it allow custom naming nor use the title on YT. Manual naming under Music folder is an overhead.

[code]

[2020-07-10 14:47] deepjyoti30 commented on #86
@ArcherN9 That's default behaviour.

Since you're passing the option to skip-meta it will be renamed to the query passed by the user. Had the meta been added, it would've been renamed to the name of the song fetched from the meta.

[2020-07-10 14:50] deepjyoti30 commented on #84
@danimateo I just checked the code by exec it on console, it's working all right, why do you think it is failing there?

[code]

[2020-07-10 15:20] danimateo commented on #84
Is it possible that you have an older version of itunespy? I checked the source code from their repo and there's no setter for track_time.

[2020-07-10 15:27] deepjyoti30 commented on #84
@danimateo I have the latest version.

It is possible to update the vars without the setters. Since I am accessing those same variables in other places as well. The issue is probably something else.

[2020-07-10 15:29] danimateo commented on #84
Maybe it's something else, but I get the "can't set attribute" error. Weird, I will investigate some more.

[2020-07-10 15:49] danimateo commented on #84
So, [here](https://github.com/sleepyfran/itunespy/blob/ff92576e7b9fcb9b9f5305eb2213efdc9f69ea6e/itunespy/result_item.py
) is the previous commit to the `ResultItem` class in itunespy and [here](https://github.com/sleepyfran/itunespy/blob/master/itunespy/result_item.py) is the newest one. The old one uses normal python attributes and the new one uses  `@property` decorators, which are read only unl

[2020-07-10 15:51] deepjyoti30 commented on #84
@danimateo Is this code deployed in the latest version?

I have the latest version that is available in PyPi.

[2020-07-10 15:57] danimateo commented on #84
Yes, I have installed it with pip as well. 1.6.0 is the latest version and that's the one I have. [Here](https://pypi.org/project/itunespy/) it is on PyPi and [here](https://github.com/sleepyfran/itunespy/tree/1.6) is the tag on their repo for this version. Can you do a pip freeze and check your version?

[2020-07-10 16:00] ArcherN9 commented on #86
And there lies the issue. As mentioned in one odd bug report, the application seeks input from gaana primarily/only. In case meta is not found for the music file, the app crashes (Check Reddit). In case the meta provided by gaana/itunes is not accurate, the file names the file to the search query.

That's not convenient IMO. A nifty param to custom name the file would be a good fix.

[2020-07-10 16:10] danimateo commented on #84
Can you try doing `pip install --no-cache-dir --upgrade itunespy` maybe? Sometimes pip is weird and prefers old local packages instead of remote ones.

[2020-07-10 16:13] deepjyoti30 commented on #84
@danimateo I already did a pip freeze when I told you I'm using the latest version.

[2020-07-10 16:36] deepjyoti30 commented on #86
@ArcherN9

That is not the case yet. I have been testing ```ytmdl``` and I have not faced this issue that a few users have pointed out about the songs being Indian. More importantly even if they are Indian, it does not indicate that ```gaana``` is being used as the primary source.

I understand that #84 points out the issue lies in my code but I have checked the sources myself and have not faced a

[2020-07-10 17:03] danimateo commented on #84
Ok then, I tested this in docker so everything is clean and the error persists. You can try:

[code]
and then you can try doing what you suggested [here](https://github.com/deepjyoti30/ytmdl/issues/84#issuecomment-656716327)

Or if you downloading tensorflow just for this is too much, I think the point can be proven by just doing
[code]
and then go at it from the python shell.

[2020-07-10 17:12] danimateo opened #87 "Tensorflow isn't used anywhere"
Um.. why is tensorflow included if it isn't used anywhere?

[2020-07-10 17:14] danimateo commented on #87
My mistake, it's used by the speech segmenter sorry.

[2020-07-10 17:14] #87 closed

[2020-07-10 17:20] ArcherN9 commented on #86
Okay. It’s just that in my 10 minute experience with the CLI, not once any international name came up as a suggestion from Meta data engines. I did read however it uses iTunes. It did not work in my favour.

I concur with that.

Same.

You need to accept that what works for you may not work for me. I’ll post the stack trace at the end of this post. Blatantly denying a crash doesn’t help.

This is

[2020-07-10 19:33] jepace opened #88 "Failure getting song data"
ytmdl (July 2020) version
Using Ubuntu Linux on WSL Windows 10
Installed via pip.

Perhaps there was no song data to download, but ytmdl should handle that (more) gracefully.

Thanks!

$ ytmdl fish throwing muses
 ==> ~/Downloads/Music$Artist->Album->Title: doesn't exist.
 ==> Searching to see if already present in /home/jepace
 ==> Searching Youtube for fish throwing muses
 ==> Choose One
 [1] Th

[2020-07-10 19:37] jepace commented on #77
I have the same issue.  As a test, I picked "Telephone" (by Lady Gaga with Beyonce), which surely must be the most popular "Telephone" song?  Downloaded the song fine, but is was not in the list of 33 possible matches.

[2020-07-10 19:44] jepace opened #89 "UI: Menus not fault tolerant"
The menu / input system handles invalid input by crashing:

==> Enter Choice [a valid choice]  [I hit enter]
Traceback (most recent call last):
  File "/home/jepace/.local/bin/ytmdl", line 434, in <module>
    extract_data()
  File "/home/jepace/.local/bin/ytmdl", line 429, in extract_data
    main(args)
  File "/home/jepace/.local/bin/ytmdl", line 290, in main
    choice = song.getChoice(data, 'm

[2020-07-10 19:55] jepace commented on #88
Line 115 in metadata.py returns FALSE, when it should probably return an empty list?

[2020-07-10 20:22] danimateo commented on #89
Check [my](https://github.com/deepjyoti30/ytmdl/pull/85) pull request. I added a default for this and other stuff.

[2020-07-10 20:22] danimateo commented on #88
Check [my](https://github.com/deepjyoti30/ytmdl/pull/85) pull request. I fixed this and added other stuff.

[2020-07-10 20:29] danimateo commented on #77
I fixed this and added some other stuff as well. Check #85.

[2020-07-11 05:36] #35 closed

[2020-07-11 06:53] deepjyoti30 commented on #84
Hey @danimateo I just tried the code I shared with you earlier and I am getting the can't set attr error now. It's weird, I have not done anything different, no upgrades nothing, I had just turned on the computer and tried running the same code and now I'm getting the error.

Thanks for pointing it out.

Also, since a  setter is not defined in the latest release and it is important for us to updat

[2020-07-11 08:00] BoBomann18 commented on #77
I also have this problem, I downloaded ytmdl today so I have the newest version.

[2020-07-11 09:37] deepjyoti30 commented on #77
@BoBomann18 A temporary fix is to install the 1.5.5 version of itunespy, do it by the following command

[code]

This will fix the issue for the time being.

[2020-07-11 09:39] danimateo opened #90 "[FEATURE] Cut song"
I think this would be a nice feature, because I tried using the trim option and honestly it didn't work. Don't get me wrong, it's a nice feature and worth improving upon, but for now manually specifying times seems like a nice thing to have. Also, the model used by inaSpeech is trained mostly in French and is meant more for separating male-female voices. Anyway, you said there had just been a rele

[2020-07-11 09:41] danimateo commented on #84
Yeah I've seen that everything works fine without setting the `track_time` attribute, but there may be some edge cases I haven't considered. For now, downgrading to `1.5.5` seems like a good option. But I will make a PR for adding `unidecode` and some exception checking, I think those are good to have right now.

[2020-07-11 09:41] deepjyoti30 commented on #90
@danimateo Can you tell me which songs you tried  the trim fucntionality on??

I did try it in some English as well as Hindi songs and it was working really nice, I don't know why it didn't work for you.

[2020-07-11 09:45] danimateo commented on #90
Well, [https://youtu.be/ZGWcvJELOt4](here) is an example, also https://youtu.be/aIHF7u9Wwiw](here). Those are the only ones I can remember, but it didn't work for anything iirc.

Anyway, even if it worked for you and I picked the worst songs for this, it's not 100% reliable. Something manual would be good for the cases where this doesn't work.

[2020-07-11 11:26] deepjyoti30 commented on #84
@danimateo Sure, I'll raise a Feature request in the official repo to ask for a setter method in the next release.

Also, when you want to throw exceptions, please do a check. Instead of using print, use the logger. That way if the exception is not major, you can just call the ```warning``` method and if it is critical you can call the ```critical``` method.

Please try to avoid using print's etc.

[2020-07-11 11:28] danimateo commented on #84
Yes, my bad. I'll use the logger.

[2020-07-11 11:34] deepjyoti30 commented on #90
@danimateo Okay, I'll take a look at the examples.

I have been a bit reluctant to add something like a cut feature because it's basically the same thing that ffmpeg does, you know, it's like even if we do not add that feature, a person can just use ffmpeg themselves and make the trimming.

Also, if we want to add a feature like that, we would have to consider all the aspects. We would need to con

[2020-07-11 11:46] danimateo commented on #90
Well I see where you are coming from, but by that logic, meta information isn't needed either, you can just fill it with easytag and then you have yourself youtube-dl. My opinion is that it would be nice to have something like this included, it's just a wrapper for ffmpeg that's for sure, but it's a bit easier to use for this case.

Also, I like my cli tools to be kind of a one stop thing, I want

[2020-07-11 11:49] danimateo opened #91 "[SUGGESTION] Choose which api providers to use in the config"
As the title says, I think Gaana is great if you listen to Indian music, but it's not that useful otherwise. Maybe add an option in the config to remove it? Also, maybe there will be other providers in the future added, so we can prepare for this as well. Thoughts?

[2020-07-11 15:18] danimateo commented on #91
See the #94 PR

[2020-07-11 19:46] jepace commented on #91
I agree with making this a tunable.  It seems incredibly unlikely that I'll ever need to use an Indian music database.

[2020-07-11 21:14] danimateo commented on #91
Yeah I talked to @deepjyoti30  about the PR I made, it should be good to go once he looks over it and gives the green light. In the future maybe we will also add Spotify, Last FM, Deezer, etc.

[2020-07-12 17:17] Noman-Aziz opened #95 "EnvironmentError while Installing"
So i'm installing it on arch linux using
yay -S ytmdl
so after some time it gives this error

ERROR: Could not install packages due to an EnvironmentError: [Errno 28] No space left on device

==> ERROR: A failure occurred in build().
    Aborting...
error making: %!s(func() string=0x55772791cb90)

I've got more than enough space in my / directory so what should i do now?

[2020-07-12 18:05] danimateo commented on #95
Because of the tensorflow dependency I think your tmp is getting too full. Do you have a low amount of RAM?

Try doing `export TMPDIR='/var/tmp` and see if it works.

[2020-07-13 05:20] deepjyoti30 commented on #90
@danimateo All right that sounds good, we can add this feature.

But before going forward we need to consider the cases. Let's say a person wants to cut out two time intervals. How would we implement something like that?

I guess having a basic command to specify start and stop is all right but what about the other cases?

[2020-07-13 05:23] deepjyoti30 commented on #95
@Noman-Aziz As @danimateo  said, this is probably not an issue with ytmdl itself but I do understand that ```tensorflow``` is a huge dependency, so you can consider installing ```ytmdl``` from source, just comment out the ```tensorflow``` dependency in the ```setup.py``` file.

However, without tensorflow you won't be able to use the ```--trim``` feature.

[2020-07-13 09:20] danimateo commented on #90
Well, I think that would be a too advanced use case to implement, because 99% of the time, you want to cut out start and end because there is noise you know? Otherwise, if you think this would be important, we could do comma separated arrays of start and stop. What do you think?

[2020-07-13 12:38] deepjyoti30 commented on #90
@danimateo Yeah we can have something like passing arrays with timestamps but then we would have to make other checks.

Let's go with the naive way of implementing just the start and end. Maybe we can do something like using just one option and people would be able to pass comma seperated values and we'll automatically detect which the start and what the stop is.

Share your thoughts of how you're

[2020-07-13 12:44] danimateo commented on #90
Well, we could do something like just `--cut 0:30 1:10 1:30 1:50` and that would mean get the intervals from 0:30 to 1:10 and 1:30 to 1:50 and then merge them and we would only need to check if they are in increasing order and even numbered. The base case would be easy like just the start and the end `--cut 0:30 1:10`. We basically need to repeat what I did in that PR with the cutting for every pa

[2020-07-13 15:39] Noman-Aziz commented on #95
Yes this seemed to work, thank you!

[2020-07-13 15:39] #95 closed

[2020-07-13 19:09] Noman-Aziz opened #96 "ytmdl not found after install"
So i'm using Pop Os, i recently installed it using
pip3 install ytmdl and everywhing went fine.
So after install when i try to run ytmdl it says command not found but when i type
pip3 list
then i can see ytmdl in my installs
How can i fix this issue?

[2020-07-14 03:12] Noman-Aziz commented on #96
The issue was fixed by restarting my pc.

[2020-07-14 03:12] #96 closed

[2020-07-14 17:29] Noman-Aziz opened #97 "TypeError: object of type 'bool' has no len()"
Hi, so whenever i try to download any song this error comes in the end,
e.g i write

ytmdl eminem leaving heaven

then i select the song from the list and the song gets downloaded and gets put in the .cache folder and then this error comes

 ==> Enter Choice [a valid choice] 2
 ==> Downloading Leaving Heaven (feat. Skylar Grey) [Official Audio] in 320kbps
 ==> Saving the files to: /home/naumanaziz

[2020-07-14 19:19] alepando opened #98 "Error whilw"

[2020-07-14 19:27] alepando commented on #98
~/ytmdl$  sudo python setup.py install
[sudo] password for alepa:
Traceback (most recent call last):
  File "setup.py", line 4, in <module>
    import setuptools
ImportError: No module named setuptools

And now try install with pip:
$  pip install ytmdl
Collecting ytmdl
  Using cached ytmdl-2020.7.9-py3-none-any.whl (32 kB)
Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
Requirement alread

[2020-07-14 19:32] alepando commented on #98
And with pip3:
$ pip3 install ytmdl
Collecting ytmdl
  Using cached ytmdl-2020.7.9-py3-none-any.whl (32 kB)
Collecting pysocks
  Using cached PySocks-1.7.1-py3-none-any.whl (16 kB)
Requirement already satisfied: colorama in /usr/lib/python3/dist-packages (from ytmdl) (0.4.3)
Collecting inaSpeechSegmenter
  Using cached inaSpeechSegmenter-0.6.2-py3-none-any.whl (13.8 MB)
Collecting tensorflow
Termi

[2020-07-14 20:04] alepando commented on #98
The problem is with 'tensorflow' that have problem to install in debian 10.

[2020-07-14 20:20] danimateo commented on #98
probably you're running our of memory, see #95

[2020-07-14 20:24] danimateo commented on #97
Made  a PR, check #99

[2020-07-15 08:45] Noman-Aziz commented on #97
Thank You, it Worked!

[2020-07-15 08:45] #97 closed

[2020-07-15 23:19] danimateo commented on #90
See #101

[2020-07-16 01:38] danimateo opened #103 "Refactor providers"
Make an abstract base class Song with concrete classes for each provider and implement `get_more_data()` on each one (the ones that already have enough data should just pass) and make it a member function. This way, There is no need to check if the provider is in a dict, just need to call `song.get_more_data()` and it's handled for every case.

[2020-07-16 04:27] danimateo commented on #103
See #105 or #104

[2020-07-18 15:06] deepjyoti30 commented on #90
@danimateo  I will

[2020-07-18 15:09] deepjyoti30 commented on #103
@danimateo Sounds like a good idea but I might not go along with this approach at the moment, let's give it some thought and see if it would be the best way  to go.

If we are doing some refactoring then I want to make sure that later there won't be any need to refactor again so I will take a look at the PR but I might end up rejecting it or keeping it stale ATM.

[2020-07-18 16:02] danimateo commented on #103
Yeah sure, I got annoyed because I added 2-3 more files and they seemed like a lot, a refactor is probably needed but the layout of the folders could use some improvement, so by all means analyze for yourself and see.

[2020-07-23 07:09] Nesaijn opened #107 "Missing AUR Dependencies"
While installing ytmdl from the AUR, I noticed that there are some dependencies still missing:
[code]

This is the error while installing when pip is missing:
[code]

This is the error I got when not having pycountry installed:
[code]

[2020-07-23 08:21] Nesaijn opened #108 "Example Config setting for METADATA_PROVIDERS"
In the README it is said that there is a [supported option](https://github.com/deepjyoti30/ytmdl#supported-options-to-change-are) to change the metadata providers, but couldn't find an example to see what is possible.
I would be nice to see the options that can be passed to that option.

Also I found a typo in the config:
https://github.com/deepjyoti30/ytmdl/blob/master/ytmdl/setupConfig.py#L17

T

[2020-07-23 09:36] danimateo commented on #108
In the config, right above the METADATA_PROVIDERS there are the available providers.

[2020-07-23 10:52] deepjyoti30 commented on #108
@Nesaijn The support for metadata providers was added after the last release. That is why it is in the README but it is not supported yet if you're using a released version.

Once the feature is added in a release, you'll be able to use it. Also the README would be updated accordingly just after the release.

If you feel like trying out the feature, you can install the latest commits from the mast

[2020-07-23 10:55] deepjyoti30 commented on #107
@Nesaijn Yeah, I am aware of the issue. I've been meaning to fix it however I think I will just add ```inaSpeechSegmenter``` to AUR as a maintainer and then change the ```PKGBUILD``` of ```ytmdl``` accordingly.

For the time being you can install the dependency ```inaSpeechSegmenter``` using pip and also that ```pycountry``` dependency seems weird, since nobody has ever faced that issue.

[2020-07-23 11:12] Nesaijn commented on #108
Ah, I see. Thank you both!

[2020-07-23 11:12] #108 closed

[2020-07-23 11:21] Nesaijn commented on #107
Yeah, I just install pip manually and the installation went without problems.
Regarding `pycountry`, the latest comment in the [AUR](https://aur.archlinux.org/packages/ytmdl/) also mentions `pycountry`. Other than that, I can only show the error I got, which was solved when installing `pycountry` manually.

[2020-07-26 01:39] msrsakib commented on #64
I'm also facing the same error while downloading with **mp4 convertion** . Everything is okay with **mkv** format.
But how to fix it while trying to convert in mp4 ?

NB. `ffmpeg` is installed with its latest version.

[2020-07-26 01:40] msrsakib commented on #64
I'm also facing the same error while downloading with **mp4 convertion** . Everything is okay with **mkv** format.
But how to fix it while trying to convert in **mp4** ?

NB. ffmpeg is installed with its latest version.

[2020-07-26 15:24] deepjyoti30 commented on #107
@Nesaijn This issue should be fixed now. Made tensorflow optional and pypi has now extra features that can be installed optionally in order for trim to work.

You can install from AUR and report back here if you find any more bugs.

[2020-07-26 16:54] Nesaijn commented on #107
I have deinstalled ytmdl, pip and pycountry.

[2020-07-27 13:30] deepjyoti30 commented on #107
@Nesaijn Thanks for the input.

I completely forgot about unidecode. I have added it now.

Regarding the providers, the code surely supports it for now but I will update the README etc once I do a proper release in a few weeks.

[2020-07-27 20:44] jepace commented on #88
With the hot fix, this no longer crashes.  It doesn't actually work, but it doesn't crash.  So I guess I will close it.

[...]
==> Getting song data for fish throwing muses...
 ==> Something went wrong with Gaana. The program will continue withthe other providers. Please check '/home/jepace/.cache/ytmdl/logs/log.cat' for more details.
 ==> "gaana" isn't implemented. Skipping!
 ==> No data was foun

[2020-07-27 20:44] #88 closed

[2020-07-27 20:46] #89 closed

[2020-07-29 10:09] #107 closed

[2020-08-06 17:41] #52 closed

[2020-08-07 13:42] #56 closed

[2020-08-10 09:29] DarkSiider77 opened #109 "[Feature] Assign info manually when he doesn't found data for a song from a playlist"
Hi,
When I download song from my playlist i have some song without data, the feature allow at the end of download to assign manually name and artist song or change search name for provider.

[2020-08-10 11:13] deepjyoti30 commented on #109
Hey @DarkSiider77 Did you try passing the `--manual-meta` flag??

Also changing the metadata provider will be supported from the next release. If you check the commits, you'll see it's already in the works. If you want you can even try it out right now.

[2020-08-12 02:46] retrodaredevil opened #110 "setuptools should be a dependency"
I tried installed this and I got this error:

[code]

I believe setuptools should be a dependency, or should setuptools be a dependency on itunespy?

Of course, this was easy enough to fix by installing setuptools after I figured out what the problem was.

[2020-08-12 04:33] deepjyoti30 commented on #110
@retrodaredevil  I'm assuming you tried installing through `pip`?? `setuptools` is already a dependency of `ytmdl` and from the log you shared it seems like the installation already started from `ytmdl` as it is trying to install `itunespy`.

However, I cannot say the issue is with `itunespy` but it seems like the issue is occuring due to that itself.

Also, `setuptools` should be installed by def

[2020-08-12 05:21] retrodaredevil commented on #110
The OS I did this on was Linux Mint 19.3. Before running this, I installed python3-pip and this was the first thing I tried installing with pip (so my guess is that this error is pretty uncommon since people installing this likely have already used pup and installed things that depend on setuputils)

Also, I believe that distutils is available by default, but setuptools is not.

[2020-08-12 06:40] deepjyoti30 commented on #110
@retrodaredevil Yeah it seems like that was the issue, however I don't think this issue is of ytmdl, it is mostly from `pip` I guess.

Since even if I put `setuptools` as a dependency, the `setup.py` will still import the `setuptools` module before installing the dependencies.

[2020-08-14 19:08] retrodaredevil commented on #110
I'll go ahead and close this issue since it isn't really a problem with ytmdl.

[2020-08-14 19:08] #110 closed

[2020-08-15 09:42] #61 closed

[2020-08-15 12:13] #62 closed

[2020-08-17 11:02] scriptzteam opened #111 "Prerequisites - setuptools, pathlib"
Would be cool to mention for other that setuptools is needed and also other ?? ;)

[code]

[code]

On my raspberry pi - Linux raspberrypi 5.4.51-v7l+ #1327 SMP Thu Jul 23 11:04:39 BST 2020 armv7l GNU/Linux

[code]

[2020-08-17 11:20] deepjyoti30 commented on #111
@scriptzteam liblxml doesn't seem like a direct dependency so I guess the issue is not from ytmdl.

About `setuptools` I think it is required because you're installing from the `setup.py` so it is merely a dependency required for building the package and not for installing it?!

Can you try installing the package from pypi without installing `setuptools`? I guess it should be installed that way?

[2020-08-17 15:58] frakman1 opened #112 "[REQUEST] Make a docker image for this"
It would be nice to have a docker image for this tool. One for just the tool and one for the webapp.

[2020-08-18 04:59] deepjyoti30 commented on #112
@frakman1 Have you checked [this](https://github.com/yantonov/ytmdl-docker) repo?

[2020-08-18 13:26] frakman1 commented on #112
Just did. Looks great. Thanks. Maybe a good idea to link to it in the README.

[2020-08-18 13:26] #112 closed

[2020-08-18 14:45] dnswd opened #113 "Add filter/tag for Youtube generated videos to ensure audio quality"
I think it would be great if I can choose to download music from youtube generated music because I believe it has more audio quality and no background noise, unlike several MV.

Generated videos usually only have song's album in the video, and the description usually contains `Auto-generated by YouTube.` or `Provided to YouTube by <music company>`

Not every artist has youtube generated music due

[2020-08-19 13:48] Shnxxx opened #114 "[REQUEST] Opus support?"
I really love your project. I've tried it for a couple of songs and I didn't get any problem for now. But it would be also nice if you add support for OPUS? It is currently a great file audio format. An audio format that could go on par with FLAC and APE, and superior to AAC which is better than MP3.

Especially on YouTube, because the MKV container and lossless codecs like PCM and FLAC are in fac

[2020-08-19 13:50] Shnxxx commented on #114
The provided link also tells more about the OPUS and not just samples.

[2020-08-26 05:57] deepjyoti30 commented on #69
Added in the latest release

[2020-08-26 05:57] #69 closed

[2020-08-26 05:58] deepjyoti30 commented on #113
@dnswd This sounds like a good feature, I will take a look to see if this would be possible to add.

[2020-08-26 06:01] deepjyoti30 commented on #114
@Shnxxx Thanks for the suggestion, I think I had considered adding support for Opus way back when I was adding m4a as a format. The issue, as I remeber, was probably that Opus does not support meta tags? I'm not completely sure about that but this is probably the reason it was not added along with m4a as a format.

However, I'll take another look at it and if possible I'll surely add support. I ju

[2020-08-27 07:00] deepjyoti30 commented on #114
Hey @Shnxxx Added support for `opus` in f3b937a09e5fccf6218649364484360cc7f52120

Considering trying it out and if you have any issues you can report back here.

[2020-08-27 08:05] Shnxxx commented on #114
I will try this right away! Thank you for your work. Give me some time to test it out.

[2020-08-27 08:44] Shnxxx commented on #114
After installing using `pip install ytmdl` and when I try to do `ytmdl "test" --nolocal` it is saying `'ytmdl` is not recognized as an internal or external command, operable program or batch file."

I did try downloading the ytmdl-master and open setup.py normally but it shows `WARNING: The wheel package is not available.`

I also did try opening CMD in the ytmdl-master directory and used `python

[2020-08-27 11:33] deepjyoti30 commented on #114
@Shnxxx I'm assuming you're trying to run it on Windows?

`ytmdl` currently doesn't support windows. However, you can try using it through WSL, users have reported it working through that.

[2020-08-27 16:47] Shnxxx commented on #114
I forgot to mention. Yeah, I'll do that right away! Thank you again!

[2020-08-27 20:36] Pirols opened #115 "Failed while moving with error: 'track_name'"
## Issue
Hi, when I run

`$ ytmdl a reason to fight # any song actually`

After asking me which song to download from youtube, downloading it and gathering the correct metadata ytmdl exits with the following error and failing to create any directory(let alone moving the file from the cache folder):

The found metadata is correct, as follows

  || TITLE: A Reason to Fight
  || ARTIST: Disturbed
  |

[2020-08-28 04:43] deepjyoti30 commented on #115
@Pirols I'll try to reproduce the issue, however as seen in your config, is the SONG_DIR quote not closed??

and not

If it is closed, I think the issue might be probably while creating the directories dynamically which I am going to take a look at ASAP.

[2020-08-28 06:24] deepjyoti30 commented on #115
@Pirols Should be fixed in de1fa38 Consider trying out that commit and report back here if you face any more issues.

[2020-08-28 16:32] #65 closed

[2020-08-28 16:32] #70 closed

[2020-08-28 16:32] #53 closed

[2020-08-28 16:32] #67 closed

[2020-08-28 21:04] #71 closed

[2020-08-29 21:29] Pirols commented on #115
It was a typo, mb!

Just tested and it now works flawlessly!

[2020-08-29 21:29] #115 closed

[2020-09-01 07:41] deepjyoti30 commented on #113
@dnswd I'm currently working on adding this feature. Can you please provide me some sample YouTube links that have the `Auto Generated by YouTube` in the description as well as the other one.

[2020-09-01 08:16] deepjyoti30 commented on #113
@dnswd Just added support for that. You can check f43a3705dc87fbc84afc98e869d222b3b67aede7

If the song is determined as a music provided by YouTube, it will be indicated with a `[M]` before the name of the song.

I tested with [this](https://www.youtube.com/watch?v=jJSn-HWPDdg) song. However, if you can gimme some more videos, I would be glad to test out with those.
Also in case you face any bugs

[2020-09-03 13:32] #72 closed

[2020-09-07 21:34] momentai-gbatemp opened #117 ""itunes" isn't implemented. Skipping!"
I keep on getting this error when downloading anything.

[2020-09-08 03:57] deepjyoti30 commented on #117
@momentai-gbatemp Can you tell me the version of ytmdl you're using as well as how you installed it?!

You can get the version using the `--version` flag.

[2020-09-08 18:08] momentai-gbatemp commented on #117
I installed it with AUR and I have version 2020.07.26

[2020-09-09 03:16] deepjyoti30 commented on #117
@momentai-gbatemp Thanks for reporting the issue. It seems like it is probably occuring due to the last hotfix release I made. I will make a new release shortly that will fix that issue. It is actually caused due to an experimental feature that we were working on.

For now, you can consider installing the git version from AUR. The package is `ytmdl-git`

[2020-09-15 09:56] #66 closed

[2020-09-18 09:23] nesper8 opened #118 "Last.fm Integration"
Can you consider integrating last.fm to grab metadata of songs as its have a very detailed sections

[2020-09-19 12:31] deepjyoti30 commented on #118
@nesper8 I'll take a look at their API. I will add support if it is plausible.

[2020-09-19 15:31] deepjyoti30 commented on #118
@nesper8 I'll be pushing the commits shortly. Last FM support will be added. Cheers!

[2020-09-21 10:09] deepjyoti30 commented on #118
@nesper8 The feature will be added in the next release. In the meanwhile you can try it out by cloning and installing the latest commits.

Feel free to report back here if something doesn't work

[2020-09-21 13:48] nesper8 commented on #118
Thank you ill close this issue now

[2020-09-21 13:48] #118 closed

[2020-09-21 22:34] #75 closed

[2020-09-27 13:50] rdesouter opened #119 "'charmap' codec can't encode characters in position 1-40"
Hello, I try to use the script but here's my error message;

1024 bytes|| ETA: 6 s
 ==> 'charmap' codec can't encode characters in position 1-40: character maps to <undefined>
 ==> ERROR: 'charmap' codec can't encode characters in position 1-40: character maps to <undefined>

I'm using git bash and pip3 (v.20.2.3)

I've read it's maybe related to Soup (api) convert ASCI to UTF-8, but no idea wich

[2020-10-03 20:44] #76 closed

[2020-10-05 04:42] deepjyoti30 commented on #119
@rdesouter This seems like it is being raised while the file is being downloaded. It might be caused by `youtube-dl` which is internally handling the downloads.

Can you give the logs by running the program with `--DEBUG`?!

[2020-10-05 13:18] rdesouter commented on #119
Same
![image](https://user-images.githubusercontent.com/10233095/95084220-de4d8380-071d-11eb-8489-da2db6e48cf3.png)
Although youtube-dl works fine

[2020-10-07 06:30] deepjyoti30 commented on #119
@rdesouter Can you also tell me how you install `ytmdl` and `youtube-dl`? I understand the issue is occuring while the download so it is probably something that happening because of `downloader-cli` or perhaps even `ytmdl`.

Given that you're using git bash, it's hard for me to exactly reproduce the issue so that's another thing. Do you have any Linux machine that you can test if ytmdl is working

[2020-10-17 12:02] manthanabc commented on #78
I am still waiting for fix tho :/

[2020-10-19 03:34] deepjyoti30 commented on #78
@manthanabc Hey sorry for the late reply. It seems like you're facing this issue on Windows? That's one of the reasons I'm unable to fix it. I don't have access to an windows machine and thus I cannot add support for Windows to `ytmdl`.

Even though there's the Windows branch where I made changes based on user input, it is normal to face some unexpected issues that are to be fixed later but I cann

[2020-10-30 10:21] #79 closed

[2020-10-30 19:23] #86 closed

[2020-10-31 10:55] #77 closed

[2020-10-31 17:14] #84 closed

[2020-10-31 22:46] #91 closed

[2020-11-04 02:16] #98 closed

[2020-11-07 17:13] #90 closed

[2020-11-07 17:13] #103 closed

[2020-11-09 19:26] alepando commented on #98
The reality is that the problem still exists in Debian tresting, debian stable, Python 2, 3 and 3.7.

[2020-11-10 04:05] deepjyoti30 commented on #98
@alepando Have you tried the newer versions where tensorflow is not installed by default and instead is optional.

[2020-11-10 18:22] glaukon-ariston commented on #51
On Windows your `ytmdl` script gets into `Scripts` directory (`C:\app\dev\python\Python37\Scripts` on my machine). Because it hasn't got the `.py` extension I cannot run it from the command line.
[code]

If I change the name to `ytmdl.py` (my `PATHEXT` env var has the `.py` in) then I get the following error:
[code]

If I change the name to `ytmusic-dl.py` then I get the following message no matte

[2020-11-10 18:38] glaukon-ariston commented on #51
It is something to do with the `argparse` not working as expected. I added `print(args)` in the `main()` and am getting this
[code]

[2020-11-12 14:01] deepjyoti30 commented on #51
@glaukon-ariston The name of the script should not be an issue. The package is supposed to be installed in the `/lib/site-packages/` directory and since the script is in a different directory, it will import the package and not itself. Can you check if the package is installed properly??

Regarding `argparse` it does seem like the args are not being parsed properly, perhaps that's a windows relate

[2020-11-12 16:33] glaukon-ariston commented on #51
Installed it on a different computer. It seems to work after renaming the script.
[code]

[2020-11-13 06:51] deepjyoti30 commented on #51
@glaukon-ariston Wow, that's pretty awesome. Seems like the only issue is to rename the file and it will start working all right. You did not have any issue downloading the songs??

Also you had to add the `.py` to `$PATHEXT` in order for it to recognize the py file as a script.

Can you please tell me where the `ytmdl` package is located?  You can get it by running the following command

[code]

[2020-11-13 06:58] deepjyoti30 commented on #51
@glaukon-ariston Can you also give me the installed location of `youtube-dl`? Also does `youtube-dl` work out of the box?

What does running `youtube-dl` on the command line do? Does it throw a similar error?

[2020-11-13 12:32] glaukon-ariston commented on #51
On my system `youtube-dl` is `youtube-dl.exe`, a Windows executable.

The song has been downloaded and converted into MP3, but not in the current directory. I had to chase it down, it was in `C:\app\dev\hp\user\.cache\ytmdl\` (named `Los#Del#Rio#-#La#Macarena#(#Full#Spanish#Version#with#Lyrics.mp3_new.mp3`) so it seems the last part of the processing didn't go well (`itunes`, `gaana`, etc.).

[cod

[2020-11-15 02:00] #64 closed

[2020-11-16 11:10] deepjyoti30 commented on #51
@glaukon-ariston Thanks for giving all the info. So it seems like the package is being installed correctly but the script has a conflict of name while executing. I asked you for the location of `youtube-dl` because its package structure is similar to `ytmdl`. I think if I ship ytmdl as an executable, like `youtube-dl` does, the issues would be fixed.

Regarding the metadata issue, I think it might

[2020-11-16 18:05] glaukon-ariston commented on #51
Here's a snippet of my `Scripts` directory. You can see `youtube-dl.exe` and the renamed `ytmdl`.
![image](https://user-images.githubusercontent.com/17722062/99290384-82a70780-283e-11eb-8967-5684a482eb0e.png)

[2020-11-18 14:58] b4skyx opened #120 "Playlist downloading breaks on error."
Issue: Playlist downloading breaks when metadata of a song is not found.
Error Displayed: No Data Found when looking for the playlist metadata.
Expected Behavior: The metadata merge should be skipped and the playlist next item should be queued for serarch/download.

Operating System: Archlinux
[code]
Config: Default

Playlist: PLwzxNJxD6BZy0iNETTxbCYUy22ujXy4pg
Url: https://www.youtube.com/playlis

[2020-11-18 15:03] b4skyx commented on #120
![image](https://user-images.githubusercontent.com/55960554/99547229-4fe74580-29dd-11eb-8aee-446fbb9f5489.png)
Screenshot of the above behavior reproduced.

[2020-11-19 08:12] deepjyoti30 commented on #120
@b4skyx  Thanks for reporting the issue.

The bug has been fixed in 347e9229c3

I would suggest you to install the latest commit from git and install either manually or go for the `ytmdl-git` package from AUR. This is because the latest commits have one specific change for the playlist functionality, that is, before searching for the song, it asks the user if to search the song with the title of t

[2020-11-20 03:21] b4skyx commented on #120
Made the commit changes to the source manually and it's working as expected. Working as it should, thank you!

[2020-11-20 03:21] #120 closed

[2020-11-20 08:01] georgeat8 opened #121 "Can't use the command"
# Bug report
Error on running command:

`Traceback (most recent call last):
  File "/usr/bin/ytmdl", line 22, in <module>
    from ytmdl import (
  File "/usr/lib/python3.8/site-packages/ytmdl/song.py", line 26, in <module>
    from ytmdl import prepend, defaults
ImportError: cannot import name 'prepend' from 'ytmdl' (/usr/lib/python3.8/site-packages/ytmdl/__init__.py)`

## Checklist

[x] I have s

[2020-11-20 08:13] phykos commented on #121
I encountered this too, weird

[2020-11-20 08:24] deepjyoti30 commented on #121
@phykos @georgeat8 Sorry about all the issues. Should be fixed now. Updated the version in both pypi as well as AUR.

[2020-11-20 08:29] phykos commented on #121
I'll try, thx

[2020-11-20 08:56] deepjyoti30 commented on #113
Added in the latest release

[2020-11-20 08:56] #113 closed

[2020-11-20 08:56] deepjyoti30 commented on #114
Added in the latest release

[2020-11-20 08:56] #114 closed

[2020-11-20 08:56] deepjyoti30 commented on #117
Fixed in this release

[2020-11-20 08:56] #117 closed

[2020-11-20 09:13] phykos commented on #121
Works!

[2020-11-20 09:33] #121 closed

[2020-11-20 10:18] mrmeszaros opened #122 "Download fails while searching for metadata"
# Bug report

## Checklist

- [X] I have searched for similar bugs in the issues.
- [X] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2020.09.20`

## How Ytmdl was installed?

Installed via pip

## Console Log

[code]

## Description

It seems to me that ytmdl cannot find the logger to log the error message related to a song withou

[2020-11-20 11:47] jamesblckwell opened #123 "Crash when not inputting a number when selecting song"
# Bug report

## Checklist

[ Y] I have searched for similar bugs in the issues.
[ Y] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2020.11.19`

## How Ytmdl was installed?

Installed via AUR/Yay

## Console Log

[code]

## Description

YTMDL crashes when you input anything other than an integer during selection of song. I assume i

[2020-11-20 12:19] ThangaAyyanar opened #124 "Fetch Meta data from musicbrainz"
# Metadata data fetch

## Checklist
[ ] Fetch Metadata from Musicbrainz along with other sources.

## Description
Music brainz maintain metadata of music and it is public, Integrating it would be pretty cool.

Site: https://musicbrainz.org/
API: https://musicbrainz.org/doc/MusicBrainz_API

[2020-11-20 13:21] MatheoDumont opened #125 "Allow to download an entire Playlist"
One could pass the playlist url and download it.

[2020-11-20 14:17] deepjyoti30 commented on #122
@mrmeszaros Thanks for the report. The issue is from the logger being used. In this version, ytmdl has started using `simber` as a logger and hence this issue. I will add a fix for this asap.

[2020-11-20 14:29] deepjyoti30 commented on #122
Should be fixed now. Just update the logger in one of the following way.

If you installed from **pypi**:

[code]

If you installed from **AUR**:

[code]

[2020-11-20 14:31] deepjyoti30 commented on #123
@jamesblckwell Thanks for the input. This bug was supposed to be fixed in one of the earlier commit messages but it will surely be fixed before the next release. Since this is not a major issue, I can keep it for the next release.

[2020-11-20 14:32] deepjyoti30 commented on #124
@ThangaAyyanar Thanks for the suggestion. Seems like a nice addition. I will consider adding this.

[2020-11-20 14:34] deepjyoti30 commented on #125
@MatheoDumont It does support downloading a playlist at the moment. You can pass the playlist in the following way and ytmdl will automatically detect it

[code]

If you're referring to some other feature please be a bit more specific.

[2020-11-20 20:34] mrmeszaros commented on #122
Thanks, it worked!

[2020-11-21 00:34] mrmeszaros commented on #122
Somehow the missing metadata still breaks the download process:

- The process ends with an error, and the song does not get copied to the `~/Music` folder
- I was able to circumvent the problem by passing the `--skip-meta` option
- I think that failing to find metadata for a song should not stop the process, or have it logged too:

[code]

[2020-11-21 07:58] deepjyoti30 commented on #122
@mrmeszaros This is a known issue. Since half og the apps functionality is to save metadata automatically, that is why it breaks. If the song was to be copied even if meta was not found, it would just be a song with no proper file name etc which is basically the equivalent of using `youtube-dl`.

This is why it stops working when no meta is found.

[2020-11-21 08:08] mrmeszaros commented on #122
@deepjyoti30 Thanks for the reply!

Would You mind extending the final log message to say something about it?

Like an error: ` ==> Withholding file because of missing song data`.

And then maybe an info: `Use --skip-meta to silence this error, or provide song meta via the --title --album --artist flags`

[2020-11-22 07:32] chaitanyarahalkar opened #126 "YTMDL website not working"
The website where the project is hosted - https://ytmdl.deepjyoti30.dev/ gives an internal server error on the song-download page. Nothing happens on clicking the download button.

[2020-11-22 09:13] Ramiferous opened #127 "Unable to extract JS player URL"
# Bug report
## Version Info

- Ytmdl version: 2020.11.20-1
- Youtube-dl version: 2020.11.21.1

## How Ytmdl was installed?
pip install ytmdl

## Console Log

[code]

## Description

Unable to extract JS player URL

[2020-11-22 11:02] J0rdyV opened #128 "[Bug] Playlist stops loading when there is a video that has [Video blocked in country]"
# Bug report
Playlist stops loading when there is a video that is unavailable in your country, and error gets thrown.
Even though there are some songs in the playlist that do not have the tag [Video blocked in country].

## Checklist

[x] I have searched for similar bugs in the issues.
[x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl versio

[2020-11-22 11:27] mortezadadgar commented on #35
@deepjyoti30 hey, ytmdl stuck at connecting to socks
`❯ ytmdl Sapce Oddity --format mp3 --proxy socks5://127.0.0.1:9050 --level DEBUG
 ==>  Logger running in DEBUG mode
 ==>  Passed args: Namespace(SONG_NAME=['Sapce', 'Oddity'], album=None, artist=None, choice=None, disable_file=False, disable_metaadd=False, format='mp3', get_opts=False, ignore_errors=False, level='DEBUG', list=None, list_level=Fa

[2020-11-23 11:45] deepjyoti30 commented on #128
@J0rdyV Thanks for the report. Seems like an unhandled exception. I will fix this.

Did you happen to try the `--ignore-errors` flag?

[2020-11-23 11:48] deepjyoti30 commented on #35
@mortezadadgar It should be able to however I wasn't able to test the feature due to no access to a proxy and when I had implemented the issue, I didn't have any testers as well.

I feel like the stuck issue might be because of the `youtube-search` module but that is just a guess, I cannot for sure, reproduce this issue.

[2020-11-23 11:48] deepjyoti30 commented on #126
@chaitanyarahalkar Should be fixed now.!

[2020-11-23 11:49] deepjyoti30 commented on #122
@mrmeszaros Sure. I think that message would be a nice addition.!

[2020-11-23 11:53] mrmeszaros commented on #122
@deepjyoti30 I can make a PR if You do not mind🙂

[2020-11-23 11:56] deepjyoti30 commented on #127
@Ramiferous Seems like an issue of `youtube-dl`.

Can you try the fix in [this](https://github.com/l1ving/youtube-dl/issues/12) issue? However, this should probably be fixed in the next version of `youtube-dl`.

Also, this is not happening for all the songs, is it?

[2020-11-23 11:57] deepjyoti30 commented on #122
@mrmeszaros Sure. Just make sure you read the Contribution guidelines before that. Also, make the PR to the unstable branch.

Since this release, I'm aiming to continue the development in that branch and only merge to master if the feature is tested and working!

[2020-11-23 12:20] chaitanyarahalkar commented on #126
Great, thanks!

[2020-11-23 12:20] #126 closed

[2020-11-23 19:28] dsivasuthan opened #129 "While downloading youtube playlists, add ability to skip the prompt "Most extracted titles are not accurate and they affect the meta search"""
# Feature Request

## Checklist

[x] I've searched the bugtracker for similar feature requests including closed ones.
[x] I will add the enhancement label to the issue.

## Description

Add a flag/switch to disable any prompt while downloading playlists. Currently, it asks if you want to change the metadata. Most of the songs I download don't have metadata, so I want to skip the search. Thanks.

[2020-11-24 11:29] deepjyoti30 commented on #129
@dsivasuthan So you want to skip the part where metadata is searched? Have you tried the `--skip-meta` flag?

Also you can use the `--ignore-errors` to continue downloading if meta fails.

[2020-11-24 17:06] dsivasuthan commented on #129
Yeah, I tried those switches. The following was my exact command but it still asks if I want to manually change meta.

`ytmdl --disable-metaadd --skip-meta -q --ignore-errors https://www.youtube.com/playlist\?list\=PL_DaWb6RFQc0nKvAnLOFDk_tmOtp1VX9x`

[2020-11-24 18:34] J0rdyV commented on #128
Seems to give me the same output.

[code]

[2020-11-25 07:24] deepjyoti30 commented on #129
@dsivasuthan So you want to be able to skip the prompt where the user is asked if they'd like to change the title of the song before the meta search is done?

[2020-11-25 10:35] deepjyoti30 commented on #123
Fixed in 05a4d9cd41a85813b8

@jamesblckwell You can try using the above commit and report back if the issue still exists. For now I will close the issue. Feel free to open it if the issue remains.

[2020-11-25 10:35] #123 closed

[2020-11-25 13:43] deepjyoti30 commented on #128
@J0rdyV Thanks for reporting the issue. As I said this was an unhandled exception and should be fixed in de35931a9caf9fdae02cfe43

However, the playlist you provided is working all right for me so please do try the above commit and let me know if it still breaks!

[2020-11-25 16:12] deepjyoti30 commented on #124
@ThangaAyyanar Musicbrainz is added. You can check 9e04fd856f5ffe and commits before that.

Feel free to clone the latest commits from the unstable branch and try it out youreslf. You can report back here if you find any issues.

[2020-11-25 17:58] dsivasuthan commented on #129
Exactly! I think this option would make this similar to youtube-dl but it would be helpful for certain playlist cuz we don't need to keep hittin "n" and Enter for each song. I hope that makes sense. Thank you.

[2020-11-26 06:25] deepjyoti30 commented on #129
@dsivasuthan I understand. I did have that in mind however considering that most songs cannot be found with the YouTube title I did not add that flag.

[2020-11-26 11:25] Ramiferous commented on #127
Cant seem to find extractor\youtube.py so not really sure how to apply this fix?

And yes, I did manage to download one song so it has worked. Cant see to find another song that it'll download though.

[2020-11-26 12:33] el-banan opened #131 "Allow downloading and splitting compilation videos by chapters"
# Feature Request

## Checklist

[x] I've searched the bugtracker for similar feature requests including closed ones.
[x] I will add the enhancement label to the issue.

## Description

YouTube now displays chapters in some compliation videos, it would be quite useful to be able to download those videos like playlists are downloaded.
Example video with chapters: https://www.youtube.com/watch?v=Yxd

[2020-11-26 12:34] el-banan commented on #131
I'd be willing to work on this feature, but I'd really could use some directions in terms of code structure

[2020-11-26 13:48] deepjyoti30 commented on #127
@Ramiferous Totally a `youtube-dl` issue. If you want, you can search the `youtube-dl` source for issues and raise one but I think I'm unable to help.

[2020-11-26 14:00] deepjyoti30 commented on #131
@el-banan Seems like a neat addition. However this would be a big addition.

Since you asked for directions. Here's how I would try to do it:

When ytmdl recieves a link, it first checks if it is a video or a playlist. Once this is passed, ytmdl accordingly uses  the `youtube-dl` module to extract the videos  in that list and then returns a list of videos.

The above is similar for a video. ytmdl

[2020-11-27 12:20] J0rdyV commented on #128
@deepjyoti30 Thanks for looking at this issue :)
I still get the same error as before. I downloaded this repo, did `git checkout unstable` and `sudo python setup.py install`.
The version gives me the same number, so I'm unsure if it's installed correctly.

This is the output I get from youtube-dl when downloading the playlist, hopefully this helps.
[code]

[2020-11-27 12:41] deepjyoti30 commented on #128
@J0rdyV Since you installed initially from the AUR, it is possible you have two versions installed?!

Can you please uninstall the one installed from AUR using `yay -R ytmdl`. Once done, remove all the installed versions from pip as well by using `pip uninstall ytmdl`.

Now try to check if `ytmdl` is still installed by running `ytmdl --help`. If it is still installed, remove using pip again.

Basi

[2020-11-27 21:18] el-banan commented on #131
Looks like youtube-dl is going to add support for chapters based splitting https://github.com/ytdl-org/youtube-dl/pull/25005

[2020-11-28 07:46] deepjyoti30 commented on #131
@el-banan Looks good, let's wait for the feature to hit a release!

[2020-11-28 07:51] deepjyoti30 commented on #131
@el-banan Just checked passing the URL to the `youtube-dl` 's `extract_info` method and it seems like it is already returning the chapters along with duration. Seems nice but we will have to use ffmpeg to split the chapters and accordingly get the metadata for each title.

[2020-11-28 08:02] deepjyoti30 commented on #129
@dsivasuthan Added in 2296697dd9975a12c6f06.

You can check the latest commits and report back here if it doesn't work for you.

[2020-11-29 01:36] dsivasuthan commented on #129
That totally worked! :) Thank you for the speedy response. Now, I just need to find a way to slow this down so youtube doesn't think I am abusing.

[2020-11-30 00:49] Ramiferous commented on #127
No worries, will see if the next version of `youtube-dl` fixes it.

[2020-11-30 00:54] Ramiferous commented on #127
Actually, it's not yet solved so will reopen until this gets sorted out in upstream `youtube-dl`

[2020-11-30 11:57] #109 closed

[2020-11-30 15:05] deepjyoti30 commented on #131
@el-banan I have added the functionality. Please consider installing the latest commits from the `unstable` branch and try it out.

It recognizes the songs automatically if they have chapters and accordingly extracts each song. Since the song you provided was like 2 hours, it was not possible for me to download each song.

Also, most of the song titles are not proper, thus it might fail to search

[2020-12-02 13:12] deepjyoti30 commented on #51
Thanks to everyone that have been commenting here with solutions. I was finally able to make `ytmdl` work on Windows. As of now, I tested it and it worked all right. There is a possibility of some bugs since I did not get a chance for an indepth usage.

However, I would like to request you guys to try it out for yourself and tell me if you do find any issues.

Since `ytmdl` depends on [simber]() a

[2020-12-02 13:14] deepjyoti30 commented on #79
@JerryBels @gokuljs ytmdl should work on Windows now. Can you check [this](https://github.com/deepjyoti30/ytmdl/issues/51#issuecomment-737221619) comment?

As of now, I tested the changes and it is working all right.

Thanks to you guys for reporting all the issues etc!

[2020-12-02 14:06] J0rdyV commented on #128
Hi, sorry but this did not fix the issue.

[2020-12-03 15:20] deepjyoti30 commented on #128
@J0rdyV Thanks for replying.

Should be fixed in f5db5938ed2c2fd714a6824d5d3cf

Do consider trying out the latest commits.

[2020-12-03 16:06] J0rdyV commented on #128
Worked perfectly! Thanks :D

[code]

[2020-12-03 16:06] #128 closed

[2020-12-07 14:17] #111 closed

[2020-12-09 12:41] deepjyoti30 commented on #122
@mrmeszaros Are you going to make the PR? I think I can go ahead and make the changes.

[2020-12-09 13:10] mohibo opened #133 "can only download from youtube"
# Bug report

## Checklist

[x] I have searched for similar bugs in the issues.
[ ] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `Web Version`
- Youtube-dl version: `I Don't Have It`

## How Ytmdl was installed?
I'm Using The Web Version
Write here how you installed ytmdl. If it was through pip or some other way.

## Console Log

[code]

## Description
i can only down

[2020-12-09 13:16] deepjyoti30 commented on #133
@mohibo The audio is always extracted from YouTube and the metadata is fetched from sources like deezer and lastfm.

It's clearly stated in the [README](https://github.com/deepjyoti30/ytmdl/tree/unstable#why-this)

[2020-12-09 19:30] vrnvorona commented on #51
I also had problems with `popen('stty size', 'r')` parts, had to replace them for `shutil.get_terminal_size().columns`

Also using .format in 2020 is kinda upsetting. f strings are much cleaner way to interpolate strings.

[2020-12-10 11:01] deepjyoti30 commented on #51
@vrnvorona That is already fixed. I was aware of that issue and it was happening in the `downloader-cli` package. I have already made changes in that package. This is why I asked to install the latest version of that package as well.

[2020-12-10 21:46] JaxSoder commented on #51
Would be super cool if this tutorial above was featured on the main page somewhere to help out windows users!

[2020-12-11 10:11] mrmeszaros commented on #122
Hey @deepjyoti30 - sorry for taking so long - I have been looking into it, and thinking about it.

The [Simber](https://github.com/deepjyoti30/simber) logger halts the program execution on a critical message.
Therefore, it seems to me that setting the exit code would have to be changed there.

On the other hand, it is usually not the loggers responsibility to manipulate program flow (https://stack

[2020-12-11 14:47] deepjyoti30 commented on #122
@mrmeszaros Can't we just change the critical message to error and add subsequent error messages and then a critical message?

[2020-12-11 16:05] mrmeszaros commented on #122
@deepjyoti30 that is half of the part - I wanted to add the non zero exit code too, and got hung up on that, and am currently rebasing my changes with the new exception classes.

BTW, do You have any idea why cannot I test my changes? when I run, it says, it cannot find the exceptions module (although it is there):

[code]

[2020-12-14 04:25] deepjyoti30 commented on #122
@mrmeszaros It might be that another version of ytmdl is present which is why you're not able to test the latest code.

Consider uninstalling ytmdl from your package manager, for eg in Arch Linux `yay -R ytmdl`. Once it is removed.

Uninstall using pip `pip uninstall ytmdl`. Keep doing the `pip` command until it shows that no ytmdl is present.

After that check if all the installed versions are in

[2020-12-14 04:38] deepjyoti30 commented on #122
@mrmeszaros Regarding the exit code issue. I think I will add an optional param to the `critical` method that would allow the user to pass  the desired exit code.

[2020-12-17 01:28] Tennyleaz opened #137 "Some songs can't find metadata from itunes."
# Bug report

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2020.11.01.1`

## How Ytmdl was installed?
From pip3

## Console Log

[code]

## Description

For example [this song](https://music.apple.com/jp/album/1532188552) is on itunes (and [youtube music](https://music.youtube.com/playlist?list=OLAK5uy_kQheEFKaoGGt2cqrFiYls0l9VudqWUymg), [amazon music](https://music.amaz

[2020-12-18 00:53] demin-dmitriy opened #138 "`is unauthorized` for `http://www.youtube.com/oembed?url={}&format=json` url"
# Bug report

## Checklist

* [x] I have searched for similar bugs in the issues.
* [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2020.12.12`

## How Ytmdl was installed?

pip

## Description

At some moment all videos began to give me "is unauthorized" error. Digging into what causes it, I found that in `scan_video` function h

[2020-12-18 04:46] deepjyoti30 commented on #138
@demin-dmitriy  Are you sure you have not exceeded the rate limit??

It seems like a rate limit related issue. You can not use the app for a while and try again and it should probably work again.

[2020-12-18 18:05] demin-dmitriy commented on #138
Yes, I am sure it is not because of the rate limit. It fails with `http` every time, and succeeds with `https` every time. Here is exact command which I run: `ytmdl --skip-meta --url "https://www.youtube.com/watch?v=pR1aGhjDL9M"`.

It even says in response that SSL is required.

[2020-12-21 05:24] deepjyoti30 commented on #138
@demin-dmitriy Thanks for reporting the issue. It was occuring due to a bug in checking if the passed URL is a playlist.

It should be fixed in 48200d9fdf22e2f

You can try out the commit and close this issue.

[2020-12-21 06:52] demin-dmitriy commented on #138
I still have the same error. And fix which I was doing locally (with changing http to https) still works for me. Here is the patch:

[code]

[2020-12-21 07:22] deepjyoti30 commented on #138
@demin-dmitriy Thanks. Will make that change. I thought your issue was occurring for playlists that had the `http` instead of `https`.

[2020-12-21 11:43] deepjyoti30 commented on #137
@Tennyleaz Can you give me a bit more details regarding the song? Google translates indicates that `アカシア` means `acacia` so is the name of the song acacia?

Also, from the Itunes link it seems like the name of the song is Bump of chicken?! Do you mind telling me the name of the singer and the album.

I think the issue is probably that the song is available in the results but it is way down due to

[2020-12-21 12:53] deepjyoti30 commented on #137
@Tennyleaz Found the issue. It is happening because `ytmdl` is trying to show you the songs that are most related to the current song, first. However the algo used to determine that is pretty `naive`. Since your songs name is entered in japanese it is not showing the closest result first because it doesn't consider converting the song name.

I am thinking of adding a flag to disable the sorting fe

[2020-12-21 13:37] Tennyleaz commented on #137
@deepjyoti30
Thanks for your reply. `アカシア` a.k.a. `Acacia` is the name of the song, and artist is `Bump of chicken`. I also tried command like `ytmdl アカシア --artist Bump of chicken`, and it gives me similar result.

Glad that you could fix this issue in the future.

[2020-12-22 12:37] deepjyoti30 commented on #137
@Tennyleaz Added a flag `--disable-sort` to disable the sorting before showing the metadata to the user.

Tried with your song as well, it's working fine. Feel free to try the commit and report back here if you find any bug.

The commit is 868a1339095e7bd86ff0585ef442e460724b316a

[2020-12-23 21:08] Donokami commented on #125
[code]
I do have this issue when trying to dl a playlist

[2020-12-24 04:52] deepjyoti30 commented on #125
@Donokami Thanks for pointing it out. This was a bug in the code. However, it seems like you're not able to access this playlists. I just tried this playlists myself and it is working all right.

Are you able to extract other playlists? Are you able to extract this playlist using `youtube-dl`?

[2020-12-28 08:35] Donokami commented on #125
Yep it was a `youtube-dl` issue, but I still had some issue with https; but it is more linked to #138

[2020-12-29 03:28] Tennyleaz commented on #137
@deepjyoti30
Using commit `868a133` with argument `ytmdl アカシア --artist 'Bump of chicken' --disable-sort` finally shows correct metadata.
Thanks!

[2020-12-30 11:11] deepjyoti30 commented on #125
@Donokami #138 is fixed in 48200d9fdf22e2fa009c74b623bd2bd84008fcc7

[2021-01-01 11:43] BobDaGecko opened #139 "Cannot download song with forward slash in title"
# Bug report

## Checklist

 - [x] I have searched for similar bugs in the issues.
 - [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.12.02-dev`
- Youtube-dl version: `2020.12.31`

## How Ytmdl was installed?

pip

## Console Log

[code]

## Description

When a song's name has a forward slash it messes with the file's path and breaks the program. The `--ignore-

[2021-01-02 23:55] watermelonpizza opened #140 "Playlist support does not work on the `music.youtube.com` subdomain"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2020.12.31`

## How Ytmdl was installed?
Ubuntu 18.04.2 LTS `pip3 install ytmdl`

## Console Log

[code]

[code]

## Description

When using `www.youtube.com` with a playlist url the application dete

[2021-01-04 05:40] deepjyoti30 commented on #139
@BobDaGecko Thanks for reporting the issue. The issue should be fixed in 86cea072e64b4215c87eba49a868ff83be4b25f9

I think the bug here was that `ytmdl` was not able to replace special characters in the string automatically. However, I will take a look at why `--ignore-errors` was not working.

[2021-01-04 10:45] deepjyoti30 commented on #140
@watermelonpizza Thanks for reporting this. Should be fixed in 4c7b41ce37c8edc85a66e1b60f772a1042b2a78f

It was a simple fix since `youtube-dl` is able to extract playlists from `YoutubeMusic` pretty easily as well. Just had to change a regex to match playlists that had the `Youtube Music` domain in it.

[2021-01-04 10:48] BobDaGecko commented on #139
@deepjyoti30
Couple things. The first is I think your fix caused the movement of files not to work. The file is renamed to the path plus the song name. So I would get -home-user-music-<song_name>.mp3 in the current directory I run ytmdl in.

Also I clearly primarily use ytmdl for downloading videos with timestamps. I am not as interested in the meta data so I was wondering if you could enhance the

[2021-01-04 10:53] deepjyoti30 commented on #139
@BobDaGecko Sure I will fix that issue.

Also, do consider raising a proper feature request with a proper explanation of what exactly you want. I will consider it for sure!

[2021-01-04 10:56] deepjyoti30 commented on #139
@BobDaGecko Should be fixed in 326fa8ab598add2f9afb6c245a57febeb38f8b67

[2021-01-04 22:27] #139 closed

[2021-01-04 22:38] BobDaGecko opened #141 "Enhance --title-as-name flag to disable asking to change song title for timestamps/chapters"
# Feature Request

## Checklist

 - [x] I've searched the bugtracker for similar feature requests including closed ones.
 - [x] I will add the enhancement label to the issue.

## Description
This feature is already made for playlists with the --title-as-name flag but also add support for chapters/timestamps to disable having to enter `n` every time a chapter/timestamp is extracted.

Also add a wai

[2021-01-06 05:15] deepjyoti30 commented on #141
@BobDaGecko This is already a feature. You can use the `--keep-chapter-name` flag to do that.

[2021-01-06 08:30] BobDaGecko commented on #141
Wow, works great, thanks! I didn't know the flag existed, you may want to add it to the README and wiki.

[2021-01-06 10:49] #141 closed

[2021-01-06 13:09] NightMean opened #143 "Failed metadata download with LastFM"
# Bug report

## Checklist

- [x]  I have searched for similar bugs in the issues.
- [x]  I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2021.01.03`

## How Ytmdl was installed?

Installed through pip.

## Console Log

[code]

## Description

Hi,
I enabled lastfm provider in config file to get more results but the first song I tried

[2021-01-08 08:15] deepjyoti30 commented on #143
@NightMean Thanks for pointing out the issue. As it seems like `lastfm` has inconsistent data for some songs. Should be fixed in 446f122fcd253a82540bbeb8da06a9a2c82b003f

[2021-01-08 10:51] NightMean commented on #143
Thanks for the update. I cloned latest version but this time I get this error.

Traceback (most recent call last):
  File "./ytmdl", line 381, in <module>
    extract_data()
  File "./ytmdl", line 376, in extract_data
    main(args)
  File "./ytmdl", line 257, in main
    track_selected = meta(conv_name, song_name, song_metadata, args)
  File "/usr/local/lib/python3.6/dist-packages/ytmdl-2020.11.2

[2021-01-08 11:42] deepjyoti30 commented on #143
@NightMean Based on the version, seems like you installed from the `master` branch. However I made the changes to the `unstable` branch. You can wait till the changes are merged to `master` or try the `unstable` version.

[2021-01-08 12:46] NightMean commented on #143
I apologize for the simple mistake. The fix works! :)
On first try ytmdl did not rename the cache file in the output directory according to lastfm but after trying to replicate it for the third time I couldn't replicate it. Will make a new bug report if I manage to replicate it. I assume it was something to do with the old unrenamed file which was still there.

Thanks for a quick fix!

[2021-01-08 12:46] #143 closed

[2021-01-08 14:18] #125 closed

[2021-01-08 16:09] NightMean opened #145 "List feature doesn't work with manual install"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1`
- Youtube-dl version: `2021.01.03`

## How Ytmdl was installed?

git clone https://github.com/deepjyoti30/ytmdl && cd ytmdl && sudo python setup.py install

## Console Log

[code]

## Description

Hi again :),
After the fi

[2021-01-09 12:55] NightMean opened #146 "List feature doesn't continue if no data was found"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2020.11.20-1 with https://github.com/deepjyoti30/ytmdl/commit/446f122fcd253a82540bbeb8da06a9a2c82b003f applied `
- Youtube-dl version: `2021.01.03`

## How Ytmdl was installed?

pip install ytmdl

## Console Log

[code]

## Description

[2021-01-09 13:26] deepjyoti30 commented on #145
@NightMean Thanks for reporting the issue. On the unstable branch, because of the refactor, the `list` was ignored. It should be fixed in 7f78cf26c12d9fa6eda57d019108765ca5c8452d

[2021-01-09 13:29] deepjyoti30 commented on #146
@NightMean Have you considered passing the `--ignore-errors` flag? I suppose it should work with the lists as well.

[2021-01-10 10:56] NightMean commented on #145
Thank you! Works as expected now :)

[2021-01-10 10:56] #145 closed

[2021-01-10 10:58] NightMean commented on #146
Using `--ignore-errors` works but that way I'll have to go through the log and see which songs were skipped.  But at least it is a nice workaround.

[2021-01-12 11:46] deepjyoti30 commented on #146
@NightMean I can add a new flag but it would just be redundant considering that one flag does it for both `playlist` and `list`s.

I don't quite understand what you mean. Can you please elaborate?

[2021-01-13 13:13] deepjyoti30 commented on #124
Added in the next release

[2021-01-13 13:13] #124 closed

[2021-01-13 13:15] deepjyoti30 commented on #122
Fixed in the latest release

[2021-01-13 13:15] #122 closed

[2021-01-13 13:15] deepjyoti30 commented on #129
Added in `2021.1.14`.

[2021-01-13 13:15] #129 closed

[2021-01-13 13:16] deepjyoti30 commented on #131
Added in `2021.1.14`.

[2021-01-13 13:16] #131 closed

[2021-01-13 13:16] deepjyoti30 commented on #51
Added in `2021.1.14`.

[2021-01-13 13:16] #51 closed

[2021-01-13 13:16] deepjyoti30 commented on #138
Added in `2021.1.14`.

[2021-01-13 13:16] #138 closed

[2021-01-13 13:16] deepjyoti30 commented on #137
Added in `2021.1.14`.

[2021-01-13 13:16] #137 closed

[2021-01-13 13:16] deepjyoti30 commented on #140
Added in `2021.1.14`.

[2021-01-13 13:16] #140 closed

[2021-01-14 03:41] watermelonpizza opened #147 "Ignore path-spec if not specified in the metadata"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description
If the song metadata doesn't have any album details and the config calls for one (e.g. `SONG_DIR = "C:\Users\AppleBloom\Music$Artist->Album->[TrackNumber Title]"`) ignore the directory and put the song in the ne

[2021-01-14 04:02] watermelonpizza commented on #147
Oh looks like this is happening on everything in windows. Might be a windows bug not what I thought it was. Going to close this.

[2021-01-14 04:02] #147 closed

[2021-01-14 11:03] LiEyWe opened #149 "[Bug] Installation failing on Gentoo"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.01.13`
- Youtube-dl version: `2021.01.03`

## How Ytmdl was installed?

I tried to install Ytmdl through the src_prepare-overlay.

## Console Log

[code]

[2021-01-14 14:59] abrasivetroop opened #150 "Always getting an error"
## How Ytmdl was installed?

I used pip and I have python3.6.9 and ffmpeg installed. I am on elementaryOS.

## Console Log

[code]

## Description

Always getting this error it doesn't work at all.

[2021-01-16 06:07] drivenbyentropy opened #151 "Add ability to skip item when using --list"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description
Fist off, thank you for this awesome project, it has huge potential and fills a long needed feature-gap youtube-dl currently does not provide. I have a small suggestion for future implementation. When using the

[2021-01-16 13:42] elig0n opened #152 "Interactive song data re-set"
# Feature Request

## Description

Please allow an option to change the search query to the song data provider interactively when asked to choose one of the results for cases when the search query for Youtube doesn't fit the song data provider.

This will prevent cancel of sessions where the song was already downloaded from Youtube but a re-run is required to fix song data search terms.

P.S. I'm

[2021-01-16 13:51] elig0n opened #153 "allow metadata insertion to existing files"
# Feature Request

## Description

It would be cool to update existnig files with metadata

[2021-01-16 14:41] crides commented on #131
Is there any option to turn off this feature? I'm on `2021.01.14`, and I do see songs with chapters in them get splits automatically, but I don't want that for some videos (like mixes). I don't see a option in the manual to turn this off, and I'm not quite sure which commit to look into (there's no linked commit here)

[2021-01-18 05:27] deepjyoti30 commented on #131
@crides There's no flag to disable that feature. As of this release, if the video is recognized as containing split chapters, it will split them automatically. If you want a flag like that you can raise a feature request. I can add it in the next release.

[2021-01-18 05:33] deepjyoti30 commented on #151
@drivenbyentropy I think that would be a valid feature since even I have faced something like that in the past. So are you suggesting a feature that will allow the user to skip the song when the user is asked to choose from a list of songs?

How about something like this:

When the user is asked to select an option out of the various video options, if the user selects `-1`, that song is skipped.

[2021-01-18 05:34] deepjyoti30 commented on #152
@elig0n Seems valid. I will consider this for the next release.

[2021-01-18 05:35] deepjyoti30 commented on #153
@elig0n I am not sure about adding this feature. It would be a big step away from what `ytmdl` already does.

[2021-01-18 05:39] deepjyoti30 commented on #150
@abrasivetroop  Is it possible you have two versions of python installed? Seems like the ytmdl script is being run by `python2` and that's why this error is showing up.

[2021-01-18 06:00] deepjyoti30 commented on #149
@LiEyWe The gentoo source is outdated so one of the dependencies are missing. I will try to talk with the maintainer to get this updated. Thanks for reporting.

[2021-01-18 06:03] deepjyoti30 commented on #149
@xgqt Can you please take a look at this. I'm assuming you're the maintainer of `ytmdl` in the Gentoo repo's?

[2021-01-18 09:10] xgqt commented on #149
I will

[2021-01-18 10:39] xgqt commented on #149
https://gitlab.com/src_prepare/src_prepare-overlay/-/commit/2d3ad33bc3c692ce566295a1192687c501b67f35

@LiEyWe please test

[2021-01-18 16:10] LiEyWe commented on #149
It works now. Thanks a lot :+1:

[2021-01-18 16:10] #149 closed

[2021-01-18 16:18] drivenbyentropy commented on #151
@deepjyoti30 yes, that is exactly my thinking as well. Your suggestion for skipping a song with ``-1`` is great and does not disrupt the overall execution flow.

[2021-01-18 16:28] xgqt commented on #149
@LiEyWe @deepjyoti30 Thanks for cooperation.

[2021-01-27 07:11] #119 closed

[2021-01-31 06:17] deepjyoti30 commented on #151
@drivenbyentropy Should be added in 912029f Consider trying out that commit and report back if it doesn't work.

[2021-01-31 06:47] deepjyoti30 commented on #152
@elig0n Should be added in dc132268ea7a02d1af9f0fccc9db9d4171176d49 Please consider taking a look at the commit and report back if it doesn't work.

[2021-01-31 18:39] miraclx opened #154 "[freyr-js]: Alternative supporting multiple services, many features and customization options"
Nice work on this; I've been working on something similar for the past year now

**freyr-js** https://github.com/miraclx/freyr-js
- supports multiple streaming services (Spotify, Apple Music, Deezer, and more to come)
- automatically embeds album art and song metadata
- exports M4A audio supported in iTunes
- has a myriad of options for customizing the experience (Alternate sources, preferred bitr

[2021-02-01 03:44] deepjyoti30 commented on #154
Not an enhancement

[2021-02-01 03:44] #154 closed

[2021-02-01 12:49] blcarson commented on #122
Still seeing this error on songs when metadata can't be found. The `--skip-meta` still does the trick as a workaround but I end up having to watch to see if it fails first and then rerun the command with that flag.

[2021-02-01 14:29] deepjyoti30 commented on #122
@blcarson This shouldn't happen, especiall in the latest version. Can you share the version of the following:

`ytmdl`: Use `ytmdl --version`
`simber`: Use `pip freeze | grep -i simber`

[2021-02-02 04:12] blcarson commented on #122
`ytmdl: 2021.01.14-1`

second command produced:

[code]

[2021-02-02 04:33] deepjyoti30 commented on #122
@blcarson The versions seem all right. Are you sure it is the same error? In the latest versions the issue should be fixed, it was just a call to a method in the `logger` object that was failing. I fixed it in the next release after realising of this issue.

Can you perhaps share the logs?

[2021-02-02 05:53] blcarson commented on #122
[code]

[2021-02-02 12:04] deepjyoti30 commented on #122
@blcarson The issue here is not the same as what @mrmeszaros raised. His issue was being raised because of language related constraints, which is why he got this error.

In your case, it is because the metadata is being searched by using the youtube URL. You need to pass the name of the song using the `--song` flag.

For eg: in this case:

```ytmdl https://www.youtube.com/watch\?v\=P3aGk_Gwqjw --s

[2021-02-02 18:02] metruzanca opened #155 "Download file if meta is not found instead of erroring out quietly"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

Currently, if you search for an obscure artist e.g.
[code]
After attempting to find meta and not finding it. You get
[code]
Passing `--ignore-errors` changes nothing, it just won't show the error line.
It would

[2021-02-02 18:48] metruzanca opened #156 "Installing inside of Container has weird side-effect"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.01.14`
- Youtube-dl version: `N/A - Don't have it installed separately`

## How Ytmdl was installed?

I'm running it in docker, heres the docker file.
https://gist.github.com/metruzanca/31b2451747b8cce4fe5eda4e840cd410/648939aa7257

[2021-02-02 22:36] kiikoh opened #157 "YouTube said: Unable to extract video data"
# Bug report

## Checklist

- [ x ] I have searched for similar bugs in the issues.
- [ x ] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.01.14-1`
- Youtube-dl version: `2021.01.24.1`

## How Ytmdl was installed?

Installed through setuptools manually and also tried the pip3 install

## Console Log

[code]

## Description

I try to download a song and it throws t

[2021-02-02 23:18] kiikoh commented on #157
Found the issue, I had the new version of yt-dl installed using sudo but the old one without. I had to update ytdl systemwide to fix the problem.

[2021-02-02 23:18] #157 closed

[2021-02-02 23:47] kiikoh opened #158 "Improve Metadata by using a different API (Spotify)"
# Feature Request

## Checklist

- [ x ] I've searched the bugtracker for similar feature requests including closed ones.
- [ x ] I will add the enhancement label to the issue.

## Description

Describe the feature

Currently, the metadata is not all that I was hoping for. I think implementing spotify's metadata will be the best. Users can create a free developer API key on their website.

[2021-02-04 05:36] hussein-esmail7 opened #159 ""~" character not supported in config"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.01.14-1`
- Youtube-dl version: `2021.01.16`

## How Ytmdl was installed?

I installed Ytmdl via pip on my macOS machine (macOS Catalina).

## Description

In the config file, I tried to use the "~" character to refer to the home di

[2021-02-04 10:18] deepjyoti30 commented on #159
@hussein-esmail7 I am aware that the `~` is not parsed to the home directory. I think this can be fixed.

[2021-02-04 10:20] deepjyoti30 commented on #158
@kiikoh Usually the data provided by `itunes` is pretty much for most of the songs, the other providers just help sometimes when the song is not that famous.

Regarding `spotify`, other people have earlier suggested the use of it, however it's hard to add something like that especially because `Spotify` is mostly used for music streaming and since they need a premium account for the API. Anyhow, I

[2021-02-04 10:22] deepjyoti30 commented on #155
@metruzanca I understand the issue. I personally had been thinking that rather than showing the error, it should ask the user if they'd like to go for manual metadata or skip it as a matter of fact. I will take a look into what can be done!

[2021-02-04 10:25] deepjyoti30 commented on #156
@metruzanca Have you set the download directory in the `config` file?

Since the newer versions, if the download directory is not specified than the file is downloaded to the current directory that the user is on. Also `ytmdl` works on the file in the `~/.cache/ytmdl` directory, you can take a look there to see if the files are still there. Also perhaps you can find the `log` in there as well.

[2021-02-04 10:28] metruzanca commented on #155
@deepjyoti30 Awesome! I look forward to it!

Really nice CLI you've made here btw. (came from r/unixporn)

[2021-02-04 12:56] deepjyoti30 commented on #159
@hussein-esmail7 Should be fixed in 54a9139

[2021-02-04 14:33] deepjyoti30 commented on #155
@metruzanca I added a new flag named `on-meta-error` that allows three values: `exit, manual or skip`. The flag, as the name suggests tells `ytmdl` what to do if the metadata step fails.

By default it is set to `exit` which means it will do nothing and just exit.
`manual` takes the user to interactive mode if metadata fails
`skip` just copies the audio file with no metadata if metadata fails.

Th

[2021-02-04 15:02] blcarson commented on #122
OK thanks for the clarification, much appreciated.

[2021-02-05 23:32] sacred58 opened #160 "Cannot download any songs"
# Bug report

## Checklist

- [*] I have searched for similar bugs in the issues.
- [*] I will add the bug label to this issue.

## Version Info

- Ytmdl version: `2021.01.14-1`
- Youtube-dl version: `2021.02.04.1`

## How Ytmdl was installed?

pip3

## Console Log

 ==> Passed args: Namespace(SONG_NAME=[], album=None, artist=None, choice=None, disable_file=False, disable_metaadd=False, disable_so

[2021-02-06 07:44] deepjyoti30 commented on #160
@sacred58 Is this error showing up with every song you're trying to download?

[2021-02-06 07:50] deepjyoti30 commented on #160
@sacred58 Should be fixed in f763167

[2021-02-06 20:51] sacred58 commented on #160
Thanks

[2021-02-08 06:13] #78 closed

[2021-02-13 14:46] ruru4143 opened #161 "[Feature] Using local song-file or playlist-direcotry instead of downloading it"
# Feature Request

I currently have a big music libary downloaded and i want to enchance it with metadata. Because of that i want to parse a song file or a playlist directory from where ytmdl can work on.

## Checklist

- [X] I've searched the bugtracker for similar feature requests including closed ones.
- [X] I will add the enhancement label to the issue.

## Description

[code]

[2021-02-16 07:15] deepjyoti30 commented on #161
@ruru4143 So you want to be able to add metadata to existing song files that you have. Isn't this a duplicate of #153 ?!

[2021-02-16 23:19] ruru4143 commented on #161
Oh. It is, i didn't see it. thanks

[2021-02-16 23:19] #161 closed

[2021-02-17 15:17] matteog24 opened #162 "Can't install ytmdl (sudo python setup.py install)"
# Bug report
`sudo python setup.py` install does not work.

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## Version Info

- Ytmdl version: (can't find it since runnig `ytmdl` says the command does not exist, but it was downloaded from Git on Feb 17)
- Youtube-dl version: `stable 2021.2.10 (bottled)` (installed with Homebrew)

##

[2021-02-18 11:53] akhilsaini678 opened #163 "Failed to change the SONG-DIR"
I have changed SONG-DIR in config file but it is still saving songs in default folder.

[2021-02-18 12:21] deepjyoti30 commented on #162
@matteog24 Seems like you have two versions of python installed. Because of that the `python` command defaults to `python2` so you'd have to go for the `python3` command.

Try installing ytmdl using `sudo python3 setup.py install`.

Also, in order to cross check if `python` is defaulting to `python2`, just run

[code]

Above should probably print something like `python2.x`

[2021-02-18 12:22] deepjyoti30 commented on #163
@akhilsaini678 Can you share a copy of the config? Also try running `ytmdl` with the log level set to `DEBUG` in the following way:

[code]

It might be that the way you've set the `SONG-DIR` is not valid and that is why `ytmdl` is falling back to the default directory instead of using the one provided by you.

[2021-02-18 12:47] matteog24 commented on #162
The Python version used by default is `2.7.16`, while the version 3 is `3.9.1`.

I tried the command (via admin) and it outputs several times:
<code> WARNING: The directory '/private/var/admin/Library/Caches/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, yo

[2021-02-18 12:52] deepjyoti30 commented on #162
@matteog24 So I was right about the issue. That warning is not related to `ytmdl`. You can look for solutions for that. However, ytmdl should be installed now.

Feel free to close the issue!

[2021-02-18 12:58] matteog24 commented on #162
I tried again and it works! Thanks!

[2021-02-18 12:58] #162 closed

[2021-02-18 13:22] akhilsaini678 commented on #163
#*****************************************#
#*-------------config for ytmdl-----------#
#
#-----------------------------------------#
#------PLEASE DON'T LEAVE ANY BLANK LINES---#
#-----------------------------------------#
#
# To change defaults just remove the hash(#)
# from the beginning of the line.
#
#*****************************************
# The SONG_DIR is the directory where all the song

[2021-02-18 13:25] deepjyoti30 commented on #163
@akhilsaini678 Seems like you're trying to run this on an android device. The path looks okay but I cannot vouch for an Android device. If you can, please share the log by running ytmdl using the `ytmdl <song> --level DEBUG`.

[2021-02-18 13:35] akhilsaini678 commented on #163
Isn't there any other way to change the directory

[2021-02-19 10:50] tuwile opened #164 "How do I use --trim option?"
# Question

## Checklist

-  [x] I've looked through the README and the WiKi for something similar.
-  [] I tried talking with the developer on the Telegram support group.

## Question

Write question here
I used `--trim` function to trim the song but it outputs:
[code]

I do not know what dependencies to install......

[2021-02-20 17:49] #164 closed

[2021-02-22 06:26] Catwaiix opened #165 "--quiet with automatic selection of [M]"
# Feature Request

## Checklist

- [X] I've searched the bugtracker for similar feature requests including closed ones.
- [X] I will add the enhancement label to the issue.

## Description

Basically I thought it will be useful to add an --quiet-m option that don't ask the user to select songs if more than one search result. The result with [M] tag in each case will be considered.

[2021-02-22 06:29] deepjyoti30 commented on #165
@Catwaiix I thought that was automatically done since the `[M]` feature was added. I will take a look to see if it's failing or so.

Previously when `--quiet` was passed then the first result was considered but since `[M]` was introduced that was supposed to be considered.

[2021-02-22 06:38] Catwaiix commented on #165
Well, as you can see in this screenshot, it considers the first result only. And since some days ago I started getting this 'chapters' error.

https://i.imgur.com/FLhTEbk.png

[2021-02-22 06:45] deepjyoti30 commented on #165
@Catwaiix I see. I will look into the `--quiet` issue. Also regarding the chapters issue, please consider opening a new issue with proper details on it!

[2021-02-22 07:13] Catwaiix commented on #165
Alright so I got the most updated unstable version because I saw commit f763167, and apparently the chapters issue now is gone so I won't open a new issue. Still, in the latest dev version, verified music is not considered when passing --quiet.

<img src="https://i.imgur.com/VLYZsDE.png">
https://imgur.com/VLYZsDE.png

[2021-02-22 12:36] deepjyoti30 commented on #165
@Catwaiix Should be fixed in bca3534

[2021-02-22 14:35] eitroo opened #166 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 63-65: character maps to <undefined> 'ab_channel' is not recognized as an internal or external command"
# Bug report
I ran:
`ytmdl https://www.youtube.com/watch?v=JWqmJh7JNS4&ab_channel=DOVA-SYNDROMEYouTubeOfficial`
## Version Info

- Ytmdl version: 2021.1.14.post1
- Youtube-dl version: 2021.2.22

## How Ytmdl was installed?
python setuptools
## Console Log

[code]

[2021-02-22 16:29] Catwaiix commented on #165
Now it just works™ like a charm! Thank you for everything!

<img src="https://i.imgur.com/028Ttl9.png">
https://imgur.com/028Ttl9.png

[2021-02-22 16:29] #165 closed

[2021-02-22 17:49] eitroo commented on #166
python: Python 3.6.7

[2021-02-24 01:40] FatSandwich opened #167 "Song Not Downloading"
Traceback (most recent call last):
  File "/opt/virtualenvs/python3/bin/ytmdl", line 456, in <module>
    extract_data()
  File "/opt/virtualenvs/python3/bin/ytmdl", line 451, in extract_data
    main(args)
  File "/opt/virtualenvs/python3/bin/ytmdl", line 244, in main
    chapters = yt.get_chapters(link)
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/ytmdl/yt.py", line 349, in get_c

[2021-02-24 04:27] deepjyoti30 commented on #167
@FatSandwich This is a copy of #160

Please consider checking that issue for the solution.

[2021-02-24 14:36] FatSandwich commented on #167
Thanks, so do I need to wait for that version to come out?

[2021-02-24 15:26] deepjyoti30 commented on #167
@FatSandwich If you want you can try the fix I provided on that issue and see if it fixes your issue. If you want to wait for the stable version then you'll have to wait, there won't be any fix untill it is released.

[2021-02-24 17:51] FatSandwich commented on #167
What do I do with [f763167](https://github.com/deepjyoti30/ytmdl/commit/f7631673ee18a8ce383d5b3872b198570c80f0b4)

[2021-02-25 13:33] deepjyoti30 commented on #167
@FatSandwich You can pull the latest commits from the unstable branch and install ytmdl to try out the latest changes.

[2021-02-25 14:12] FatSandwich commented on #167
I'm not sure how to do that...

[2021-02-25 14:23] FatSandwich commented on #167
What do I do when I'm here f7631673ee18a8ce383d5b3872b198570c80f0b4?

[2021-02-25 14:23] FatSandwich commented on #167
How do I install ytmdl with this?

[2021-02-25 14:27] FatSandwich commented on #167
By the way, I'm using repl.it.

[2021-02-25 14:33] FatSandwich commented on #167
I finally got how to pull it but which file do I run?

[2021-02-25 15:13] deepjyoti30 commented on #167
@FatSandwich Follow the instructions [here](https://github.com/deepjyoti30/ytmdl#manual)

[2021-02-25 17:48] FatSandwich commented on #167
How do I clone the unstable branch and not the manual?

[2021-02-25 17:54] FatSandwich commented on #167
It says

setup.py:48: UserWarning: ytmdl.bash does not exist, skipping.
  warn("%s does not exist, skipping." % filename)
setup.py:48: UserWarning: ytmdl.zsh does not exist, skipping.
  warn("%s does not exist, skipping." % filename)

[2021-02-25 18:22] FatSandwich commented on #167
It's stuck on "Searching Youtube for ..." after

[2021-02-25 18:25] FatSandwich commented on #167
Thank you so much!

[2021-02-25 18:34] FatSandwich opened #168 "Is there a way to get specific metadata?"
I was looking for a song but it couldn't find the metadata. My keyword for the YouTube search was Talk WDW. The song popped up but not the metadata. Is there a way to use different search keywords for the metadata?

[2021-02-25 18:35] #167 closed

[2021-02-25 19:07] FatSandwich opened #169 "How do I use Deezer instead of YouTube?"
How can I use something other than YouTube?

[2021-02-25 19:11] #169 closed

[2021-02-26 05:28] deepjyoti30 commented on #168
@FatSandwich There are two options available. One is the `--song` flag and the other is the `--ask-meta-name` added in #152 .

The `--song` flag should be available in the stable release. However the latter flag is available in the latest unstable branch and will be added to the stable version in the next release.

[2021-03-01 09:24] BramFr opened #170 "Download Songs ffmpeg has no attribute '_run'"
# Bug report

## Version Info

- Ytmdl version: `2021.01.14-1`
- Youtube-dl version: `2021.02.22`

## How Ytmdl was installed?

pip install ytmdl
pip install ffmpeg && apt-get install ffmpeg (7:4.1.6-1~deb10u1)

## Console Log

[code]

## Description
For every download i`ll get this message:
module 'ffmpeg' has no attribute '_run' . Exiting. Pass `--ignore-errors`

[2021-03-02 04:41] deepjyoti30 commented on #170
@BramFr Can you share the version of `ffmpeg-python` by using the following command:

[code]

Also, what is the `ffmpeg` version from this command:

[code]

[2021-03-02 05:54] BramFr commented on #170
[code]

[2021-03-03 04:27] deepjyoti30 commented on #170
@BramFr Probably the package `ffmpeg` is conflicting with the package `ffmpeg-python`.

Ytmdl uses `ffmpeg-python`. You can uninstall the `ffmpeg` package by the following command:

[code]

Once done, cross check if that package is uninstalled by running the freeze command again:

[code]

Once you know that only `ffmpeg-python` is installed, try to run `ytmdl`. It should work all right!

[2021-03-04 09:46] #151 closed

[2021-03-04 09:46] #159 closed

[2021-03-04 09:46] #160 closed

[2021-03-04 10:14] deepjyoti30 commented on #155
Added in the latest release

[2021-03-04 10:14] #155 closed

[2021-03-04 10:15] deepjyoti30 commented on #152
Added in the latest release

[2021-03-04 10:15] #152 closed

[2021-03-04 10:16] deepjyoti30 commented on #133
Not a bug

[2021-03-04 10:16] #133 closed

[2021-03-04 10:17] deepjyoti30 commented on #127
@Ramiferous Is this fixed in `youtube-dl`? Feel free to close this when that happens.

[2021-03-04 10:20] deepjyoti30 commented on #166
@eitroo I think I missed this when I initially looked at your example but in it you have passed the URL `https://www.youtube.com/watch?v=JWqmJh7JNS4&ab_channel=DOVA-SYNDROMEYouTubeOfficial` which also contains the `ab_channel` flag. I think that's why the error appeared.

You can just pass the above URL in the following way and it will totally work:

[code]

[2021-03-04 10:27] deepjyoti30 commented on #156
@metruzanca If you're still interested, recently I had installed `ytmdl` in a Docker container as well and looking at the information you provided, here is an obsevation I made

`ytmdl` will by default download to the current directory (which should be `/app` in the case of Docker).

It seems like you're mounting your `~/Downloads` directory to the `/downloads` directory inside Docker. In that cas

[2021-03-04 10:29] eitroo commented on #166
Still doesn't work. Here the result:
`PS C:\Users\aech\Music> ytmdl https://www.youtube.com/watch?v=JWqmJh7JNS4
 ==> Searching to see if already present in C:\Users\aech\Music
 ==> Searching Youtube for https://www.youtube.com/watch?v=JWqmJh7JNS4
 ==> Choose One (One with [M] is verified music)
 [1] Mercury Lamp @ フリーBGM DOVA-SYNDROME OFFICIAL YouTube CHANNEL by DOVA-SYNDROME YouTube Official with

[2021-03-04 10:29] deepjyoti30 commented on #163
@akhilsaini678 We currently do not have any other way to change the song directory. If you want you can share the logs by using the `--level DEBUG` or by sharing the `log file`. Otherwise I cannot help you with the issue.

[2021-03-04 10:31] deepjyoti30 commented on #166
@eitroo I just tried this on the latest release and it worked all right.

Can you try upgrading to the latest release and upgrade `youtube-dl` as well. That should fix it I guess. Also please post the logs using multiline code block instead of single line.

[2021-03-04 10:38] eitroo commented on #166
@deepjyoti30
I've upgraded with:
`pip install ytmdl --upgrade`
`Successfully installed ytmdl-2021.3.4`

However, same error:
` File "D:\Users\aech\AppData\Local\Programs\Python\Python36\lib\encodings\cp1252.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0]`
`UnicodeEncodeError: 'charmap' codec can't encode characters in position 63-65: character maps to

[2021-03-04 10:42] deepjyoti30 commented on #166
@eitroo Thanks for the log. It seems like it is a [simber](https://simber.deepjyoti30.dev) issue. Can you share the version of `simber` you're using? Use the following command:

[code]

[2021-03-04 10:44] deepjyoti30 commented on #166
@eitroo Also, is this happening with all songs that you're trying to download or just this one in particular and others are working all right?

[2021-03-04 10:50] eitroo commented on #166
It appears it's just this one song.
This one worked at least https://www.youtube.com/watch?v=x4llqoD2kq8.

[2021-03-04 10:55] eitroo commented on #166
@deepjyoti30
simber            0.2.1

[2021-03-04 15:48] #168 closed

[2021-03-11 22:51] Ramiferous commented on #127
Just updated to youtube-dl version 2021.03.03 and still get the same error

[2021-03-11 23:55] NightMachinary commented on #163
@deepjyoti30 I just installed ytmdl and did no config; It downloads to ~/Music, not the PWD. I trieed `SONG_DIR="$PWD" ytmdl -q --title-as-name --nolocal sth`, with no effect.

[2021-03-12 04:24] deepjyoti30 commented on #163
@NightMachinary Can you share your config?

I just tried with the latest version and it does download to the current directory.

Also `SONG_DIR="$PWD"` won't have any effect since the `SONG_DIR` expects a path and no special variabled names.

[2021-03-12 04:28] deepjyoti30 commented on #163
@NightMachinary Just checked the code. The first preferrence is given to the `~/Music` directory. If that is not found then the `XDG_MUSIC_DIR` is tried. Finally if both of them fail, then current directory is used.

[2021-03-15 02:48] Ramiferous commented on #127
I'm going to be using another tool for the same purpose as this which works for me: [tyfzf](https://github.com/pystardust/ytfzf)
I'll close this issue now.

[2021-03-15 02:48] #127 closed

[2021-04-04 22:21] jja88 opened #172 "Sync/Download Private Youtube Music Library"
# Feature Request

## Description
I thought it would be a neat feature to be able to download the whole personal Youtube Music library ( Albums & Playlists ) with help from ytmusicapi to retrieve info
@deepjyoti30

[2021-04-05 04:24] deepjyoti30 commented on #172
@jja88 Thanks for raising the request.

I am currently working to add support for playlists. Once that's done, perhaps I can work on albums. Adding playlist support is a priority though at the moment.

[2021-04-05 07:19] jja88 commented on #172
I've noticed that Albums are basically Playlists on Youtube for example
https://music.youtube.com/playlist?list=OLAK5uy_l8N9VhE-C5aH8Cj0Lfn2nk3IJexBcN3EI
https://www.youtube.com/playlist?list=OLAK5uy_l8N9VhE-C5aH8Cj0Lfn2nk3IJexBcN3EI

[2021-04-05 14:13] deepjyoti30 commented on #172
@jja88 If albums are indeed playlists, I am positive adding support for playlists will work for them! Thanks for letting me know about that though!

[2021-04-10 01:53] DevParapalli commented on #172
The problem with youtube-music's extractor is that you need to have logged-in access to that page which hosts your playlists,

`https://music.youtube.com/library/playlists` gets you the account specific page on which there are multiple playlists, one of which is the Liked Music one. This one is by far the most difficult one to obtain as it uses a generic tag of LM and needs a user-account to obtai

[2021-04-12 11:22] kOchirasu opened #173 "Override Country when searching iTunes"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description
Some songs are not in US iTunes and won't show up in metadata search. Would be nice to allow the country to be specified.

Describe the feature
Need to pass `country` here: https://github.com/sleepyfran/itunespy

[2021-04-12 11:30] kOchirasu commented on #173
I tried this locally but this doesn't seem to solve my problem. Song's actually seem to be available globally, there's just some translation for text. Will close since I don't think this change is necessary,

[2021-04-12 13:23] deepjyoti30 commented on #172
@DevParapalli Thanks for the detailed explanation.

I understand you tried to extract YouTube Music playlist data using a script. Kudos on that. However, I just checked, basically YouTube Music uses same ID's for videos/playlists etc as the ones used by Youtube.

This means, if we are to extract a playlist from Youtube Music, we can easily use the ID and pass it as an Youtube URL. Since there are